[2016-09-07 09:50] narasimhan-v opened #31 "Using the utilities and tests in avocado-vt/virttest"
I see some tests and utilities in avocado-vt/virttest.
If I want to use them and write tests in avocado-misc-tests, what is the recommended way ?

Can I reference them directly ?

Thanks
Narasimhan V

[2016-09-07 09:50] narasimhan-v commented on #31
@apahim @ldoktor Your views would be helpful

[2016-09-07 10:34] ldoktor commented on #31
Hello @narasimhan-v, this is quite generic question. As for the utils it'd be best to move/port them from `avocado-vt` to `avocado`. The tests are not that simple as `avocado-vt` tests are a bit special. Can you please elaborate more on how would you like to reuse them? I'd recommend sending a PR with actual code and mention us there so we don't talk abstract.

[2016-09-07 10:37] narasimhan-v commented on #31
@ldoktor I can point an example, but would be applicable to many utils there.

Lets take `avocado-vt/virttest/nfs.py`
In case I want to use it and write a nfs related test in `avocado-misc-tests`, I need to clone `avocado-vt` and use them.
Is this the recommended way ?

[2016-09-07 11:37] ldoktor commented on #31
Well the `nfs` is tied to avocado-vt `params`. So let me mention some of the possible solutions sorted by correctness:

1. Create a new `avocado.utils.nfs` utility based on the `virttest.nfs` one but turn all the `virttest` special handling into generic API. Then use the `avocado.utils.nfs` inside `virttest.nfs` to keep the old API there.

2. Inspire by `virttest.nfs` and create a new `avocado.uti

[2016-09-23 14:09] narasimhan-v commented on #31
@apahim @clebergnu Any thoughts on this please ?

[2016-10-13 17:33] clebergnu commented on #31
@narasimhan-v defintely the *right* way to go would be do identify your test needs, and propose a port of the Avocado-VT tests/utilities to generic Avocado utility libraries.

Maybe you can choose one to start with, and we should be able to assist (if needed) to get that turned into a generic Avocado utility library.

[2016-10-13 17:37] adereis commented on #31
Another valid option is to simply copy avocado-vt/utils/nfs.py and adapt it to what you need in avocado-misc-tests (make sure you keep the credits and license).

The right way is not always the most practical or feasible way.

[2016-10-26 07:20] narasimhan-v commented on #31
@clebergnu @adereis Thanks, working on it.

[2016-10-27 07:12] ldoktor commented on #31
OK, let's close it, but feel free to re-open it to get additional feedback, if necessary.

[2016-10-27 07:12] #31 closed

[2016-11-08 08:57] PraveenPenguin opened #147 "travis is failing as PEP8 issue"
travis  is failing as PEP8 issue

[root@localhost avocado-misc-tests]# inspekt style
PEP8 disabled: E501,E265,W601,E402
/root/avocado-misc-tests/cpu/ebizzy.py:95:1: E305 expected 2 blank lines after class or function definition, found 1
Style check fail: /root/avocado-misc-tests/cpu/ebizzy.py
/root/avocado-misc-tests/cpu/pmqa.py:70:1: E305 expected 2 blank lines after class or function definition,

[2016-11-08 08:57] PraveenPenguin commented on #147
https://travis-ci.org/avocado-framework-tests/avocado-misc-tests/builds/174126821

[2016-11-08 08:58] PraveenPenguin commented on #147
raised a PR https://github.com/avocado-framework-tests/avocado-misc-tests/pull/146

[2016-11-08 09:31] PraveenPenguin commented on #147
closing this  issue as this is  merged

[2016-11-08 09:31] #147 closed

[2016-11-08 09:31] PraveenPenguin commented on #147
@apahim thanks

[2017-01-16 06:42] narasimhan-v commented on #31
@ldoktor @clebergnu @adereis I have ported the nfs utilities into avocado, as needed for the tests here.
Please have a look into it.
https://github.com/avocado-framework/avocado/pull/1705

[2017-01-23 09:58] vrbagalkote opened #241 "Script avago9361_vd.py not skipping the ir-relavent test cases as desired."
There is a problem with the checking of self.name with the test case name, So script is not skipping the test cases/iteration which are not applicable. I have fixed that and will submit a patch.

[2017-01-23 10:29] vrbagalkote commented on #241
Raised a PR,
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/242

[2017-01-25 09:15] PraveenPenguin commented on #241
closing as @242 accepted

[2017-01-25 09:15] #241 closed

[2017-01-31 05:28] vrbagalkote opened #250 "arcconf_cntl_oper script is skiping the test case due to im-proper checking"
Script arcconf_cntl_oper script skipping the FW flash test case due to improper checking.

2017-01-30 04:06:31,040 download         L0062 INFO | Fetching http://9.47.67.137/repo/firmware/RAID/arcconf/tool/Arcconf-2.02-22404.ppc64el.deb -> /usr/share/avocado/data/cache/Arcconf-2.02-22404.ppc64el.deb.NuO94t
2017-01-30 04:06:31,104 process          L0368 INFO | Running 'dpkg -i /usr/share/avocado/dat

[2017-02-06 06:10] PraveenPenguin commented on #250
@manvanthar can you please have a look in to this ?

[2017-02-06 07:36] PraveenPenguin commented on #250
#252

[2017-02-07 09:50] nasastry commented on #250
@PraveenPenguin
Seems "Arcconf" from "Arcconf-2.02-22404.ppc64el.deb" and "arcconf" are not matching. Case sensitivity issue.

\# rpm -q gcc
gcc-6.2.1-2.fc25.ppc64le
\# rpm -q Gcc
package Gcc is not installed

[2017-02-07 10:36] PraveenPenguin commented on #250
@nasastry  i think this should not be the case as previously after command run successfully (as process.system return zero) it skip the test i think that is not valid  we  have check like if command fail (not able to install package) will do skip the test

[2017-02-07 10:38] PraveenPenguin commented on #250
check this
https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/disk/arcconf/arcconf_cntl_oper.py#L77-L87

[2017-02-09 05:30] PraveenPenguin commented on #250
closing this issue as PR #252 merged

[2017-02-09 05:30] #250 closed

[2017-02-28 07:24] abdhaleegit opened #291 "disktest is failing if the disk size is in TB"
The testscript is hardcoded as 100 GB as the default disk size. test works for all disks <= 100GB

        if gigabytes is None:
            free = 100  # cap it at 100GB by default
            for disk in self.disks:
                free = min(utils_disk.freespace(disk) / 1073741824, free)
            gigabytes = free

the above calculation fails if the disk is larger size like 1TB it fails with

[2017-02-28 08:10] PraveenPenguin commented on #291
@abdhaleegit can you please elaborate more about this issue ?

[2017-03-06 09:02] abdhaleegit opened #309 "cpu/ppc64_cpu_test.py : test case fails on Power6 and Power7 machine"
Older hardware do not support options above SMT= 4

Power6/Power7
[root@ltcp6 ~]# ppc64_cpu --smt=5
SMT=5 is not valid
[root@ltcp6 ~]# echo $?
255

Power8
root@tuleta4u-lp2:~# ppc64_cpu --smt=5
root@tuleta4u-lp2:~# echo $?
0

a check for hardware could be added before the command.

Thanks

[2017-03-06 10:01] narasimhan-v commented on #309
@abdhaleegit Agreed, and I believe the newer hardware also needs changes with this.
Would this check be enough ?
[code]

[2017-03-06 10:33] abdhaleegit commented on #309
don't we have a module to get the platfrom or cpu type in avocado ?
or  platform.processor()  ?

[root@p7-korg-ci1 quotactl]# cat /proc/cpuinfo | grep cpu
cpu		: POWER7 (architected), altivec supported

[root@ltcp6 ~]# cat /proc/cpuinfo | grep cpu
cpu		: POWER6 (architected), altivec supported

[2017-03-06 11:43] PraveenPenguin commented on #309
@abdhaleegit @narasimhan-v  i think  `avocado.utils.cpu.get_cpu_arch()` we can get the processor info

[2017-03-06 19:44] narasimhan-v commented on #309
@PraveenPenguin Sure, then we can directly use this utility for the test

[2017-03-09 06:48] abdhaleegit opened #316 "io/disk/ltp_fs.py : the test fails if the machine do not have extra disk"
test case mandates to supply a disk, and it fails if we do not have extra disk in machine.

if disk is not given, than try to continue test on default dir. as long as test do not fill the root file system its fine, else we have to limit the test run to use minimum disk space available on disk

Thanks

[2017-03-09 07:54] abdhaleegit commented on #291
I have a system with these configuration:
Memory : 255G  Free : 243G
disk : 5.2T Free :  4.4T

calculate for above configuration:

memory_mb = 267683072 / 1024 = 261409
self.chunk_mb = 261409

free = 100   >>>>>>>>>>>>>>> the code says free as 100 byte, and in comment it says 100G = 1 e+11 = 107374182400 bytes
free = min((4.398046511×10¹²÷1073741824, 100)
free = min(40960, 100)
free =  100

self.n

[2017-03-09 11:19] PraveenPenguin commented on #291
fixed in #317

[2017-03-09 11:19] #291 closed

[2017-03-13 04:29] narasimhan-v commented on #309
#321

[2017-03-13 06:37] PraveenPenguin commented on #309
closing in favour of #321

[2017-03-13 06:37] #309 closed

[2017-03-13 08:12] Naresh-ibm commented on #316
@abdhaleegit  working on it, will send the PR soon.

[2017-03-14 14:13] abdhaleegit opened #326 "fs/filebench.py : Test takes hour's to complete if the root disk size is huge"
should we limit the test to run for given time or file size ?

[2017-03-14 14:26] PraveenPenguin commented on #326
@abdhaleegit sure will check

[2017-03-15 08:36] abdhaleegit opened #329 "stress and interbench: huge utilization of cpu/memory causing hung_task_timeout and OOM call trace messages"
perf/stress.py
generic/intrebench

These testcases creates a huge stress on the machine, making the test hung and test never completes.
report is not being generated.

Handle it in testcase to kill the pid for never ending testcases.

[2017-03-16 06:12] PraveenPenguin commented on #329
@harish-24 if possible  can you please have a look on
`perf/stress.py`  i will take a look on` generic/intrebench` ?

[2017-03-16 08:27] apahim commented on #329
From http://people.seas.harvard.edu/~apw/stress/FAQ:

**Question:** did you pass the appropriate options for your system?

---

From http://ck.kolivas.org/apps/interbench/readme:

available ram and moving it around and freeing it. You need to have some
swap enabled due to the nature of this load, and if it detects no swap this
load is disabled.

**Question:** Do you have enough swap to have a sing

[2017-03-16 08:33] apahim commented on #329
Aren't they meant for that? Question is: can your machine survive? :)

[2017-03-20 11:06] PraveenPenguin commented on #316
@abdhaleegit have this fulfilled your requirement  can you please check

https://github.com/avocado-framework-tests/avocado-misc-tests/commit/5ff85c911dcd283b611040d90450ff179d45376f

[2017-03-21 05:38] abdhaleegit opened #343 "ebizzy: patch command not found"
Any tests which uses patch command should first make sure patch package is installed in sm.install(). example is ebizzy.py

I will send a patch for this

[2017-03-21 06:10] PraveenPenguin commented on #343
@abdhaleegit  nice caught can you please check  repository and send a patch of that i see multiple test not check for patch package?

[2017-03-22 06:52] PraveenPenguin opened #349 "Verifying services through service_check.py Test(Dynamic way)"
Problem Statement :

through  service_check.py Test we can only verify services  which is listed in cfg file (services.cfg) can this test is going to extend as able to check all OS service available in system

solution can be

query all running services which is available in os  and perform same operation what is current flow
Test :
`https://github.com/avocado-framework-tests/avocado-misc-tests/bl

[2017-03-28 06:38] PraveenPenguin commented on #316
@abdhaleegit can you please confirm ?

[2017-03-31 10:41] Naresh-ibm opened #378 "git_repo() in avocado/utils/git.py has cloning issue."
git_repo() in avocado/utils/git.py is cloning  the files directly of upstream dir instead it has to clone the dir which contains the files

[2017-03-31 11:03] narasimhan-v commented on #378
@Naresh-ibm logs please

[2017-04-02 18:03] PraveenPenguin commented on #329
@abdhaleegit can you please help us to understand more about this issue as @apahim asked like system resources ?

[2017-04-02 18:03] #316 closed

[2017-04-05 07:32] poojabs7 opened #395 "Unable to install avocado on SLES11_SP4"
It crashes like below.

alp3:~ # avocado --help
Avocado crashed unexpectedly: 'module' object has no attribute 'NullHandler'
You can find details in /tmp/avocado-traceback-2017-04-05_02:32:43-i8q2Rb.log
[Avocado_log.txt](https://github.com/avocado-framework-tests/avocado-misc-tests/files/895428/Avocado_log.txt)

Followed below steps:
Installed git gcc python-devel python-pip libvirt-devel libyaml-

[2017-04-06 07:59] #343 closed

[2017-04-06 07:59] PraveenPenguin commented on #378
@Naresh-ibm any update here ?

[2017-04-06 09:43] narasimhan-v commented on #378
@PraveenPenguin Think this is not a valid one. Anyways, let us wait a couple of days for @Naresh-ibm before closing this one.

[2017-04-12 13:21] PraveenPenguin commented on #395
@poojabs7 seems me python 2.6 issue

[2017-04-12 13:22] PraveenPenguin commented on #378
@narasimhan-v thanks , closing this issue i think @Naresh-ibm is not more facing this issue , @Naresh-ibm if you face again issue please raise a issue

[2017-04-12 13:22] #378 closed

[2017-04-13 06:25] narasimhan-v commented on #395
@poojabs7 What is the version of setuptools installed in your system ?

[2017-04-13 06:26] narasimhan-v commented on #395
`pip install setuptools==30.1.0`
See if this solves your issue

[2017-04-18 10:42] PraveenPenguin commented on #326
@abdhaleegit can you please check as recent changes fix the issue ?

[2017-04-20 09:16] apahim opened #449 "Replace self.skip() by self.cancel() or by skip decorators"
`self.skip()` will be deprecated by the end of this year. Let's adjust the tests in this repo so we don't face any issues in the future.

[2017-04-20 09:20] PraveenPenguin commented on #449
@apahim thanks for pointing this , will rectify this

[2017-04-20 09:22] PraveenPenguin commented on #395
@poojabs7 any update here

[2017-04-24 10:14] naveedus opened #454 "softwareraid with two disk mentioned in the yaml does not exit cleanly."
softwareraid with two disk mentioned in the yaml does not exit cleanly.
We see /dev/md-6 is still part of the software raid.

# avocado run softwareraid.py -m softwareraid.py.data/softwareraid.yaml
 avocado run softwareraid.py -m softwareraid.py.data/softwareraid.yaml
JOB ID     : eaf339b5e0084b99a2162905bcc25f833690e5a5
JOB LOG    : /root/avocado/job-results/job-2017-04-24T06.05-eaf339b/job.log

[2017-04-24 11:11] PraveenPenguin commented on #454
@vrbagalkote can you please have a look in to this issue ?

[2017-04-25 07:12] vrbagalkote commented on #454
@naveedus Can you please attach job.log file.

[2017-04-28 09:45] narasimhan-v commented on #449
Can we start this activity once the next LTS is released (guess it is version 52) ?
The current LTS (version 36) does not support `self.cancel()`.

[2017-05-03 05:33] naveedus commented on #454
[job.log.txt](https://github.com/avocado-framework-tests/avocado-misc-tests/files/972486/job.log.txt)

[2017-05-03 08:04] PraveenPenguin commented on #454
@naveedus are you not facing this any more please suggest ?

[2017-05-04 07:02] naveedus commented on #454
I uploaded the job log and closed this by mistake..
reopening the issue.

[2017-05-12 23:46] clebergnu opened #490 "cpu/pmqa.py falsely PASSes when run as non-root user"
Relevant part of a test execution:

[code]

[2017-05-14 08:16] PraveenPenguin commented on #490
@clebergnu need some help , as for non root user it skip cpufreq test so your point is we need to notify skip instead of false  to flash message as it skip the test

`2017-05-12 19:43:27,045 process          L0479 DEBUG| [stdout] cpufreq_sanity.0: user is not root...                                       skip`

in my point this line (stdout log) make sense  please suggest

[2017-05-14 11:11] narasimhan-v commented on #454
The issue here is:
[code]

@naveedus Please verify if the PR (https://github.com/avocado-framework-tests/avocado-misc-tests/pull/487) solves the issue.

[2017-05-15 21:22] clebergnu commented on #490
@PraveenPenguin yes, exactly!

[2017-05-16 03:24] narasimhan-v commented on #490
@clebergnu Agreed, test status should be `SKIP` instead of `PASS` in this case

[2017-05-16 14:13] PraveenPenguin commented on #490
closing in favour of #495 as issue fixed

[2017-05-16 14:13] #490 closed

[2017-05-17 06:35] abdhaleegit opened #496 "cpu/cpupower : test fails some times"
[stdout] Setting cpu: 68
[stdout] Setting cpu: 69
[stdout] Setting cpu: 70
[stdout] Setting cpu: 71
[stdout] Setting cpu: 72
[stdout] Setting cpu: 73
[stdout] Setting cpu: 74
[stdout] Setting cpu: 75
[stdout] Setting cpu: 76
[stdout] Setting cpu: 77
[stdout] Setting cpu: 78
[stdout] Setting cpu: 79
Running 'cpupower -c 0 frequency-info -f'
[stdout] analyzing CPU 0:
Command 'cpupower -c 0 frequency

[2017-05-18 02:34] vrbagalkote commented on #496
I just had a glance over the script and I guess the problem could be on which distro you are running this script. As, I see in SLES there is no file "scaling_available_governors" in the location /sys/devices/system/cpu/cpu%s/cpufreq/scaling_available_governors, as this is the location from where script is getting the value to be set, and where as in Red-Hat we have this file. As shown below.

SuSE

[2017-05-18 02:42] vrbagalkote commented on #496
Ohh, I am wrong, if that location is not present, test will skip anyway, I missed the first line of the script:)

[2017-05-18 04:01] narasimhan-v commented on #496
@abdhaleegit Hope #499 fixes the issue. Please verify

[2017-05-18 05:12] abdhaleegit commented on #496
ran the test for 100 iterartion.. I did not see the issue.. thanks for the fix

[2017-05-18 11:03] naveedus commented on #454
I verified the issue and now the created raid array is stopped and exits cleanly.
we can close this issue.

meantime I found that minimum 3 disks are required to test RAID1, where 3rd disk is used as spare device used for fail-over.

Interestingly now with 3 disks the test runs RAID 5 test as well which I feel is wrong.
How can mdadm create RAID5 with two disks?

======console logs snippet====
201

[2017-05-18 11:03] #454 closed

[2017-05-18 11:38] naveedus opened #502 "softwareraid with three disk mentioned in the yaml does PASS RAID 5 test"
Softwareraid with three block device mentioned in the yaml file does pass RAID 5 scenario with fail-over test .

=====console log=====
linux-0a5l:~/avocado-misc-tests/io/disk # avocado run softwareraid.py -m softwareraid.py.data/softwareraid.yaml
JOB ID     : d84adcedbc346c4f86965e06a8159e796c931da1
JOB LOG    : /root/avocado/job-results/job-2017-05-18T05.23-d84adce/job.log
 (1/6) softwareraid.py:

[2017-05-18 11:40] naveedus commented on #502
[job.log.txt](https://github.com/avocado-framework-tests/avocado-misc-tests/files/1010721/job.log.txt)

[2017-05-18 11:48] PraveenPenguin commented on #496
@vrbagalkote @narasimhan-v thanks , closing this issue as fix was in

[2017-05-18 11:49] #496 closed

[2017-05-19 10:16] vrbagalkote commented on #502
@naveedus @narasimhan-v @PraveenPenguin , If I understand correctly, this bug for Raid5 test being passed for three drives. And this is how it is supposed to work. Am I missing anything here. Please let me know.

Just FYI...

    RAID 0 – Block level striping. MD can handle devices of different lengths, the extra space on the larger device is then not striped.
    RAID 1 – Mirror.
    RAID 4 – Lik

[2017-05-22 06:53] naveedus commented on #502
Is the force option in the madadm command line creating RAID 5 array with two block device ?

[2017-05-22 14:18] vrbagalkote commented on #502
Can you please try running the same command manually, and post the o/p here, if you see any difference??

[2017-05-23 08:30] PraveenPenguin commented on #326
closing this issue as it seems me fix @abdhaleegit if you are still facing issue please feel free to reopen this issue

[2017-05-23 08:30] #326 closed

[2017-06-02 07:13] vrbagalkote opened #521 "Unable to execute test cases with -m option with Avocado version50"
I am trying to run a testcase with -m option, and avocado throwing an error, avocado run: error: unrecognized arguments: -m PowerVMEEH.py.data/PowerVMEEH.yaml

# avocado run PowerVMEEH.py -m PowerVMEEH.py.data/PowerVMEEH.yaml
usage: avocado run [-h] [-d] [--force-job-id UNIQUE_JOB_ID]
                   [--job-results-dir DIRECTORY] [--job-timeout SECONDS]
                   [--failfast {on,off}]

[2017-06-02 07:13] naveedus commented on #502
According to the MAN page for mdadam
"
  Normally the array will be started after it is assembled.   However  if
       --scan is not given and insufficient drives were listed to start a com-
       plete (non-degraded) array, then the array is  not  started  (to  guard
       against  usage  errors).   To  insist that the array be started in this
       case (as may work for RAID1, 4, 5 or 6), gi

[2017-06-02 07:32] vrbagalkote commented on #521
Closing this bug, as http://avocado-framework.readthedocs.io/en/50.0/release_notes/50_0.html,

[2017-06-02 07:32] #521 closed

[2017-06-02 07:33] vrbagalkote commented on #521
thanks @narasimhan-v for pointing this out

[2017-06-02 09:29] vrbagalkote commented on #502
@naveedus @narasimhan-v @PraveenPenguin , I think usage of "force" is justified, because the test case will have more code coverage, even with minimal HW. Having said that, if we give enough drives, test case will work as expected. So, in my opinion, if we remove "force" option we are reducing test case testing ability.

[2017-06-02 09:54] narasimhan-v commented on #502
By just having a high level understanding, I think `--run` is something to be explored. I will try it in the next week.

Other than that, the current script works fine for the functionality it is expected to.

[2017-06-08 14:35] PraveenPenguin commented on #329
@abdhaleegit still you want to pursue this ?

[2017-07-05 08:47] PraveenPenguin commented on #449
closing in favour #556

[2017-07-05 08:47] #449 closed

[2017-07-10 11:29] PraveenPenguin commented on #502
@naveedus @vrbagalkote any update here

[2017-07-11 12:46] vrbagalkote commented on #502
@PraveenPenguin , @narasimhan-v is looking into this.

[2017-07-11 12:53] narasimhan-v commented on #502
@PraveenPenguin I will be the one to look into this issue, and since this does not give any false failures / passes, I am having this on a lower priority level.
Please assign it to me.

[2017-08-31 09:52] PraveenPenguin commented on #329
closing this is as there is no response from author @abdhaleegit if you still want to pursue this feel free to reopen this

[2017-08-31 09:52] #329 closed

[2017-08-31 09:53] PraveenPenguin commented on #395
closing this issue as it pending from long @poojabs7 if you still want to pursue this feel free to reopen this

[2017-08-31 09:53] #395 closed

[2017-08-31 09:53] PraveenPenguin commented on #349
working on this

[2017-11-09 09:55] fkromer opened #689 "Run of FioTest.test on embedded linux device leads to crash of Avocado"
If the IO/disk tests are run on an embedded linux device with `avocado run ~/avocado-misc-tests-master/io/disk` the test run aborts during execution of FioTest.test which leads to a crash of `Avocado`:

[code]

The relevant log file content:

[code]

Could it be required to adjust the "maximum recursion depth" when the test is run on an embedded linux device.

[2017-11-09 10:01] fkromer opened #690 "Run of Compilebench.test on embedded linux device leads to crash of Avocado"
If the test `Compilebench.test` (located in `~/avocado-misc-tests-master/perf/compilebench.py`) is executed when running the performance tests with `avocado run ~/avocado-misc-tests-master/perf` (I use [avocado v55.0 from PyPi](https://pypi.python.org/pypi/avocado-framework/55.0)) it throws a RuntimeError. The following tests in the test suite are executed.

[code]

[Initial Issue report in the av

[2017-11-09 11:06] fkromer opened #691 "IO driver test suite test 3 execution leads to an "OSError: [Errno 8] Exec format error""
If I run the IO driver test suite with `avocado run ~/avocado-misc-tests-master/io/driver` (I downloaded and unzipped the test repository into `~/avocado-misc-tests-master`) the execution of test 3 leads to an error:

    2017-11-09 10:46:57,002 test             L0965 ERROR| ERROR 3-/home/rc/avocado-misc-tests-master/io/driver/driver_bind_test.py.data/README.txt -> OSError: [Errno 8] Exec format e

[2017-11-09 11:15] fkromer opened #692 "IO driver test suite test 4 execution leads to an "OSError: [Errno 8] Exec format error""
If I run the IO driver test suite with avocado run ~/avocado-misc-tests-master/io/driver (I downloaded and unzipped the test repository into ~/avocado-misc-tests-master) the execution of test 4 leads to an error:

    2017-11-09 10:46:58,746 test             L0965 ERROR| ERROR 4-/home/rc/avocado-misc-tests-master/io/driver/driver_bind_test.py.data/driver_bind_test.yaml -> OSError: [Errno 8] Exec f

[2017-11-09 11:44] fkromer opened #693 "How can I blacklist tests which will SKIP or CANCEL on my machine?"
If I run the IO GenWqe test suite with `avocado run ~/avocado-misc-tests-master/io/genwqe` on a device which does not have an GenWQE accelerator the test status is CANCEL.

    RESULTS : PASS 0 | ERROR 0 | FAIL 0 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 9
    JOB TIME : 13.16 s

In other cases the [test status](https://avocado-framework.readthedocs.io/en/55.0/WritingTests.html?highlight=cancel#tes

[2017-11-09 11:56] fkromer commented on #693
The existence of GenWqe is checked during the test suites [class level `setUp()`](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/genwqe/genwqetest.py#L47). A problem could be that it is hard to distinguish these two cases: (1) the device has no GenWqe and should SKIP the tests and (2) the device has GenWqe but it is not working correctly and CANCEL the tests (as the c

[2017-11-09 12:41] apahim commented on #693
No. In Avocado, the test discovery (used as the only step by `avocado list` and as the first step by `avocado run`) follows a design (security) decision of not executing code from the test. We have to discover all tests by static syntax analysis. Checking whether a test will be skipped/canceled or not before actually running any test code would probably be impossible.

Once you understand the stat

[2017-11-09 13:09] apahim commented on #693
Btw, not really related, but maybe a way out: you can `tag` the tests and then run only the tests tagged with a given tag: http://avocado-framework.readthedocs.io/en/55.0/WritingTests.html#categorizing-tests

[2017-11-09 13:19] fkromer opened #694 "Test suite IO net test HtxNicTest.test raises import error"
I installed Avocado (v55.0) from PyPi and added any additional dependencies with `sudo pip install -r https://raw.githubusercontent.com/avocado-framework/avocado/master/requirements.txt` as well. If I run the IO net test suite with `avocado run ~/avocado-misc-tests-master/io/net` an import error is raised during the execution of the test `HtxNicTest.test`.

The relevant log file content:

[code]

[2017-11-09 13:27] apahim commented on #694
That's a test dependency, not Avocado's:

https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/net/htx_nic_devices.py#L21-L23

You have to install it by yourself.

[2017-11-09 13:30] fkromer commented on #693
Ok, that's reasonable.

I didn't think about that ...

... then there is no doubt about how to interpret the test status any more. Thanks for the explanation.

I will consider that for potential tests I add by myself or for possible PR for existing tests.

[2017-11-09 13:30] #693 closed

[2017-11-09 13:37] fkromer commented on #694
Ok, the test is executed after installing with `[sudo] pip install pexpect`.

[2017-11-09 13:37] #694 closed

[2017-11-09 17:35] fkromer opened #697 "Run of DmaMemtest.test on embedded linux device leads to crash of Avocado"
If `DmaMemtest.test` is run with Avocado v55.0 on a memory constraint embedded linux device Avocado crashes due to a `RuntimeError`. However avocado "recovers from the crash" and continues the test suite execution. The test could be skipped for embedded devices like described in this [related issue](https://github.com/avocado-framework-tests/avocado-misc-tests/issues/689#issuecomment-343109694).

[2017-11-17 03:11] harish-24 commented on #697
@fkromer Can you try increasing the ulimit for open files to a max and check?

[2017-11-17 10:05] fkromer commented on #697
In many situations one is not able to modify the upper limit for open files within a test automation environment I guess (due to permission restrictions). Wouldn't it be reasonable to read the value and use it to configure the test?

(In my case the ulimit is comparably low.)

[2017-11-17 13:07] fkromer commented on #697
I changed the upper limit for the user to the maximal value of `170906`. I get still a `RuntimeError: maximum recursion depth exceeded in cmp`. Does the test use the limit of the current user or another limit (e.g. the kernel specific limit)?

[2017-11-21 02:44] harish-24 commented on #697
@fkromer Can you share more details on the limits and the python version being used? Let me try with the same setup to hit the issue.

[2017-11-21 06:17] PraveenPenguin commented on #690
@fkromer for me test always passed as i think you are facing this issue as you have limited resource in your setup machine and i don't have access of these kind of setup  so not able to reproduce it in my environment , may be this test need to skip on these kind of setup , can you please help more about your setup or it is really helpful if you able to send fix , looking forward for your response

[2017-11-21 06:54] vrbagalkote opened #704 "Mutlipath.py script is failing"
Hi,

Multipath.py script is failing. Attached is the job.log file. I have tried to run the script with dependency code which is still not merged in utils, still no luck. I have discussed this with @Naresh-ibm , and showed him the failure, he will be looking into this.

[job.txt](https://github.com/avocado-framework-tests/avocado-misc-tests/files/1490308/job.txt)

[2017-11-21 11:43] Naresh-ibm commented on #704
@vrbagalkote thanks for report. Will check this.

[2017-11-22 08:00] fkromer commented on #697
@harish-24 In that setup I am using Python v2.7.6 and I have set the soft and hard limit for open files to the maximal value of `170906`. The other values gathered with `ulimit -a` are as follows:

[code]

[2017-11-22 08:02] fkromer commented on #690
@PraveenPenguin Is the `ulimit -a` info from https://github.com/avocado-framework-tests/avocado-misc-tests/issues/697#issuecomment-346271733 giving you the info you need?

[2017-11-24 12:54] Naresh-ibm commented on #704
https://github.com/avocado-framework/avocado/pull/2304
fixed, waiting to get merged.

[2017-11-24 13:35] fkromer commented on #697
@harish-24 I can run the test on another BeagleBone Black (embedded device) with an [Ubuntu 16.04.3 image](https://elinux.org/BeagleBoardUbuntu#Ubuntu_.2816.04.3.29) as well. It is not the same Ubuntu version but could give us additional information...

[2017-11-27 06:48] harish-24 commented on #697
@fkromer Sure. Let know how it goes. I did not hit this issue with the same limits provided.

[2017-11-27 08:57] PraveenPenguin commented on #690
@fkromer setting my set up with your ulimit still i am not able to reproduce this issue

[2017-11-27 09:11] fkromer commented on #690
@PraveenPenguin I will run this test again with another embedded linux board as well https://github.com/avocado-framework-tests/avocado-misc-tests/issues/697#issuecomment-346830158.

[2017-11-28 06:05] PraveenPenguin commented on #690
@fkromer sure thanks  , please let us know   the results

[2017-11-29 04:48] narasimhan-v commented on #704
Merged

[2017-11-29 04:48] #704 closed

[2017-11-29 04:52] narasimhan-v commented on #691
@fkromer This is an issue because of the execute permission given to those files which are actually not a test. Working on it.

Thanks for the report.

[2017-11-29 05:09] narasimhan-v commented on #691
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/711 should fix it

[2017-11-29 05:14] narasimhan-v commented on #689
@fkromer Thanks for the report. That would be a good solution to fix this. Would you like to send a pull request to fix that ?

Alternatively, the fiotest needed atleast 2GB of space on the system to create fio job files. Can you change that and retry the test once again, so that we could nail a better fix ?

[2017-11-29 08:44] fkromer commented on #691
@narasimhan-v I still 2 errors due to `avocado-misc-tests-1/io/driver/driver_bind_test.py.data/README.txt` and `avocado-misc-tests-1/io/driver/driver_bind_test.py.data/driver_bind_test.yaml`:

[code]

[2017-11-29 08:52] fkromer opened #712 "DriverBindTest.test is canceled due to default pci device"
The test `CANCEL`s due to a not existing pci device.

[code]

Seems like the used pci device in the test leads to this `CANCEL` ([source code of the corresponding test setup](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/driver/driver_bind_test.py#L44)). Would it be reasonable to make the used default pci dev somehow configurable?

[2017-11-29 09:57] fkromer commented on #689
@narasimhan-v I am working on a PR.

[2017-11-29 10:15] narasimhan-v commented on #712
@fkromer You can edit the yaml file. But changing the default device in the test does not make sense.

[2017-11-29 10:25] narasimhan-v commented on #691
@fkromer Have you applied the patch from #711 ?

[2017-11-29 11:49] fkromer commented on #691
@narasimhan-v Oh, I missed the patch. Works just fine...

[code]

[2017-11-29 14:45] fkromer opened #716 "Architecture dependent EEH tests fail on other architectures than powerpc"
The tests for pci ["enhanced error handling"](https://www.kernel.org/doc/Documentation/powerpc/eeh-pci-error-recovery.txt) are specific to the powerpc architecture:

[code]

However they are not tagged with `power` or some other suitable tag ([`power` seems to be used for another class of tests](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/cpu/cpupower.py#L31)):

[code

[2017-11-29 14:55] fkromer commented on #716
`CANCEL` of the test during setup like in [io/pci/pci_hotplug.py:PCIHotPlugTest.test](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/pci/pci_hotplug.py#L44) could be suitable.

[2017-11-29 15:08] fkromer opened #717 "DlparPci.test fails on other systems than power4"
When executing the `DlparPci.test` on other systems than POWER4-based systems (observed on ARMv7) the test fails:

[code]

Excerpt from the log file:

[code]

["DLPAR is available on POWER4–based System p systems with microcode updates dated October 2002 or later."](https://www.ibm.com/support/knowledgecenter/en/ssw_aix_72/com.ibm.aix.performance/dyn_log_part.htm)

[2017-11-30 04:31] PraveenPenguin commented on #691
@fkromer can we close this issue if it works for you

[2017-11-30 04:36] PraveenPenguin commented on #712
@narasimhan-v @fkromer i think not seems me issue as via yaml file it  should work can we close this  ?

[2017-11-30 04:39] PraveenPenguin commented on #716
@fkromer sure seems  good solution to fix this issue . Would you like to send a pull request to fix this  ?

[2017-11-30 04:42] PraveenPenguin commented on #717
@vrbagalkote can you please look into this issue

[2017-11-30 05:56] narasimhan-v commented on #712
@PraveenPenguin yes.

[2017-11-30 05:56] #712 closed

[2017-11-30 05:57] narasimhan-v commented on #691
Since @fkromer has confirmed and the PR has merged, closing this.

[2017-11-30 05:57] #691 closed

[2017-11-30 06:00] narasimhan-v commented on #692
This is also fixed via #711

[2017-11-30 06:00] #692 closed

[2017-11-30 09:17] fkromer commented on #716
@PraveenPenguin Sure, I can PR...

[2017-11-30 09:32] fkromer commented on #697
In case someone want's to install `avocado` on the BeagleBone Black as well:

With the [BBB Ubuntu 16.04.3 image](https://elinux.org/BeagleBoardUbuntu#Ubuntu_.2816.04.3.29) (locales need to be configured before install of `avocado`) and probably [BBB Debian 9.1 LXQt image](https://debian.beagleboard.org/images/bone-debian-9.1-lxqt-armhf-2017-08-24-4gb.img.xz) as well use `sudo apt-get install libl

[2017-11-30 11:03] fkromer opened #719 "Test results of run on embedded linux system"
I executed tests on an embedded linux device (BeagleBone Black) using an [Ubuntu 16.04.3 demo image](https://elinux.org/BeagleBoardUbuntu#Ubuntu_.2816.04.3.29). How shall I provide the results to you? (I am not sure if it is suitable to paste it here as people shouldn't but could use that in production?)

[2017-11-30 11:27] fkromer opened #720 "Question: Relation of tests to other frameworks"
The `README` states that a lot of tests are ported from `autotest`. Some tests like `/cpu/pmqa.py:Pmqa.test` seem to be ports from the [Linaro Power Management test suite](https://wiki.linaro.org/WorkingGroups/PowerManagement/Resources/TestSuite/PmQaSpecification) ([Linaro test definitions](https://git.linaro.org/qa/test-definitions.git)). Does someone know about other relations like these. It wou

[2017-11-30 11:36] narasimhan-v commented on #720
@fkromer Usually the docstring and `README` of the test are placeholders for such informtion

[2017-11-30 11:41] fkromer commented on #720
@narasimhan-v Ok. Means after generating Sphinx docs I could search docstrings. Could the `README`s of the tests parsed somehow?

[2017-11-30 14:38] vrbagalkote commented on #717
@fkromer If I understand correctly, you are running on ARM processor right?

When you say other than Power4, on which machine have you tried? Also can you please share your yaml parameters , and if possible complete job.log file.

Thanks in advance,
Venkat.

[2017-11-30 14:53] vrbagalkote commented on #716
@fkromer thanks for the report...I have changed the script for other EEH test as well.

[2017-11-30 14:58] fkromer commented on #717
@vrbagalkote Yes, I am running on ARM, more specific on ARMv7. I am running the tests on another processor (ARM Cortex-A8) as well right now. As I want to diff the logs of all tests for both systems first I have not changed the yaml parameters from the defaults yet.

[2017-11-30 15:07] vrbagalkote commented on #717
@fkromer Can you please give required yaml parameters, as specified in Redame file and try once?

[2017-11-30 16:22] fkromer commented on #689
I ran the test in isolation just fine:

[code]

I run the whole test set again to figure out if one/several of the the previous tests consume more than `0,4G` disk space and does not free it during teardown.

[code]

[2017-11-30 16:54] fkromer commented on #689
The test passes when run in this sequence as well:

[code]

Probably other tests run before this test/test sequence lead to the failing test. We could add a check of the available disk space. However this is no priority for me and I will not be able to implement this now. Feel free to close this issue...

[2017-12-01 03:56] narasimhan-v commented on #689
@fkromer The disk utilisation depends on the size specified in yaml file. So, it is difficult to address that in the test.

Since the test is working, closing the issue.

[2017-12-01 03:56] #689 closed

[2017-12-01 03:57] narasimhan-v commented on #720
@fkromer I am not aware of any way to do that via some tool.

[2017-12-01 04:00] narasimhan-v commented on #719
@fkromer You could upload it to some cloud storage and give us permission.

[2017-12-01 09:21] fkromer opened #725 "Avago storage adapter tests fail on systems without adapters"
When executing the test suite `io/disk` with `avocado run ./io/disk` and default configuration (no modification of yaml files, etc.) the tests for the Avago storage adapter `FAIL` (with `io_disk.log` as log file of the test suite run):

[code]

[2017-12-01 10:03] fkromer commented on #719
@narasimhan-v I've send you an email and granted access to web storage with test suite run results (cpu, generic, memory, perf) and other relevant information.

[2017-12-01 10:15] fkromer commented on #719
@PraveenPenguin I've send you an email as well.

[2017-12-01 11:26] fkromer opened #727 "Is NStress.test suiteable for other systems than IBM AIX?"
The test `generic/nstress.py:NStress.test` fails if run on Ubuntu + ARMv7 arch. Is this test suitable for non-AIX systems? ( [IBM developerworks - nstress](https://www.ibm.com/developerworks/community/wikis/home?lang=en#!/wiki/Power+Systems/page/nstress) / [wikipedia - IBM AIX](https://en.wikipedia.org/wiki/IBM_AIX))

[code]

[2017-12-01 11:33] fkromer opened #728 "Package_check.test fails on ARMv7"
When the test `generic/packages.py:Package_check.test` is executed on system with ARMv7 cpu it fails. Seems like it is specific to powerpc (`job_generic_repo_tests.log` is the log file of the whole test suite `generic`):

[code]

[2017-12-01 12:01] vrbagalkote commented on #725
@fkromer Plz provide parameteres specified in Readme file. Yes script will fail, and is expected if no values are given.

[2017-12-01 13:54] fkromer opened #729 "Question: Is it possible to configure all test executions from a central point"
Is it possible to define the configuration of all or several tests in one central place instead of in the test specific configuration files? E.g. test [/io/pci/pci_hotplug.py](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/pci/pci_hotplug.py) is configured in the configuration file [/io/pci/pci_hotplug.py.data](https://github.com/avocado-framework-tests/avocado-misc-t

[2017-12-01 14:42] fkromer opened #730 "Suggestion: Inform users about potentially harmful tests"
Some tests like [trinity](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/6ab5b21b84d5c2458e11c536765e701e876e9eef/fuzz/trinity.py) ([its README](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/6ab5b21b84d5c2458e11c536765e701e876e9eef/fuzz/trinity.py.data/README)) can be harmful to the environment of the system under test (not only the system under test itself

[2017-12-01 15:54] fkromer opened #731 "lsscsi is not installed during test setup of /io/disk/arcconf tests"
The installation of `lsscsi` in the setup of the `arcconf` tests like [io/disk/arcconf/arcconf_cntl_oper.py](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/disk/arcconf/arcconf_cntl_oper.py#L43) is not executed when the test is executed on Ubuntu 14.04.5 LTS.

[code]

I needed to manually install it with `sudo apt-get install lsscsi`.

[2017-12-04 08:58] fkromer opened #734 "Test SmartctlTest.test fails on systems without hard and solid-state drive"
The test `./io/disk/smartctl.py:SmartctlTest.test` is not suitable for systems without a disk with support for SMART (a lot of ATA/SATA and SCSI/SAS hard drives and solid-state drives). A `CANCEL` would be suitable.

[2017-12-04 10:13] narasimhan-v commented on #734
@naveedus Can you please check this one ?

[2017-12-04 10:17] narasimhan-v commented on #730
@fkromer @PraveenPenguin Good suggestion to have a generic way of indicating harmful tests. Would it be better to have tagging of harmful tests with a keyword, like `harmful` for example ?

[2017-12-04 10:19] narasimhan-v commented on #729
@fkromer Can you explain in detail please ?

[2017-12-04 10:21] narasimhan-v commented on #731
@naveedus @fkromer One of you can make the test script to install lsscsi :-)

[2017-12-04 10:39] PraveenPenguin commented on #728
@fkromer thanks for reporting ,  Would you like to send a pull request to fix this ?

[2017-12-04 10:40] PraveenPenguin commented on #727
@Pavithra1602 can you please help here

[2017-12-04 11:36] fkromer commented on #728
@PraveenPenguin I am planning to PR for a lot of issues. W.r.t. workflow it is faster to analyse all failing tests first and fix them together later. However it depends on the scheduling of my tasks if I will be able to actually PR in the near future.

[2017-12-04 11:44] fkromer commented on #729
@narasimhan-v Right now a user of the repository needs to fork it to being able to configure the tests specific to the users system in a lot of different configuration files. If one would be able to configure the overall set of test suites/tests the user could hold this information in one central "place" potentially separate from the repository. However this is no proposal but a question. If this

[2017-12-04 13:53] fkromer opened #736 "Test HWInfo.test has status ERROR on Ubuntu 14.04"
The test `generic/hwinfo.py:HWInfo.test` depends on `hwinfo` [which is not available for Ubuntu 14.04](https://askubuntu.com/questions/662971/hwinfo-replaced-with-what/662973#662973) out of the box. When executed the test status is `ERROR`.

[2017-12-04 13:56] narasimhan-v commented on #729
@fkromer Since the config (yaml) files are dependent on the test scripts, I guess having a separate repository for config will add a lot of maintenance overhead, and deviations. But having one single yaml file for more test / test suites is possible, and can be maintained as your fork downstream, as per the requirements.

[2017-12-04 14:01] fkromer opened #737 "Test Sysbench.test does not install sysbench during setup"
The test `generic/sysbench.py:Sysbench.test` does not install `sysbench` during setup. A manual installation (on Ubuntu with `sudo apt-get install sysbench`) is required.

[2017-12-04 16:29] fkromer opened #738 "Test suite generic/lshw.py is ERROR due to package installation during setup"
The test suite `generic/lshw.py` fail as `ERROR` with `TestSetupFail: Fail to install lshw required for this test.` because the package `lshw` is not installed during setup. After manual installation with `sudo apt-get install lshw` on Ubuntu the tests run without any problems. (`Lshwrun.test_lshw_verification` and `Lshwrun.test_lshw_options` require explicit configuration.)

[2017-12-04 16:47] narasimhan-v commented on #729
You can do that.

@fkromer That is just to collate all yaml parameters of tests into one single yaml, though it is not as easy. You would need to take care of conflicting parameters

[2017-12-04 16:59] fkromer commented on #729
@narasimhan-v I just keep our fork of the repo with custom configuration. Makes maintenance a lot easier.

[2017-12-04 17:10] fkromer opened #739 "Test Lshwrun.test_lshw_verification fails due to command line output not considered yet"
Test `generic/lshw.py:Lshwrun.test_lshw_verification` [fails in this check](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/generic/lshw.py#L108) due to `ifconfig` output not considered yet.

Output of `ifconfig | head -1 | cut -d':' -f1`:

[code]

Output of `lshw -class network`:

[code]

[2017-12-04 19:05] apahim commented on #729
You can use the YAML test loader:
http://avocado-framework.readthedocs.io/en/latest/optional_plugins/yaml_loader.html

Long story short, there's a specific YAML key (`test_reference`) that can be understood by the Avocado loader to be used as the test reference. The rest of the file is just a regular Avocado YAML parameters file, but the variants will be created per test_reference, meaning each `t

[2017-12-04 19:07] apahim commented on #729
Of course, you have to make sure that both `test_reference`s and `!include`s are pointing to valid path locations.

[2017-12-05 03:36] harish-24 commented on #738
@fkromer Could you run the test using "sudo" from cmdline and check?

[2017-12-05 04:28] PraveenPenguin commented on #736
@fkromer thanks for report , i think this test will skip on this condition  what you say ?

[2017-12-05 06:46] PraveenPenguin commented on #737
@fkromer thanks for reporting , all test case which is required sudo privileged, you need to run through sudo

as example `sudo avocado run generic/sysbench.py ` or you tried to provide sudo password of running terminal once , it will help to run test without sudo but you need to increase  session time out
you can play with visudo with following param
`Defaults        env_reset,timestamp_timeout=3

[2017-12-05 06:47] PraveenPenguin commented on #737
@fkromer there was some issue in  sysbench test  fixed it in  #741 now it should works for you

[2017-12-05 06:51] PraveenPenguin commented on #731
@narasimhan-v i think here also the issue with sudo privileged  #737 in this issue i requested @fkromer to try with recommendation

[2017-12-05 07:10] narasimhan-v commented on #731
@PraveenPenguin Could be. I thought the package installlation was not part of the test.

[2017-12-05 07:41] fkromer commented on #719
To setup the Ubuntu 16.04.3 demo image for the tests proceed as follows. Install the [demo image onto a sd card](https://elinux.org/BeagleBoardUbuntu#Ubuntu_.2816.04.3.29). Perform a minimal setup of the demo image:

[code]

Proceed with the usual installation of `avocado` afterwards.

[2017-12-05 07:54] fkromer commented on #738
I tried it again after "restore" of initial system state with `sudo apt-get purge lshw`. The ERROR doesn't show up when executed with `sudo`. Is it suitable to add the `priviledged` tag to the [test](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/generic/lshw.py#L22)?

[2017-12-05 08:16] fkromer opened #742 "Test Aiostress.test fails during command invocation"
When executing the test `Aiostress.test` with `sudo avocado run perf/aiostress.py:Aiostress.test` on Ubuntu 16.04.3 on an embedded linux system it fails due to `CmdError: Command './aio-stress foo' failed (rc=-11)` with status `ERROR`.

[code]

[2017-12-05 08:17] harish-24 commented on #738
@fkromer Not sure about that. Because most of the test installs some primary/dependency packages. In that case I guess most of the tests are `privileged`. @narasimhan-v @PraveenPenguin Can you comment on this?

[2017-12-05 10:18] fkromer commented on #737
@PraveenPenguin It is working for me now:

[code]

[2017-12-05 10:37] fkromer commented on #736
@PraveenPenguin Actual output:

[code]

Log file content:

[code]

[2017-12-05 10:43] fkromer commented on #725
@vrbagalkote My system does not have an Avago storage adapter. It makes no sense to specify the parameters then. I thought the test would be `CANCEL` when the test is run as part of the whole test suite `io/disk`.

[2017-12-05 10:49] fkromer commented on #729
For to the point reference: [other YAML to mux loader examples](https://github.com/avocado-framework/avocado/tree/master/examples/yaml_to_mux_loader).

[2017-12-05 11:36] fkromer opened #743 "Test Bonnie.test fails when building bonnie++ in setup"
The test `Bonnie.test` fails when executed on Ubuntu [during setup where bonnie++ is built](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/disk/bonnie.py#L43).

Is a package installation like on Ubuntu via `sudo apt-get install bonnie++` possible on other currently supported platforms as well?

[2017-12-05 11:40] harish-24 commented on #736
@fkromer It should be `self.cancel`. you can send a patch changing `self.error` to `self.cancel`.

[2017-12-05 13:41] PraveenPenguin commented on #737
@fkromer thanks , will wait for #741  to merge

[2017-12-05 13:52] fkromer opened #744 "Test Xfstests.test depends on replaced package"
On Ubuntu 14.04 the test status is `CANCEL` due to  `TestCancel: Fail to install libtool-bin required for this test.`. The reason for that is that `libtool-bin` has been replaced by `libtool`.

[2017-12-05 14:24] fkromer commented on #744
The distro could be checked like [here](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/837fd88fb185943f77281bdb7b90de095dff0d69/perf/aiostress.py#L46) for conditional setup for ubuntu.

[2017-12-05 14:25] harish-24 commented on #744
@fkromer You are right. `libtool-bin` was available after 14.04 from Ubuntu. Please feel free to make all the changes necessary to support 14.04. Thanks for reporting.

[2017-12-05 14:29] harish-24 commented on #744
@fkromer Yes. `distro.detect().version` would give you that.

[2017-12-06 02:46] harish-24 commented on #739
@fkromer Can you elaborate the issue here? Apart from running with `sudo`, is there anything else?

[2017-12-06 05:35] PraveenPenguin commented on #737
closing this issue as #741 already merged

[2017-12-06 05:35] #737 closed

[2017-12-06 07:11] fkromer commented on #739
@harish-24 Probably the test fails [here](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/generic/lshw.py#L108)

[code]

because the string output `eth0      Link encap` of `ifconfig | head -1 | cut -d':' -f1` (in variable `active_interface`) is not contained in `process.system_output("lshw -class network")`

[code]

However I am not sure about `.strip()` in `process.syst

[2017-12-06 07:51] fkromer commented on #744
@harish-24 If your are not working on this already I can PR.

[2017-12-06 07:59] PraveenPenguin commented on #743
@fkromer can you please check this PR #745 as i think it solve your reported purpose

[2017-12-06 08:04] PraveenPenguin commented on #731
@fkromer can you please confirm is this works with `sudo` ?

[2017-12-06 08:07] PraveenPenguin commented on #730
@narasimhan-v @harish-24 let's discuss which is test cases are  ```harmful``` and will tag those test case , till that time we can leave this issue as open

[2017-12-06 08:45] PraveenPenguin commented on #742
@fkromer still it seems me system resource issue , can you please let me  how much storage on your setup

[2017-12-06 09:00] harish-24 commented on #739
@fkromer Yeah the problem is with the `strip()` part. `"eth0 Link encap".strip()` strips only the extra spaces. As a fix you could as something like `"eth0 Link encap".strip().split()[0]` which gives you `eth0`

[2017-12-06 09:01] harish-24 commented on #744
@fkromer Sure, you can start with it.

[2017-12-06 09:46] fkromer commented on #731
@PraveenPenguin I "cleaned up from" `lsscsi` with `sudo apt-get purge lsscsi` and run again with `sudo`. The package was installed just fine:

[code]

[2017-12-06 09:46] #731 closed

[2017-12-06 10:10] PraveenPenguin commented on #744
closing this issue as already PR merged

[2017-12-06 10:10] #744 closed

[2017-12-06 10:29] fkromer commented on #743
@PraveenPenguin The installation (via compilation) of `bonnie++` looks good:

[code]

[2017-12-06 10:42] PraveenPenguin commented on #743
@fkromer thanks for confirmation so your setup has already `bonnie++` can  you want to try to install  `bonnie++` from distro if it possible

[2017-12-06 11:15] fkromer commented on #743
@PraveenPenguin Ah right. I compiled it before and just tried to restore with `sudo apt-get purge bonnie++`.

[2017-12-06 11:53] fkromer commented on #743
When executed on my embedded linux device (Ubuntu 14.04) the test still fails. (I did a quick and dirty `sudo rm /usr/local/sbin/bonnie++` before executing it.)

[code]

[2017-12-06 13:06] fkromer commented on #720
@narasimhan-v Me neither.

[2017-12-06 13:12] #716 closed

[2017-12-06 13:18] fkromer commented on #739
@harish-24 Ah right. As `.strip().split()[0]` does work in case no link encapsulation info is included in the output of `ifconfig` as well I PR with this your solution.

[2017-12-06 14:31] fkromer commented on #734
One could check for hard disks with `sudo lshw -class disk` which gives in case of a single ATA disk an output containing `description: ATA Disk`. Even if `eMMC` devices are present in the system they will not be contained in the output.

[2017-12-06 15:09] fkromer commented on #719
Issue closed as possible support for additional embedded linux systems will be an ongoing process.

[2017-12-06 15:09] #719 closed

[2017-12-06 16:13] fkromer opened #749 "Question: Best practices how to select, configure and execute overall test sets"
I want to define a custom set of tests which shall be run as part of a build job (e.g. "smoke test"). I would like to *select*, *configure* and *execute* them. What possibilities do I have

- to define test sets,
- to configure these tests and
- to execute the tests?

As far as I know the configuration of tests happens in test specific `.yaml` files. It is possible to include several `.yaml` confi

[2017-12-06 16:23] apahim commented on #749
Have you played with test tags? http://avocado-framework.readthedocs.io/en/56.0/WritingTests.html#categorizing-tests
That would cover the "to define test sets" phase, but not the "configuration" of those tests. For that, there's a card under discussion: https://trello.com/c/jcRIUNoB/1085-add-default-params-variants-sources.

[2017-12-06 16:34] fkromer commented on #725
@vrbagalkote Probably it is possible to check for hw raid controllers with `lspci | grep -i raid` like [described here](https://supportex.net/blog/2010/11/determine-raid-controller-type-model/).

[2017-12-06 16:54] fkromer commented on #749
@apahim Yes. For me it is not that clear what tests are executed/skipped when white/blacklisting tests with tags. Right now I would prefer to have total control about which tests are executed (and with what configuration). Thanks for the trello card hint. I am looking forward to progress in this direction.

[2017-12-07 04:42] PraveenPenguin commented on #739
closing this issue as PR already merged

[2017-12-07 04:42] #739 closed

[2017-12-07 06:42] vrbagalkote commented on #725
@fkromer Looking into this...

[2017-12-07 07:12] apahim commented on #749
The level of control over the Job execution you're looking for is expected to be achieved when the Job API is ready: https://www.redhat.com/archives/avocado-devel/2016-April/msg00014.html
But there are no commitments to the deadline for its implementation so far.

[2017-12-07 13:58] fkromer commented on #742
@PraveenPenguin The available memory available initially is about 1.3G. But after execution of avocado tests the available space shrank significantly (I can't remember how much it was). I run the test again with an "unused" image.

[2017-12-07 14:06] fkromer commented on #742
@PraveenPenguin The test still fails with status `ERROR` right after starting the execution:

[code]

[2017-12-07 15:17] fkromer opened #750 "error_cleanup prevents from execution of generic test suite"
[generic/error_cleanup.py](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/generic/error_cleanup.py#L34) leads to a "hard coded" test status of `ERROR`. Means it is unsuitable to be executed in test suites. Is it a test for `avocados` teardown functionality? Is it suitable to move the test or inform users about that it should not be used in test suites?

[2017-12-07 15:38] fkromer commented on #729
@apahim I am using `avocado` v56 with the plugin [`loader_yaml` from PyPi](avocado-framework-plugin-loader-yaml). The plugin seems to be installed:

[code]

I added a `testcase.yaml` file in the root directory of the test repo with your content from above. I tried to run the tests but I get an error:

[code]

[2017-12-07 16:45] fkromer commented on #729
Is it possible to define a `yaml` file in the root directory which loads other `yaml` files from other directories? (That would allow directory based configuration and test selection.) Could e.g. `alltests.yaml` (in the root directory) load `cpu.yaml` (in `/cpu`), `fs.yaml` (in `/fs`), and so on?

[2017-12-07 17:33] fkromer opened #751 "Question: Configuration of pmqa.py test"
In my system I don't want to allow some governors. If the corresponding tests run they are "skipped" by `pm-qa` which results in an overall test status of `pmqa.py` as `FAIL`. Is it possible to configure the test `cpufreq_05` that it does just execute the tests for specific governors?

[2017-12-08 03:40] PraveenPenguin commented on #751
@fkromer yes make sense we can skip those test case on this case

[2017-12-08 03:40] PraveenPenguin commented on #751
@shriyak can you please have a look on this

[2017-12-08 06:41] narasimhan-v commented on #729
Works for me:
[code]

[2017-12-08 12:39] apahim commented on #729
Yep, my example was not intended to work, considering the paths and the files are not real. If you provide accurate paths, it should work.

[2017-12-08 14:17] fkromer commented on #729
@apahim Ah, was not clear to me.

[2017-12-08 15:57] fkromer opened #752 "Configuration of lshw.py tests"
The test `lshw.py:test_lshw_options` is specific to `scsi`. For systems without `scsi` it would be helpful to beeing able to disable this test.

[2017-12-08 16:28] fkromer opened #753 "Configuration of sosreport.py"
How do I have to configure `sosreport.py` for Ubuntu14.04 armhf? (If I run the test with the default configuration the test fails with status `FAIL`.)

[code]

[2017-12-08 17:08] fkromer opened #754 "Suggestion: Tagging of remote execution only tests"
Seems like some tests like [`generic/pstore.py`](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/generic/pstore.py) are suitable for remote execution only. Would it make sense to tag them accordingly like e.g. `remote`?

[2017-12-11 08:55] fkromer opened #756 "Test module_unload_load.sh is not executed as part of the test suite "io driver""
When executing the io_driver test suite with `sudo avocado run io/driver/` the test [module_load_unload.sh](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/driver/module_unload_load.sh) is not executed.

[2017-12-11 15:09] fkromer opened #757 "Test NetworkUtilities.test_traceroute fails due to an output not considered in regex yet"
Seems like `net_tools.py:NetworkUtilities.test_traceroute` fails because I have an output which is not considered in the [regex](https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/net/net_tools.py#L233) yet. The log output states:

    2017-12-11 14:58:16,325 test             L0970 ERROR| ERROR 4-net_tools.py:NetworkUtilities.test_traceroute -> AttributeError: 'NoneType'

[2017-12-12 10:46] sacsant commented on #738
Per man page for lshw command
"NOTES
       lshw  must be run as super user or it will only report partial information."

We should add privileged tag to this test case.

[2017-12-13 09:13] PraveenPenguin commented on #756
@Naresh-ibm i think you are also facing same issue

[2017-12-13 14:42] PraveenPenguin commented on #756
@fkromer can you try now it should work , #758 solved this issue @Naresh-ibm thanks for PR

[2017-12-15 13:16] fkromer commented on #734
**Improvement**

If the system uses an eMMC the use of `mmc-utils` could be suitable to implement a health check ([superuser - Check health of eMMC](https://superuser.com/questions/1181300/check-health-of-emmc)). `badblocks` (in package `e2fsprogs`) could possibly be used as well. In comparison with SMART `badblocks` it writes simple patterns to every block of a device and then reads and checks th

[2017-12-27 13:44] abdhaleegit commented on #753
@fkromer '-s' or '--sysroot' options is available only with latest version of sos package.
check your sos package should be sos-3.3-4 and later.
sos-3.1 does not have '-s' support.

please upgrade your rpm package.

[2017-12-27 13:52] abdhaleegit commented on #752
How do we check if system is without scsi ?
could you please run 'lshw -class scsi -class disk -class storage -short' and paste the out put here ?

skip the test if no scsi devices found in above ouput.

in powerpc:
# lshw -class scsi -class disk -class storage -short
H/W path    Device                                                           Class      Description
===============================

[2018-01-03 10:45] fkromer commented on #752
@abdhaleegit The output on a system without `scsi` is as follows:
[code]

[2018-01-03 11:34] fkromer commented on #753
@abdhaleegit If I run the test with `sosreport v3.4` and `sudo` I still get a `FAIL`.

[code]

The job log file looks still the same:

[code]

[2018-01-03 12:44] fkromer commented on #756
@PraveenPenguin My cloned `avocado-misc-tests` contain the commit with the file permission changes `git show 8b4e9a4e9` of the PR. However if I list the files in the cloned directory the file is not executable:

[code]

[2018-01-03 15:04] #756 closed

[2018-01-03 15:06] #720 closed

[2018-01-03 15:22] fkromer commented on #754
To find `remote` only tests I searched for `"from virttest import remote"`:

* avocado-misc-tests/generic/kdump.py
* generic/pstore.py

[2018-01-05 11:47] fkromer opened #778 "Suggestion: Packaging of avocado-misc-tests"
Packaging `avocado-misc-tests` would allow deployment of tests like done for the example tests of the `avocado-framework` (refer to its [`setup.py`](https://github.com/avocado-framework/avocado/blob/master/setup.py#L72)) via pip/[PyPi](https://pypi.python.org).

[2018-01-11 06:06] PraveenPenguin commented on #754
closing this issue as PR got merged , @fkromer thanks for suggestion as well PR

[2018-01-11 06:06] #754 closed

[2018-01-11 06:41] PraveenPenguin commented on #750
@narasimhan-v what you say on this , i think we can  remove this test as it is kind of example

[2018-01-11 08:14] narasimhan-v commented on #750
sure

[2018-01-11 09:32] balamuruhans commented on #750
@narasimhan-v @PraveenPenguin https://github.com/avocado-framework-tests/avocado-misc-tests/pull/781

[2018-01-11 10:35] PraveenPenguin commented on #750
@balamuruhans thanks , closing as PR already merged

[2018-01-11 10:35] #750 closed

[2018-01-17 14:33] PraveenPenguin commented on #743
closing this issue as changes merged

[2018-01-17 14:33] #743 closed

[2018-01-17 14:58] PraveenPenguin commented on #738
PR #785 address this issue

[2018-01-17 15:29] fkromer commented on #738
@harish-24 Right. For me it is sufficient to know that I need to run as `su`. I am just asking because the tagging as `privileged` is inconsistent. For a user either having "all" test tagged or no test would be easier to understand. Probably one could skip `privileged` completely then.

[2018-01-24 05:25] PraveenPenguin commented on #738
closing this issue as PR #785 merged , @fkromer if this solution not works for you please feel free to reopen

[2018-01-24 05:25] #738 closed

[2018-02-07 05:10] abdhaleegit opened #795 "memory/transparent_hugepages_defrag.py: No Memory Defragmentation"
[thp-defrag.txt](https://github.com/avocado-framework-tests/avocado-misc-tests/files/1701840/thp-defrag.txt)
THP defrag test fails with this error:
No Memory Defragmentation 2651 hugepages before turning khugepaged on, 2651 After it

TestFail: No Memory Defragmentation
2651 hugepages before turning khugepaged on,
2651 After it

[2018-02-07 05:19] abdhaleegit opened #796 "memory/libhugetlbfs.py : counters.sh (16M: 64): FAIL for 4K pagesize kernel"
One of the libhugetlbfs test fails on kernel with Power8 4K and Power7 64K pagesize kernel

counters.sh (16M: 64):\x09FAIL Line 330: Bad HugePages_Total: expected 0, actual 1

[libhugelog.txt](https://github.com/avocado-framework-tests/avocado-misc-tests/files/1701844/libhugelog.txt)

[2018-02-14 06:46] PraveenPenguin commented on #796
@abdhaleegit seems me issue on OS can you please raise it against distro

[2018-03-09 17:44] abdhaleegit opened #814 "sysbench: make failed with error "No support for PowerPC 64 bit mode (yet)"
The test builds https://github.com/akopytov/sysbench.git
It fails to build on baremetal with CentOS
logs:
Running 'make install'
Making install in third_party/luajit
make[1]: Entering directory `/var/tmp/avocado_CYCczK/third_party/luajit'
make -C ./luajit clean
make[2]: Entering directory `/var/tmp/avocado_CYCczK/third_party/luajit/luajit'
make -C src clean
lj_arch.h:428:2: error: #error "No suppo

[2018-03-15 05:17] PraveenPenguin commented on #814
@abdhaleegit can you please check #821 if this solve your problem

[2018-04-02 08:16] PraveenPenguin commented on #814
@abdhaleegit can you please check this , i think commit is in , if you it works for you please close this

[2018-04-04 06:42] abdhaleegit opened #848 "Use netplan to configure network interface on Ubuntu 17.04 and later"
with Ubuntu 17.04 and later network configuration has change. Now we have netplan to setup network and bridge setup.

The following things are changed:
1. network service command :   netplan --debug apply
2. network config path :  /etc/netplan/<x>-netcfg.yaml
3. network bridge configuration : use the yaml to add bridge entry
4. network persistent interface setup:  add entry in netplan yaml

so fix

[2018-04-06 07:53] #814 closed

[2018-04-17 08:00] vrbagalkote opened #864 "memory.memhotplug.py:TypeError: collect_dmesg() takes exactly 1 argument (0 given)"
Hi,

While running memhotplug test case, I ran into below error.

[code]
https://github.com/avocado-framework-tests/avocado-misc-tests/blob/b018e5da5697ed0c26c333e74e271911a1fa5ae4/memory/memhotplug.py#L172

Thanks,
Venkat

[2018-04-17 08:15] PraveenPenguin commented on #864
@abdhaleegit can you please also take care of this on your recent patch ?

[2018-04-20 06:27] vrbagalkote opened #866 "Test case libhugetlbfs.py is erroring out with `make[1]: *** [obj64/fallocate_stress.o] Error 1`"
Hi,

Entire job.log can be shared privatively.

2018-04-19 17:27:48,040 process          L0422 DEBUG| [stdout] 	 CC64 obj64/straddle_4GB.o
2018-04-19 17:27:48,040 process          L0422 DEBUG| [stdout] 	 CC64 obj64/heapshrink-helper-pic.o
2018-04-19 17:27:48,062 process          L0422 DEBUG| [stderr] fallocate_basic.c: In function â€˜mainâ€™:
2018-04-19 17:27:48,064 process          L0422 DEBUG| [

[2018-04-20 06:32] PraveenPenguin commented on #864
@vrbagalkote will recent code changes help you ?  if yes please close this issue

[2018-04-23 07:03] vrbagalkote commented on #864
yes, this helps. Thanks @abdhaleegit @PraveenPenguin

[2018-04-23 07:03] #864 closed

[2018-04-23 07:19] vrbagalkote opened #868 "avocado-misc-tests/memory/transparent_hugepages_defrag.py test case reports test case as FAIL, incorectly."
Hi,

avocado-misc-tests/memory/transparent_hugepages_defrag.py is reported as fail, for expected behaviour. This seems to be like corner case, which needs to handled.

Complete job log can be made available privately.

Regards,
Venkat.

[2018-04-23 10:42] #866 closed

[2018-04-24 08:06] harish-24 commented on #868
We can close this as #795 is in place. @vrbagalkote Please close this and follow up on #795.

[2018-04-25 05:38] #868 closed

[2018-05-09 08:51] PraveenPenguin commented on #502
@narasimhan-v have you get time to look on this issue if you think it not relevant can we close this ?

[2018-05-09 08:52] PraveenPenguin commented on #690
@fkromer any update on this if you still facing this please let us know

[2018-05-09 08:53] PraveenPenguin commented on #697
@harish-24 @fkromer can we close this issue

[2018-05-09 08:54] PraveenPenguin commented on #725
@vrbagalkote any update on this ?

[2018-05-09 08:55] PraveenPenguin commented on #717
@fkromer have you got chance to try @vrbagalkote suggestion ?

[2018-05-09 08:56] PraveenPenguin commented on #728
@fkromer any update on this

[2018-05-09 08:57] #796 closed

[2018-05-09 08:58] PraveenPenguin commented on #795
closing this as i think recent changes fix this issue , @abdhaleegit if you still feeling issue is there please re open

[2018-05-09 09:02] fkromer commented on #690
@PraveenPenguin This had no sufficient priority for me until now to justify that I spend time on it. If you want to close the issue just close it. I can reopen it if if required later...

[2018-05-09 09:05] fkromer commented on #697
@PraveenPenguin Sure. (It is not solved yet but I won't have time to go continue with this and it has low prio for me.)

[2018-05-09 09:06] fkromer commented on #725
@PraveenPenguin No. But if you want to close it just go for it. (It is not solved yet but I won't have time to go continue with this and it has low prio for me.)

[2018-05-09 09:09] fkromer commented on #728
@PraveenPenguin Unfortunately no. But can be closed from my side. (It is not solved yet but I won't have time to go continue with this and it has low prio for me.)

[2018-05-09 09:10] fkromer commented on #717
@PraveenPenguin No. Unfortunately I won't have time to go continue with this and it has low prio for me. From my side we can close it.

[2018-05-09 09:15] PraveenPenguin commented on #717
@fkromer sure thanks closing now , if you try again face same issue please re open

[2018-05-09 09:15] #717 closed

[2018-05-09 09:15] PraveenPenguin commented on #690
@fkromer sure closing now

[2018-05-09 09:15] #690 closed

[2018-05-09 09:16] PraveenPenguin commented on #728
@fkromer sure i will send PR for fixing this issue

[2018-05-09 09:42] PraveenPenguin commented on #727
@Pavithra1602 thanks

[2018-05-09 09:58] narasimhan-v commented on #502
@PraveenPenguin It is still relevant. Thanks for reminding.
@naveedus Question: Is it fine if the fix is a yaml paremeter to indicate whether or not to use force option in the command to create raid ? If yes, I will do it immediately and you can verify.

[2018-05-09 10:15] naveedus commented on #502
@narasimhan-v Yes, let me know when I can verify

[2018-05-09 11:56] narasimhan-v commented on #502
@naveedus https://github.com/avocado-framework-tests/avocado-misc-tests/pull/881

[2018-05-10 08:54] harish-24 commented on #697
@PraveenPenguin Sure, no issues for me.

[2018-05-10 08:56] harish-24 commented on #795
@PraveenPenguin I think this is not fixed yet. Should be re-opened.

[2018-05-10 11:02] #697 closed

[2018-05-10 11:03] PraveenPenguin commented on #795
@harish-24 Thanks for pointing will reopen , @abdhaleegit are you facing on recent code base as well

[2018-05-15 05:51] PraveenPenguin commented on #727
closing this issue as #885 fix the issue

[2018-05-15 05:51] #727 closed

[2018-05-15 05:57] narasimhan-v commented on #502
@naveedus I want more clarity here.
When I tried with 3 disks, with and without --force, mdadm behaviour is same.
Can you explain more here.

[code]
[code]

[2018-05-15 07:12] rakshithprakash opened #888 "Lmbench.py test case fails"
Hi,
I'm trying to run the lmbench testcase in my local machine with the following command :
avocado run /home/rakshith/PerfCI/avocado-misc-tests/perf/lmbench.py --show-job-log

and I see that the test case is hitting the following errors :

2018-05-11 11:21:42,717 process          L0591 INFO | Running 'make rerun'
2018-05-11 11:21:42,721 process          L0422 DEBUG| [stdout] cd src && make rerun

[2018-05-16 09:57] naveedus commented on #502
[code]

[2018-05-17 08:45] narasimhan-v commented on #502
@naveedus Thanks.
With the above mdadm error message, and the previous comment, we can conclude that the test works as expected.
Closing the issue

[2018-05-17 08:45] #502 closed

[2018-05-23 06:45] abdhaleegit opened #903 "pci/pci_info_lsvpd : pci.py", line 185, AttributeError: 'NoneType' object has no attribute 'group'"
the test fails with this error on bare-metal

 Traceback (most recent call last):
 File "/root/avocado-fvt-wrapper/tests/avocado-misc-tests/io/pci/pci_info_lsvpd.py", line 57, in test
   sys_slot = pci.get_slot_from_sysfs(pci_addr)
 File "/usr/lib/python2.7/site-packages/avocado_framework-61.0-py2.7.egg/avocado/utils/pci.py", line 185, in get_slot_from_sysfs
   slot = re.match(r'((\w+)[.])+(\w+)-P

[2018-05-23 06:46] abdhaleegit commented on #903
this PR will fix this problem : https://github.com/avocado-framework/avocado/pull/2637

[2018-06-12 05:16] nasastry commented on #888
@rakshithprakash On what machine you have ran the above ... I am running on a PowerVM LPAR with RHEL7.5 and not seeing any errors.

[code]
Test is running.

[2018-06-12 14:07] nasastry commented on #888
@rakshithprakash Please let me know if the issue is still re-producible in your environment. If so please share your environment details else we can close this issue. Thanks!!

[2018-06-21 03:37] PraveenPenguin commented on #888
@nasastry yes for me also it not reproducible at all but @rakshithprakash requested memory param also in lmbench test and i think you already added this  so i think we can close this issue , @rakshithprakash can you please confirm

[2018-06-21 03:38] PraveenPenguin commented on #903
@abdhaleegit  i see llib has above patch if it works for you can we close this ?

[2018-06-21 03:39] PraveenPenguin commented on #795
@abdhaleegit waiting for your comment

[2018-06-21 06:42] rakshithprakash commented on #888
@PraveenPenguin I did test the code which @nasastry  provided me with the MB parameter added and I don't see this issue now. But we have another issue where we cannot see the results being collected in the results directory. How do we track it? Can we go ahead with it in the same bug or do you want me to open another bug to track it?
We discussed to add "make see" at the end of the run to generate

[2018-06-25 05:28] PraveenPenguin commented on #888
@rakshithprakash i think we can close this issue and go with new issue , it help to track issues and make good progress ,

[2018-07-05 05:46] #888 closed

[2018-07-10 05:07] #903 closed

[2018-08-06 12:28] abdhaleegit opened #971 "lib/utility script to have basic functions for IBM tools (hmc, ipmi, fsp, phyp, vios)"
Hi

Many misc test cases like DLPAR, virt-net, and going forward most of the IBM Power specific testcases make use of basic functions from tools like hmc, ipmi, fsp, phyp, vios

@ldoktor @apahim @narasimhan-v @PraveenPenguin how about having a utility script in avocado-misc-test ? which contains library functions to cover the basic functions to interact with hmc, ipmi, fsp, phyp, vios

Please sugg

[2018-08-06 12:38] narasimhan-v commented on #971
I can think of only these 2 posibilities:
1. add an avocado util
2. location for util / scripts in avocado-misc-tests

Will let @ldoktor @apahim give their views.

[2018-08-06 15:16] ldoktor commented on #971
Hello guys, I'd really encourage you to sent the generic utils to `avocado.utils`, because `avocado-misc-tests` is not the only place tests are being developed. Sharing it there would allow eg. avocado-vt or other projects to re-use them and more importantly to refine and improve them.

On the other hand if you have something really specific, you should put it into a shared location within this re

[2018-08-07 09:35] PraveenPenguin commented on #971
@abdhaleegit yes i agree with @narasimhan-v and @ldoktor this should be part of avocado lib under
avocado.utils
as example can be
`avocado.utils .phyp'

[2018-08-09 08:47] nasastry opened #972 "module_unload_load.sh throwing errors at 36 & 60 lines"
[code]

Please fix. Thanks!!

[2018-08-09 08:56] nasastry commented on #972
@hathyaga as a author of the script `module_unload_load.sh` please take care of this error. Thanks!!

[2018-08-09 10:25] PraveenPenguin commented on #736
#973 will address  this issue , closing

[2018-08-09 10:25] #736 closed

[2018-08-13 13:36] kamalesh-babulal commented on #972
There is an effort going on to convert it into Python code with #963, should we focus on fixing the shell version ?

[2018-08-13 15:14] PraveenPenguin commented on #972
@kamalesh-babulal no we are not focusing on shell version so it will be good we can have python test code in our regular run , let it be merge @Naresh-ibm can you please send updated version of #963

[2018-12-10 16:45] jallen-amd opened #1030 "generic/ltp.py default removed in latest ltp"
The default ltp script used in generic/ltp.py (runltplite.sh) has been removed in the following commit to ltp:
https://github.com/linux-test-project/ltp/commit/e34ecfcd85bd067428d28187ecdb21c593216996

If no alternative test script is provided, the test is broken. A new default test script will need to be chosen.

[2018-12-11 06:04] PraveenPenguin commented on #1030
@jallen-amd  thanks for pointing issue #1031 will address this issue

[2019-04-01 05:38] rakshithprakash opened #1067 "Special characters being added during cp and make all"
Hi,
I'm seeing special characters like this during the execution of my unixbench and lmbench tests during cp and make all

cp: cannot stat â€˜/root/lmbench.pyâ€™: No such file or directory

cp: cannot stat â€˜/root/unixbench.pyâ€™: No such file or directory

cc1: error: unrecognized argument in option â€˜-mcpu=power9â€™

Please find the logs pasted below

[2019-04-01 05:38] rakshithprakash commented on #1067
@nasastry @PraveenPenguin

[2019-04-01 05:40] PraveenPenguin commented on #1030
closing this issue as issue fixed in master

[2019-04-01 05:40] #1030 closed

[2019-04-01 05:47] rakshithprakash commented on #1067
Logs :

Lmbench :

2019-03-29 19:26:43,897 process          L0451 DEBUG| [stderr] ++ pwd
2019-03-29 19:26:43,897 process          L0451 DEBUG| [stderr] + cp /root/lmbench_package.tar /root/avocado-fvt-wrapper
2019-03-29 19:26:43,902 process          L0451 DEBUG| [stderr] ++ pwd
2019-03-29 19:26:43,902 process          L0451 DEBUG| [stderr] + cp /root/lmbench.py /root/avocado-fvt-wrapper
2019-03-29

[2019-04-10 14:22] nasastry opened #1078 "Changing test scripts from Python2 to Python2 and Python3"
From https://pythonclock.org
Python 2.7 will not be maintained past 2020 and remaining time is 8 months 21 days.

So to be compatible with Python2 and Python3 we need to change our test scripts. The effort estimated is around "+ 1011 -189" (adding 1011 lines of code and removing 189 lines of code).

Approach1:
More than changing code, we need to test the scripts. I can change all the scripts at on

[2019-04-10 14:22] nasastry commented on #1078
@PraveenPenguin @clebergnu @ldoktor Please let me know your views on this issue. Thank you for your support.

[2019-04-10 15:26] clebergnu commented on #1078
@nasastry I'm not able to tell you what's the best approach, but I can share what we did for Avocado itself.

For Avocado we added source-level support for both Python 2 and Python 3 (concurrently) by using the `six` portability library helper.  Now, recently (post 69.0 LTS release), we dropped all (hopefully) six and Python 2 compatibility code.

Maybe you could create a tag or branch that people

[2019-04-10 15:54] nasastry commented on #1078
@clebergnu Thanks for your quick feedback and suggestion.
I have gone through `official porting guide: https://docs.python.org/3/howto/pyporting.html`

And planning to have Python2 and Python3 support for these test scripts by that it can run on older Operating System(s).

[2019-04-11 04:58] PraveenPenguin commented on #1078
@nasastry as based on effort we can have two approach
1- same test script has both the support
2-  we have tag a python2 support branch and master will support python3 that make easier way

may we need help here as self volunteer  mode to have both support
@narasimhan-v your thought will also help here

[2019-04-11 06:37] narasimhan-v commented on #1078
@nasastry do you have the changes handy ? or any way for us to find those ? that will help us come up with better suggestions.

[2019-04-11 07:11] nasastry commented on #1078
@narasimhan-v I have the patch, but not tested. If someone wants to have a look at it, I can post as a RFC.

[2019-04-11 07:45] PraveenPenguin commented on #1078
@nasastry cool i think send as RFC than we have more eyes on that

[2019-04-11 11:52] narasimhan-v commented on #1078
@nasastry Yes, please

[2019-04-22 11:46] narasimhan-v opened #1085 "SMT library in avocado"
Since many tests uses SMT changes, can we have a utility in avocado for SMT ?

To start with, we can have the permitted values for specific platforms.

[2019-04-22 11:46] narasimhan-v commented on #1085
@sacsant @PraveenPenguin

[2019-04-22 12:57] PraveenPenguin commented on #1085
@narasimhan-v seems me good idea

[2019-05-17 09:59] narasimhan-v opened #1110 "cpu.online_cpus_count() is different from `nproc`, after SMT change"
https://github.com/avocado-framework-tests/avocado-misc-tests/blob/ede958177db35fdc9a04479f0f19f8eac0865281/cpu/ppc64_cpu_test.py#L125

[2019-05-17 10:04] narasimhan-v commented on #1110
This is the code snippet I used to compare the online cpus given by

1. avocado utils
2. nprocs command

[code]

[code]

[code]

[code]

[code]

[2019-05-17 10:07] narasimhan-v commented on #1110
If I introduce a sleep(1) just after setting SMT, both the values are same.
If no sleep, avocado utility gives wrong result

[2019-05-17 10:16] narasimhan-v commented on #1110
If I use this line:
`op2 = int(process.system_output("nproc", shell=True)) / int(self.key)`
then the test passes without any problems

[2019-05-20 06:00] harish-24 commented on #1110
It seems that the problem persists in `SC_NPROCESSORS_ONLN`. We need to identify whether the configuration itself takes time to reflect or the python libraries (`os.sysconf`, `multiprocessing.cpu_count`) makes it slower.

From what I have observed, the configuration `SC_NPROCESSORS_ONLN` updation is slower because even the following way is faster than `sysconf` way.

`op2 = int(process.system_outp

[2019-06-04 06:02] harish-24 commented on #795
@abdhaleegit From what has been observed there is no way to guarantee that kernel always de-frags memory, kernel always tries to do that but there exist an chance when system memory could not be de-fragmented which is what has happened here.

I feel we should close this or if someone has a suggestion to enhance the test it would be good to adopt.

[2019-07-17 04:55] narasimhan-v commented on #1110
@harish-24 @PraveenPenguin any update on this ?

[2019-07-17 06:08] harish-24 commented on #1110
@narasimhan-v @PraveenPenguin Following are the time observations for each of the SMT from `off` through `8`.

[code]
Clearly reading from sysconf is way slower than the other methods. I believe it has to be a bug either in **updation of sysconf variable** or the way **os reads from sysconf**.

[2019-07-17 09:21] narasimhan-v opened #1202 "can sosreport and supportconfig become a single test ?"
Can we handle supported distros and respective commands inside a single test ?

[2019-08-22 07:34] Joshhsi opened #1262 "kernel/kernbench.py found errors while building vmlinux kernel."
While running the test case kernel/kernbench.py, there is an error occurred during the process of building a vmlinux kernel.

The error message is as follows :
make[1]: *** No rule to make target 'certs/rhel.pem' , needed by 'certs/x509_certificate_list' . Stop.

And I've learned that the problem could be solved by comment out the lines CONFIG_SYSTEM_TRUSTED_KEY and CONFIG_MODULE_SIG_KEY in boot/c

[2019-08-22 11:30] PraveenPenguin commented on #1262
@Joshhsi yes that is valid work around as kernbench test is like a  work load as kernel building and in test we are capturing time of kernel build operation ,is this ok to you  send PR as fix let me know either case i will do

[2019-08-23 03:18] Joshhsi commented on #1262
@PraveenPenguin Thanks for clarifying my thought, issue closed.

[2019-08-23 04:43] PraveenPenguin commented on #1262
@Joshhsi sure , so are you going to send fix ?

[2019-09-03 15:10] PraveenPenguin commented on #1202
@narasimhan-v ah I miss this issue, yes that is the right approach

[2019-09-05 07:16] harish-24 commented on #1202
@narasimhan-v @PraveenPenguin  I think from outside both more or less is meant to do the same thing. From test case implementation which we currently have I guess it is going to be independent of each other anyways. If we can find a commonality then we can merge both.

[2019-09-06 05:18] narasimhan-v commented on #1202
The reason I asked is not code commonality. I just did not want too many similar tests in the cfg file. So, if we merge both into single script (which calls one of these 2 functions based on distro), I have my requirement met. If that is not possible, we can deal that with no_run_test.

[2019-09-06 05:22] PraveenPenguin commented on #1202
@Pavithra1602 @kalshett can you please comment on this issue

[2019-09-06 05:28] PraveenPenguin commented on #1202
@narasimhan-v we had a discussion and what you mention we can mention in no_run for SLES and RHEL where it not applicable

[2019-09-06 11:24] narasimhan-v commented on #1202
Sure

[2019-09-28 14:59] kyle-ibm opened #1302 "PowerNV detection not updated in py2-lts branch"
Seems like in master branch, most python files have updated the PowerNV detection code to this
[code]
However, in the py2-lts branch, most PowerNV detection code is still this
[code]
which doesn't detect PowerNV systems correctly and causes tests to be skipped erroneously

[2019-09-30 03:07] nasastry commented on #1302
@PraveenPenguin @narasimhan-v @harish-24
Can any one of you help here. Thanks!!

[2019-09-30 05:00] PraveenPenguin commented on #1302
@kyle-ibm thanks for reporting, let me check how we can achieve this as there is two way
1
a- 69 lts need fix and the same fix can be applied in avocado master (that fixed wider way )
b- and  detect PowerNV systems
[code]
in master branch

2- patch  py2-lts as same as a master branch,
will update here soon with a solution

[2019-10-04 08:19] kyle-ibm commented on #1262
@PraveenPenguin we seem to be hitting this same issue in py2-lts branch
[code]

[2019-10-04 08:27] PraveenPenguin commented on #1262
@kyle-ibm sure we need to Backport #1267 this fix to py2-lts , let it first merge in master later we will adopt in py2-lts

[2019-10-04 14:53] kalshett opened #1319 "lpm_basic code flow discussion"
Background: make lpm basic code separate, use vnic lpm code as baseline and remove vnic related code and make simple lpm_basic code ready. This si required for lpm CI where initial CI will be setup with basic lpm code.

lpm vnic code for ref: https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/io/net/virt-net/lpm.py

This issue is opened for discussion on lpm_basic.py flow al

[2019-10-10 05:02] PraveenPenguin commented on #1262
@kyle-ibm #1338 will fix above issue in python2 will wait for merge this PR

[2019-10-24 08:26] kyle-ibm opened #1375 "can't fetch livepatch"
Fetching livepatch from github fails even though the file does seem like it's available

2019-10-05 07:32:03,222 livepatch L0091 INFO | ============== Building livepatching Module =================
2019-10-05 07:32:03,223 download L0070 INFO | Fetching https://raw.githubusercontent.com/torvalds/linux/master/samples/livepatch/livepatch-sample.c -> /root/tests/data/cache/by_location/e0a3fb95cbb9946a

[2019-10-24 08:51] kyle-ibm opened #1376 "lshw.py lshw -numeric command fails"
Looks like a false fail as the lshw -numeric command completes successfully but script still says fail
[code]
System information:
Host Kernel Build: 4.14.0-115.13.1.el7a.ppc64le
Host OS: Red Hat Enterprise Linux Server 7.6 (Maipo)

[2019-10-24 09:01] kyle-ibm commented on #1375
same for fetch issue for kprobe and kretprobe tests also

[2019-11-04 05:30] PraveenPenguin commented on #1375
@kyle-ibm in my env it always works
[code]
may be system has n/w issue can  you please  do manual wget

[2019-11-04 05:34] #1262 closed

[2019-11-05 04:18] alfredyswu commented on #1375
Hi PraveenPenguin ,
I could access the URL via web explorer
But in Mihawk wget command response ERROR 403: Forbidden.

[root@mihawk-sut1-nvmeg4 kernel]# wget https://raw.githubusercontent.com/torvalds/linux/master/samples/livepatch/livepatch-sample.c
--2019-11-05 12:12:05--  https://raw.githubusercontent.com/torvalds/linux/master/samples/livepatch/livepatch-sample.c
Resolving raw.githubusercontent

[2019-11-05 04:53] PraveenPenguin commented on #1375
@nasastry can you please help here, as  i think it is system ssl issue

[2019-11-05 10:58] alfredyswu opened #1384 "memtester.py : bad physaddrbase arg; does not start on page boundary"
When run memtester.py, memtester failed for address 1048576 ( default yaml file )
And response "bad physaddrbase arg; does not start on page boundary" and Usage. Seems wrong parameter.

# In job.log :
2019-11-05 18:09:43,697 parameters       L0146 DEBUG| PARAMS (key=device, path=*, default=/dev/mem) => '/dev/mem'
2019-11-05 18:09:43,697 process          L0626 INFO | Running './memtester -p 1048576

[2019-11-05 11:40] alfredyswu commented on #1384
Upload sosreport for reference:
[sosreport-mihawk-sut2-sas16-_memtester_2019-11-01-fvyjuqw.tar.xz.zip](https://github.com/avocado-framework-tests/avocado-misc-tests/files/3808766/sosreport-mihawk-sut2-sas16-_memtester_2019-11-01-fvyjuqw.tar.xz.zip)

[2019-11-05 12:14] alfredyswu opened #1385 "packages.py FAIL with "opal-prd package is not installed by default""
Test packages.py with latest Redhat OS 4.14.0-115.13.1.el7a.ppc64le
Result will show  "TestFail: 1 package(s) not installed by default" and "opal-prd package is not installed by default"

The opal-prd.ppc64le  is "rhel-7-for-power-9-rpms" instead of "anaconda/7.6 "
Manually run the command "yum list installed | grep opal-prd | tail -1"

_[root@mihawk-sut1-nvmeg4 results]# yum list installed | grep

[2019-11-12 10:05] alfredyswu commented on #1375
We have seen the same issue in below test. FYI
  kernel/livepatch.py
  RAS/kprobe.py
  RAS/kretprobe.py
  fs/fs-fuzz.py
  fs/fsx.py
  fs/pjdfstest.py

[2019-11-12 10:20] alfredyswu commented on #1376
Update manually test log

[code]

[2019-11-12 10:36] alfredyswu opened #1403 "sensors.py test CANCEL due to processor's architecture is not yet supported"
After run sensors.py test via command "avocado run sensors.py --show-job-log"
Result feedback CANCEL as below:

[code]

[sosreport-mihawk-sut1-nvmeg4-2019-11-05_sensors_-lzazokv.tar.xz.zip](https://github.com/avocado-framework-tests/avocado-misc-tests/files/3835646/sosreport-mihawk-sut1-nvmeg4-2019-11-05_sensors_-lzazokv.tar.xz.zip)
[sensors_20191105.log](https://github.com/avocado-framework-tests

[2019-11-12 11:24] alfredyswu opened #1405 "perf_sdt_probe.py test ERROR and report arguments wrong"
After run perf_sdt_probe.py test via command "avocado run perf_sdt_probe.py --show-job-log"
And result get "TypeError: fail() takes at most 2 arguments (3 given)"

Result feedback ERROR as below:

[code]

Host Kernel Build: 4.14.0-115.13.1.el7a.ppc64le
Host OS: Red Hat Enterprise Linux Server 7.6 (Maipo)

[perf_sdt_probe_manually_20191105.log](https://github.com/avocado-framework-tests/avocado-mis

[2019-11-12 13:29] alfredyswu opened #1406 "perf_uprobe.py may need to be turned for RHEL 7.6"
In the 2nd item of perf_uprobe.py, "test_uprobe_return", run perf_uprobe.py test via command "avocado run perf_uprobe.py --show-job-log" and result ERROR
"CmdError: Command 'perf record -o /var/tmp/tmpsvF27C -e probe_uprobe_test:doit__return -- ./uprobe_test' failed."

[stderr] Error: File /sys/kernel/debug/tracing/events/probe_uprobe_test/doit__return not found.
[stderr] Hint: **Perhaps this kern

[2019-11-12 13:52] PraveenPenguin commented on #1403
@nasastry please have a look

[2019-11-12 13:53] PraveenPenguin commented on #1406
@nasastry please have a look

[2019-11-15 06:09] kyle-ibm commented on #1384
@harish-24 Hi Harish, did you get a chance to take a look?

[2019-11-18 09:31] PraveenPenguin commented on #1067
@rakshithprakash is this still an issue , if not please close this

[2019-11-18 11:53] alfredyswu commented on #1406
For perf_uprobe.py, after follow instruction to edit the scipt, test Error.
Test script after edited:
[perf_uprobe_1118.zip](https://github.com/avocado-framework-tests/avocado-misc-tests/files/3858436/perf_uprobe_1118.zip)
TypeError: coercing to Unicode: need string or buffer, NoneType found

Running 'perf probe -d \*'
[stderr] "*" does not hit any event.
Command 'perf probe -d \*' finished with 2

[2019-11-18 13:14] nasastry commented on #1406
@alfredyswu I guess you have used the code from https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1408/ not the other one. If this is the case then I will ask the developer to send the proper patch. Thanks for testing.

[2019-11-18 13:28] alfredyswu commented on #1406
@nasastry  Do you mean I should copy the code from "https://github.com/shirishaganta/avocado-misc-tests-1/blob/fix-py2-rh7.6-uprobe/perf/perf_uprobe.py" and run ?
The result still error:
[code]

[2019-11-19 06:54] harish-24 commented on #1384
@alfredyswu @kyle-ibm These inputs are only samples values as the `NOTE` in yaml file specifies the same. FWIW, I will send in a patch fixing the yaml inputs that does not affect the sample runs.

[2019-11-19 07:13] shirishaganta commented on #1385
The above error indicates that opal-prd package is not installed by default during installation and it is installed from repo <rhel-7-for-power-9-rpms> can you please confirm the same

[2019-11-19 08:35] naveen538 commented on #1376
@kyle-ibm Have you tested with https://github.com/avocado-framework-tests/avocado-misc-tests/blob/py2-lts/ras/lshw.py ??

If not please verify on it...

[2019-11-19 16:58] kyle-ibm commented on #1384
how do we get the page boundary address?

[2019-11-22 10:46] harish-24 commented on #1384
It depends on the system being used. You can refer to `/proc/iomem` for start and end ranges. Depending on the page size you can utilize those addresses.

[2019-11-23 09:08] kyle-ibm commented on #1384
not sure if i'm doing this correctly
[code]
Is that a real failure or did i choose a wrong address again?

[2019-11-25 03:57] shirishaganta commented on #1385
@alfredyswu I have sent a PR to resolve this issue.Once it gets merged,testcase will get pass

[2019-11-25 06:01] harish-24 commented on #1384
From manpage:
[code]

[2019-11-26 11:50] alfredyswu commented on #1376
Retest with latest version. Result all PASS

PASS 01-lshw.py:Lshwrun.test_lshw
PASS 02-lshw.py:Lshwrun.test_lshw_short
PASS 03-lshw.py:Lshwrun.test_lshw_class
PASS 04-lshw.py:Lshwrun.test_lshw_verification
PASS 05-lshw.py:Lshwrun.test_gen_rep
PASS 06-lshw.py:Lshwrun.test_businfo
PASS 07-lshw.py:Lshwrun.test_sanitize
PASS 08-lshw.py:Lshwrun.test_prod_id_serial
PASS 09-lshw.py:Lshwrun.test_lshw_opti

[2019-11-26 12:35] PraveenPenguin commented on #1376
@alfredyswu thanks for validating so closing it , feel free to reopen if still face any issue

[2019-11-26 12:35] #1376 closed

[2019-11-26 16:11] kyle-ibm commented on #1385
@shirishaganta Alfred updates their kernel using RHELs subscription manager and i think that repo is RHELs online repo for power9 systems which updates opal-prd also.
I checked our own system which doesn't have the subscription manager repo setup and this test passes.

[2019-11-27 06:10] alfredyswu commented on #1384
Retest with Nov 25 version, result is pass
PASS 1-memtester.py:Memtester.test;device-physaddr-c521

[2019-11-27 06:26] PraveenPenguin commented on #1384
@alfredyswu thanks for testing this patch , closing

[2019-11-27 06:26] #1384 closed

[2019-11-27 10:55] betty-ju opened #1456 "After run ethtool-test.py, it cannot run the command “'ethtool --get-phy-tunable enP1p9s0f0 downshift'”, which causes the test FAILED."
[Test Steps]
Run this command: “avocado run avocado-misc-tests/io/net/ethtool_test.py -m /tmp/mux/io_network_fvt_ethtool_test_ethtool_test.yaml --force-job-id 09de1c683a0a3a2041fda02834f5576924a99da5 --job-results-dir 20191110_nic_test_BCM57800__mihawk-sut1-nvmeg4_with_sut2/results”

-

[FW configuration]
BMC: op940.00.mih-1-0-gb27c6fb
PNOR: OP9-v2.4-4.31-prod
OS: Red Hat 7.6 (4.14.0-115.13.1.el7a

[2019-11-27 17:00] manvanthar commented on #1456
Hi Betty,

       Older Distro's ethtool does not have the option --get-phy-tunable.    Hence the behavior even when run manually.

       For now that error can be ignored as RHEL7.6-ALT's ethtool doesn't have that support.  you could verify that with ethtool --help

[2019-11-28 02:36] betty-ju commented on #1456
Hi Manu,
Yes, ethtool 4.8 seems not support this command: "'ethtool --get-phy-tunable"
We will follow your suggestion to ignore it, thank you.

[2019-11-29 04:03] alfredyswu commented on #1375
kprobe culd pass after put the file on internal http server and edit URL in python script.

PASS 1-kprobe.py:Kprobe.test

[2019-11-29 04:39] alfredyswu commented on #1375
These "can't fetch " issue should caused by wistron network firewall which block some URLs.
It doesn't relate to the script.

[2019-11-29 04:44] PraveenPenguin commented on #1375
@narasimhan-v one thought can we have those script in py.data directory i know is not good or we can have yaml entry having file location configurabale

[2019-11-29 07:31] narasimhan-v commented on #1375
@PraveenPenguin One thing that I can suggest is:  Get the URL via yaml.
So that the URL can be public or private, and can be controlled via yaml instead of changing script.
Setting a private http server can be done by the user.

[2019-11-29 08:08] PraveenPenguin commented on #1375
@narasimhan-v looks good so we can go with yaml solution

[2019-11-29 11:01] manvanthar commented on #1456
Thanks Betty.  Closing the github issue!

[2019-11-29 11:18] alvintpwang commented on #1403
It's not a script issue but the system configuration issue.

Here is the steps for manual test. If your manual test is ok, then you can run the script.

Manual steps
===========
1) Check if ibmpowernv kernel is loaded. If it's not loaded, you need to update your kernel
# check if ibmpowernv is loaded
[root@mihawk1p1 hwmon0]# lsmod | grep ibm
ibmpowernv              8249  0

2) start the lm_sensors

[2019-11-29 11:43] alfredyswu commented on #1403
Hi Alvin,

I follow your steps to test

The command, "yes | sudo sensors-detect" still say no sensors were detected.

[code]

But the sensors command seems the sensors reading is normal.

[code]
[sensor_manually_test.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/3905003/sensor_manually_test.log)

[2019-12-03 08:51] Jeff-Chen-IBM commented on #1406
@alfredyswu I passed this test case on ibm_remote1 with code copied from link above and keep file name as "perf_uprobe.py".

[2019-12-03 12:20] alfredyswu commented on #1406
If rename perf_uprobe.py to other name will cause result error.

Perf_uprobe test could pass after modify and keep the same filename.

PASS 1-perf_uprobe.py:PerfUprobe.test_uprobe
PASS 2-perf_uprobe.py:PerfUprobe.test_uprobe_return
PASS 3-perf_uprobe.py:PerfUprobe.test_uprobe_variable

[2019-12-03 14:46] Oracle-Chen opened #1482 "[Linux_FVT] [Perf] make error in perf_events_crash_test.py"
Description :
make error in perf_events_crash_test.py

Problem description
After run perf_events_crash_test.py test via command "avocado run perf_events_crash_test.py --show-job-log"

make -s -S report error. Utility doesn't install so cancel manually.

START 1-perf_events_crash_test.py:Perf_crashevent.test
DATA (filename=output.expected) => NOT FOUND (data sources: variant, test, file)
Not loggin

[2019-12-03 14:56] PraveenPenguin commented on #1482
@nasastry can you please help us in this issue

[2020-01-28 06:44] naveen538 opened #1529 "lshw.py :Package 'powerpc-ibm-utils' is not Supporting for RHEL and SUSE Versions."
https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/ras/lshw.py

Job log:
----------
avocado run lshw.py
JOB ID     : e163ce6af41d81fcf7f3424cf725a9975faef529
JOB LOG    : /home/OpTest/avocado-fvt-wrapper/results/job-2020-01-28T11.21-e163ce6/job.log
 (01/10) lshw.py:Lshwrun.test_lshw: CANCEL: Fail to install powerpc-ibm-utils required for this test. (2.62 s)
 (02/10) lshw.py:

[2020-02-17 10:41] PraveenPenguin commented on #1529
@naveen538 above commit will fix the issue , please try and if issue fixed for you close this issue

[2020-02-18 04:35] naveen538 commented on #1529
Thanks @PraveenPenguin
Commit works so closing the issue.

[2020-02-18 04:36] naveen538 commented on #1529
Without fix
---------------
root@ltc-wcwsp3:/home/OpTest/avocado-fvt-wrapper/tests/avocado-misc-tests/ras# avocado run lshw.py
JOB ID     : 169514d0ab21d2fe16240dee3ae54d6fe7562b11
JOB LOG    : /home/OpTest/avocado-fvt-wrapper/results/job-2020-02-17T22.25-169514d/job.log
 (01/10) lshw.py:Lshwrun.test_lshw: ERROR: 'list' object attribute 'extend' is read-only (1.55 s)
 (02/10) lshw.py:Lshwrun.test_

[2020-02-18 04:36] #1529 closed

[2020-02-24 08:29] tfauck opened #1569 "avocado environment prevent some compilation"
OpenBlas fails on Fedora when manually launched it passes. Apparently python environment is changing something in the depedencies but I haven't found what !
[stdout] TEST 2/27 ismax:negative_step_2 [FAIL]
[stderr] make[1]: *** [Makefile:45: run_test] Error 2
[stdout]   ERR: test_ismin.c:88  expected 9, got 50
[stdout] TEST 3/27 ismax:positive_step_2 [OK]
[stderr] make: *** [Makefile:126: tests] Er

[2020-02-24 11:52] tfauck commented on #1569
For OpenBlas I found that through python depedency is iamax.S when manually it is imax.S
<   Considering target file 'ismax_k.o'.
<    File 'ismax_k.o' does not exist.
<    Finished prerequisites of target file 'ismax_k.o'.
<   Must remake target 'ismax_k.o'.
< Makefile.L1:628: update target 'ismax_k.o' due to: ../kernel/power/iamax.S

[2020-02-24 13:01] tfauck commented on #1569
Setting of variables ISMAXKERNEL=imax.S ISMINKERNEL=imin.S in make prevent the error on power - checked on fedora, centos, ubuntu P8  and ubuntu zz9 and wsp5

[2020-02-24 13:01] #1569 closed

[2020-02-25 06:54] PraveenPenguin commented on #1482
@Oracle-Chen recent commit should fixes some python3 issue can please try this and let us know the result , if it pass please close this issue

[2020-02-27 10:32] Oracle-Chen commented on #1482
Hi, PraveenPenguin
After use python3 to install Avocado(ver:76.0) in Rhel8.1 to re-test, it suspends while running test, which makes the result failed.

Run command "avocado run perf_events_crash_test.py"
※Test-logs are in attachment:
◎20200227_perf-event-crash_SOL-log：SOL-log from client.
◎job：job-log generated by Avocado
◎sysinfo.20200227-000539.tar：system-information of SUT

[20200227_perf-even

[2020-03-13 02:19] kyle-ibm opened #1584 "yum-builddep error unrecognized arguments --tolerant"
When running glibc.py toolchain test on RHEL8.1 we see the following error which causes the test to error out
[code]
There are also other tests that use yum-builddep with --tolerant argument and which result in the same errors.

[2020-03-13 02:25] kyle-ibm commented on #1584
manually running the command shows
[code]

[2020-03-23 06:07] abdhaleegit opened #1589 "[OP]tcpdump test hung after changing MTU size (timing issue)"
the tcpdump follows below commands before it gets hung

1. check host and peer interface
Running 'ifup enP19p96s0f0'
22:25:38 DEBUG| [stdout] Connection successfully activated (D-Bus active path: /org/freedesktop/NetworkManager/ActiveConnection/519)

Running '/bin/ssh -o 'StrictHostKeyChecking=no' -o 'UpdateHostKeys=no' -o 'ControlPath=~/.ssh/avocado-master-%r@%h:%p' -l root -q 102.10.10.193 'ip a

[2020-03-23 06:28] abdhaleegit opened #1590 "[OP] network_stress: Failed to set mtu in peer because MTU difference between host and peer"
A new observation with many other test like network_stress.py where the script is changing MTU size between host and peer in mid of test combination

while this is happening,at some steps the script does this causing mtu set on peer fails

1. at the start of the the test both host and peer interface has  MTU size 1500
2. now first it changes MTU 2000 in peer over ssh command from host (MTU at host

[2020-03-23 07:11] abdhaleegit opened #1592 "network tests : reset host and peer ip configs when there is link failure (CI)"
Some times due to crash or real link problem.. you will not be able to ping the test interface.. so have an alternate way to reset when test fails/pass too

the next test can take care of only host interface MTU set.. but cannot set on peer .. becuase when a previous test has left peer interface at MTU 6000 ,, you will never be able to ping/ssh until you either change it manually

for CI continuit

[2020-03-23 07:27] abdhaleegit commented on #1590
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1593/ this fixes above issues

[2020-03-26 05:27] ZYV037 opened #1595 "Arm64 Server with 128Gb ram cannot pass memory/numa_test.py case 3: test_thp_compare #3668"
memory/numa_test.py case 3: test_thp_compare

cpu arch: arm64
kernel: linux4.19.0-arm64-server
server with 128Gb ram cannot pass this check.

root@uos-PC:/home/uos/zhangya/avocado-misc-tests/memory/numa_test.py.data# ./bench_movepages -n 100
src node = 0 and dest node = 1
THP migration time(seconds) (Non THP = 0) = 0.008513
Base migration time(seconds) (Non THP = 1) = 0.016090
Base page migration

[2020-03-28 11:20] abdhaleegit opened #1596 "lv_setup.py fails to get lv size when multiple lv_disks given (no support for multiple disks)"
2020-03-28 04:10:37,771 sysinfo          L0105 DEBUG| Not logging /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor (file does not exist)
2020-03-28 04:10:37,773 sysinfo          L0173 DEBUG| Not logging 'dmidecode' (command 'dmidecode' was not found)
2020-03-28 04:10:37,804 sysinfo          L0105 DEBUG| Not logging /proc/pci (file does not exist)
2020-03-28 04:10:37,804 parameters       L0143

[2020-03-30 12:31] harish-24 commented on #1595
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1591 Should fix this.

[2020-04-02 05:31] abdhaleegit opened #1605 "DLPAR for veth: write a new test code for dlpar veth"
https://github.com/avocado-framework-tests/avocado-misc-tests/tree/master/io/net/virt-net/dlpar_veth.py

[2020-04-02 05:50] narasimhan-v commented on #1596
We need to handle the code path of getting disk size when multiple disks are given.

[2020-04-02 07:58] smruti77 commented on #1605
@abdhaleegit this new test or need to add in dlpar  ..?

[2020-04-02 10:54] smruti77 commented on #1592
@abdhaleegit without having reset_config module in utils we can handle this.

[2020-04-03 08:21] smruti77 commented on #1592
shall i do like this,it will be fine if i will chnage in teardown? @manvanthar @narasimhan-v
[code]

[2020-04-03 08:51] narasimhan-v commented on #1592
@smruti77 I think just setting the original IP and mtu to test interface in tearDown() should be enough. No need of cancel or anything else in tearDown()

[2020-04-03 08:56] smruti77 commented on #1592
@narasimhan-v ok but i am asking through public ip i need to set original mtu in teardown if it is fail through private ip.

[2020-04-03 09:04] narasimhan-v commented on #1592
yes, thats a good way. But do we get public IP in all tests ?

[2020-04-03 09:06] smruti77 commented on #1592
no,need add one parameter in yaml.

[2020-04-03 09:47] narasimhan-v commented on #1592
Ah ok

[2020-04-09 06:08] abdhaleegit opened #1612 "all disks test : make sure the disks are not part of multipath"
stop multipath before starting tests on block device /dev/sdX

[2020-04-09 06:46] Naresh-ibm commented on #1596
@narasimhan-v  why do we multiple disk here?
I mean, are we using multiple disk to create any vg or lv?
OR
if you mean from CI/CR perspective, then better we change all other scripts too, for multiple disk support.

[2020-04-09 06:50] narasimhan-v commented on #1596
@Naresh-ibm There are certain tests like lvsetup, software raid, which are capable of having multiple disks in their native command line. It is not like we support it explicitly from the test.

[2020-04-13 06:29] abdhaleegit opened #1616 "slot bind unbind test for virtual devices like vscsi, veth, vfc"
write or extend bind and undbind test to cover vscsi , veth, vfc

[code]
[code]

do unbind and bind on these slots
[code]

[2020-04-13 09:06] abdhaleegit commented on #1605
@narasimhan-v planning to have dlpar common test for virtual devices

[2020-04-13 14:06] narasimhan-v commented on #1605
@abdhaleegit I would recommend having one dlpar test for virtual network (vNIC and veth), and one for virtual storage (vFC and vscsi).

[2020-04-20 09:13] Gene-Lo opened #1626 "After run perf_nest_events.py in Rhel8.1 with Avocado (Version: 77), it shows that " ERROR: a bytes-like object is required, not 'str' "."
【Test Result】
After run perf_nest_events.py in Rhel8.1 with Avocado (Version: 77), it shows that " ERROR: a bytes-like object is required, not 'str' ".
After re-test it by manual, the result is still FAIL.

【Expect Result】
After run perf_nest_events.py, it should show PASS.

【Test Steps】
1. Edit process.py
- Manually copy below codes from the link: https://github.com/avocado-framework/avocado/blob

[2020-04-21 01:46] Gene-Lo opened #1629 "After run perf_sdt_probe.py, it shows "SDT marker sdt_libc:memory_mallopt_mmap_max not available", which makes the result FAIL"
【Test Result】
After run perf_sdt_probe.py, it shows "SDT marker sdt_libc:memory_mallopt_mmap_max not available", which makes the result FAIL. SOL-log like below:

(1/1) perf_sdt_probe.py:PerfSDT.test: FAIL: SDT marker sdt_libc:memory_mallopt_mmap_max not available (5.00 s)
RESULTS : PASS 0 | ERROR 0 | FAIL 1 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 0

After re-test it by manual, the result is simi

[2020-04-21 01:57] Gene-Lo opened #1630 "After run perftool.py in Rhel8.1 with Avocado(version:77.0), it shows "CANCEL: gcc-g++ is needed for the test to be run", which makes the result FAIL"
【Test Result】
After run perftool.py in Rhel8.1 with Avocado(version:77.0), it shows "CANCEL: gcc-g++ is needed for the test to be run", which makes the result FAIL. SOL-log is like below:

(1/1) perftool.py:Perftool.test: CANCEL: gcc-g++ is needed for the test to be run (9.69 s)
RESULTS    : PASS 0 | ERROR 0 | FAIL 0 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 1

However, we can't install "gcc-g++" i

[2020-04-21 02:20] Gene-Lo opened #1631 "After run kselftest.py in Rhel8.1 with Avocado(version:77.0), it shows " CANCEL: Fail to install glibc-static required for this test", which makes the result FAIL"
【Test Result】
After run kselftest.py in Rhel8.1 with Avocado(version:77.0), it shows " CANCEL: Fail to install glibc-static required for this test", which makes the result FAIL. SOL-log is like below:

(1/6) kselftest.py:kselftest.test;vm-distro-b755: CANCEL: Fail to install glibc-static required for this test. (9.67 s)
(2/6) kselftest.py:kselftest.test;vm-upstream-fa5d: CANCEL: Fail to install gl

[2020-04-21 06:08] Gene-Lo opened #1632 "After run flail.py in Rhel8.1 with Avocado(version:77.0), it shows " ERROR: Command 'sed -i 's/.*-lm.*/& -lm' Makefile' failed.\nstdout: b''\nstderr: b"sed: -e expression #1, char 15: unterminated `s' command\n"\nadditional_info: None ", which makes the result FAIL"
【Test Result】
After run flail.py in Rhel8.1 with Avocado(version:77.0), it shows " ERROR: Command 'sed -i 's/.*-lm.*/& -lm' Makefile' failed.\nstdout: b''\nstderr: b"sed: -e expression #1, char 15: unterminated `s' command\n"\nadditional_info: None ", which makes the result FAIL. SOL-log is like below:

(1/2) flail.py:Flail.test;xfs-5cf2: ERROR: Command 'sed -i 's/.*-lm.*/& -lm' Makefile' failed.\

[2020-04-21 06:21] Gene-Lo opened #1633 "After run network.sh in Rhel8.1, it shows “No such file or directory”, which makes the result FAIL"
【Test Result】
After run network.sh in Rhel8.1, it shows “No such file or directory”, which makes the result FAIL
After we copy some files to their correct path by manual, the errors of "No such file or directory" never happen. However, there are still some other errors happen, which still make the test-result FAIL.

【Expect Result】
After run network.sh, it should show PASS.

【Test Steps】
Install L

[2020-04-21 06:24] harish-24 commented on #1631
@Gene-Lo I am sure CRB repo of RHEL 8.1 has this package required for the test. Please check and let know the details.

[2020-04-21 06:56] abdhaleegit opened #1634 "LPM: test is passing after Errors Warnings were seen in dmesg"
Please add a check for dmesg and fail the test

[2020-04-22 06:24] narasimhan-v commented on #1633
@Gene-Lo If this issue is in LTP tests, please open against https://github.com/linux-test-project/ltp

[2020-04-22 06:24] #1633 closed

[2020-04-24 06:34] abdhaleegit opened #1642 "avocado-misc-tests/io/disk/iozone.py: ERROR: write() argument must be str, not bytes"
https://ltc-jenkins.aus.stglabs.ibm.com/job/ioci/150//consoleText/

iozone is failing with error

 (1/2) avocado-misc-tests/io/disk/iozone.py:IOZone.test;1-args-previous_results-dir-0627:  ERROR: write() argument must be str, not bytes (151.21 s)

[2020-04-24 06:37] abdhaleegit opened #1643 "avocado-misc-tests/io/disk/ssd/nvmetest.py : test suite compilation failed"
make' failed.\nstdout: b'    CC nvme-print.o\n    CC nvme-ioctl.o\n    CC nvme-lightnvm.o\n    CC fabrics.o\n    CC nvme-models.o\n    CC plugin.o\n    CC nvme-status.o\n    CC nvme-filters.o\n    CC nvme-topology.o\n    CC plugins/intel/intel-nvm

https://ltc-jenkins.aus.stglabs.ibm.com/job/ioci/150//consoleText/

[2020-04-24 06:55] PraveenPenguin commented on #1642
@abdhaleegit #1644 should fix the issue if it works please close this issue

[2020-04-27 06:03] Gene-Lo commented on #1631
@harish-24
We finally installed glibc-static via below cmd:
$subscription-manager repos --enable=codeready-builder-for-rhel-8-ppc64le-rpms
$yum list --showduplicates glibc-static
$yum install glibc-static

However, after we re-test kselftest.py via cmd "avocado run kselftest.py -m kselftest.py.data/kselftest.yaml", it shows "ERROR: [Errno 2] No such file or directory" and other errors.

《SOL-log》

[2020-04-27 10:05] Gene-Lo opened #1652 "After run perf_events_test.py in Rhel8.1 with Avocado(version:77.0), it shows "FAIL: There are 15 test(s) failure, please check the job.log""
【Test Result】
After run perf_events_test.py in Rhel8.1 with Avocado(version:77.0), it shows "FAIL: There are 15 test(s) failure, please check the job.log”. After re-test it by manual, the result is similar.
Test-logs of running perf_events_test.py are like below:

《SOL-log》
(1/1) perf_events_test.py:Perf_subsystem.test: FAIL: There are 15 test(s) failure, please check the job.log (194.32 s)
RESULT

[2020-04-27 10:07] Gene-Lo opened #1653 "After run pjdfstest.py in Rhel8.1 with Avocado(version:77.0), it shows "FAIL: failed: Command ‘prove -rv tests’ failed.\nstdout: b”tests/chflags/00.t ..........", which makes the result failed."
【Test Result】
After run pjdfstest.py in Rhel8.1 with Avocado(version:77.0), it shows "FAIL: failed: Command ‘prove -rv tests’ failed.\nstdout: b”tests/chflags/00.t ..........", which makes the result failed. After re-test it by manual, the result is similar.
Test-logs of running pjdfstest.py are like below:

《SOL-log》
(1/1) pjdfstest.py:Pjdfstest.test:  FAIL: failed: Command 'prove -rv tests' fail

[2020-04-27 10:08] Gene-Lo opened #1654 "After run xfstests.py in Rhel8.1 with Avocado(version:77.0), it shows "FAIL: One or more tests failed. Please check the logs", which makes the result failed."
【Test Result】
After run xfstests.py in Rhel8.1 with Avocado(version:77.0), it shows "FAIL: One or more tests failed. Please check the logs", which makes the result failed. SOL-log is like below:

(1/1) xfstests.py:Xfstests.test;disk_type-fs_ext4-8fdd:  FAIL: One or more tests failed. Please check the logs. (23406.87 s)
RESULTS    : PASS 0 | ERROR 0 | FAIL 1 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL

[2020-04-27 10:27] abdhaleegit opened #1655 "io/disk/disk_info.py : AttributeError: module 'avocado.utils.multipath' has no attribute 'is_mpath'"
| dnf version: 4.2.7
2020-04-25 16:12:29,021 software_manager L0498 ERROR| dnf module for Python is required. Using the basic support from rpm and dnf commands
2020-04-25 16:12:29,022 process          L0604 INFO | Running 'rpm -q lshw'
2020-04-25 16:12:29,034 process          L0436 DEBUG| [stdout] lshw-B.02.18-21.el8.ppc64le
2020-04-25 16:12:29,035 process          L0686 INFO | Command 'rpm -q lsh

[2020-04-27 10:35] harihare commented on #1655
https://github.com/avocado-framework/avocado/pull/3595

[2020-04-27 11:05] PraveenPenguin commented on #1652
@Gene-Lo this can be an issue on test suite issue  please raise an issue against  https://github.com/deater/perf_event_tests/  or can be os issue

[2020-04-27 11:05] #1652 closed

[2020-04-28 03:10] Gene-Lo commented on #1482
Dear PraveenPenguin,
After use python3 to install Avocado(ver:77.0) in Rhel8.1 to re-test, it still suspends while running test, which makes the result failed.

Run command "avocado run perf_events_crash_test.py"
Here is job-log generated by Avocado:
[20200417-Distro-perf_events_crash_test-job.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/4543154/20200417-Distro-perf_eve

[2020-04-28 03:55] nasastry commented on #1630
@Gene-Lo Thanks for the information. On RHEL 8.1 and above it's `gcc-c++` not the `gcc-g++` will get it corrected and soon send a patch to fix this error.

[2020-04-28 05:58] #1626 closed

[2020-04-28 08:12] harish-24 commented on #1631
@Gene-Lo which is same as https://github.com/avocado-framework-tests/avocado-misc-tests/issues/1584.. I see @PraveenPenguin is working on this (assuming from assigning to himself).

@PraveenPenguin Please update on the same. If its not being worked upon I will be able to take it up.

[2020-04-28 08:14] harish-24 commented on #1631
@Gene-Lo If there are no other issues, we can close this and pursue in that issue.

[2020-04-28 08:28] PraveenPenguin commented on #1631
@harish-24 yes please as not able get time to work on

[2020-04-28 08:28] PraveenPenguin commented on #1584
assigning to @harish-24

[2020-04-28 15:03] harish-24 commented on #1631
@Gene-Lo  https://github.com/avocado-framework/avocado/pull/3750 and https://github.com/avocado-framework/avocado/pull/3751 should fix the issues

[2020-04-28 15:03] harish-24 commented on #1584
@kyle-ibm https://github.com/avocado-framework/avocado/pull/3750 and https://github.com/avocado-framework/avocado/pull/3751 should fix the issues

[2020-04-29 01:33] Gene-Lo commented on #1631
@harish-24 @PraveenPenguin
OK. Many thanks for your kindly help!!

[2020-04-29 01:33] #1631 closed

[2020-04-29 05:36] PraveenPenguin commented on #1654
@Gene-Lo that should be reported against distro either can be distro issue or test suite  issue, hence closing this

[2020-04-29 05:36] #1654 closed

[2020-04-29 05:36] PraveenPenguin commented on #1653
plesae rasie distro bug

[2020-04-29 05:36] #1653 closed

[2020-04-29 05:37] PraveenPenguin commented on #1630
closing as the fix is in

[2020-04-29 05:37] #1630 closed

[2020-04-29 05:37] PraveenPenguin commented on #1642
closing as fix is in

[2020-04-29 05:37] #1642 closed

[2020-04-29 05:38] PraveenPenguin commented on #1595
closing this as the fix is in, @ZYV037 if you still face issue feel free to reopen the issue

[2020-04-29 05:38] #1595 closed

[2020-04-29 05:40] PraveenPenguin commented on #1403
closing this as it seems system configuration issue, @alfredyswu if you still want to pursue feel free to reopen the issue

[2020-04-29 05:40] #1403 closed

[2020-04-29 05:42] PraveenPenguin commented on #1078
closing  as most of the test case moved to python3

[2020-04-29 05:42] #1078 closed

[2020-04-29 05:43] #1067 closed

[2020-04-29 05:44] PraveenPenguin commented on #972
as we moved shell version to python so this issue is not relevant to closing

[2020-04-29 05:44] #972 closed

[2020-04-29 05:44] #795 closed

[2020-04-29 05:45] #728 closed

[2020-04-29 07:42] abdhaleegit opened #1665 "New Test :SRIOV NIC device test"
[code]

[2020-04-29 13:23] lihongqiang-ops opened #1667 "Mips CPU's issues"
Hello! I have a question about using avocado-framework-tests to test mips CPU. When running here, the program is stuck here and not running, I don't know what the reason is. Also, when I failed to run, the user trinity always exists, his process cannot be deleted, and it always takes up a lot of memory. After restarting the computer, I will trouble you to analyze the problem. Thank you very much.

[2020-04-30 05:44] ZYV037 commented on #1595
applogize. we tested and issue fixed.

[2020-04-30 07:33] abdhaleegit opened #1669 "network_test.test_ping fails"
[code]

detail logs http://ltc-jenkins.aus.stglabs.ibm.com:81/abdul/ipconfig.txt

[2020-05-02 12:04] narasimhan-v opened #1674 "[RFC] Make disk related tests like fio, tiobench, htx, ltp_fs run on a combination of LVs, FSs, RAIDs, raw disks"

[2020-05-03 13:20] narasimhan-v commented on #1674
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1675

[2020-05-03 15:24] Naresh-ibm commented on #1674
@narasimhan-v good thought, we should start working on it.

[2020-05-03 15:26] narasimhan-v commented on #1674
Please check the PR in the previous comments

[2020-05-04 06:08] abdhaleegit opened #1676 "parallel_dd.py : avcado crashed when running the test"
[code]

[code]

[2020-05-04 08:48] #1669 closed

[2020-05-04 17:16] abdhaleegit opened #1681 "netwok_test : the ip configuration is messing user ip config"
I have an interface enP19p96s0f2 and I have sysfs ip configuration ifcfg-enP19p96s0f0 created with
all IP configurations

TYPE=Ethernet
BOOTPROTO=none
NAME=enP19p96s0f0
DEVICE=enP19p96s0f0
ONBOOT=yes
IPADDR=102.10.10.188
NETMASK=255.255.255.0
HWADDR=98:be:94:07:3a:68

After running some network test, the new interface.py utils is messing my config file and in some cases it is deleting my config fi

[2020-05-04 17:29] abdhaleegit opened #1682 "bridge.py: br0 interface did not clean up after the test"
br0 bridge interface is not removed at the end of test resulting

making the interface config messed up, results in next test failures

[root@ltc-zz1b-lp2 network-scripts]# ls
ifcfg-br0

ip a
8: br0: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 qdisc noqueue state DOWN group default qlen 1000
    link/ether 42:c5:f0:75:a1:4c brd ff:ff:ff:ff:ff:ff
    inet 102.10.10.188/24 brd 102.10.10.255 scope g

[2020-05-05 06:28] smruti77 commented on #1682
@abdhaleegit i am not getting this issue.

[2020-05-05 06:52] abdhaleegit opened #1690 "[CI] Add sriov logical support in DLPAR.py test case"
currently the test cases io/pci/dlpar.py  has only support for eth devices,, please add support for sriov devices too
[code]

[2020-05-05 06:52] abdhaleegit commented on #1690
[code]

[2020-05-05 07:45] abdhaleegit opened #1691 "veth/austin : ethtool, network_test : ERROR: Link up of interface is taking longer than 120 seconds"
[code]

[2020-05-05 07:48] naveen538 opened #1692 "kernbench.py :FAIL: No vmlinux found, kernel build failed."
Distro : RHEL 8.2 (4.18.0-193.el8.ppc64le)
Machine : lep8d

job log snippet
-------------------
2020-05-05 00:41:11,038 process          L0436 DEBUG| [stdout]   LD      vmlinux.o
2020-05-05 00:41:14,883 process          L0436 DEBUG| [stdout]   MODPOST vmlinux.o
2020-05-05 00:41:15,312 process          L0436 DEBUG| [stdout]   MODINFO modules.builtin.modinfo
2020-05-05 00:41:15,465 process

[2020-05-05 09:16] vaishnavibhat commented on #1690
Working on enabling DLPAR for sriov adapters.  Steps to be followed

List the logical ports:
---------------------------
lshwres -r sriov --rsubtype logport -m ltcfleet2 --level eth --filter "lpar_names=ltcfleet2-lp19"

Remove a logical port:
---------------------------
 chhwres -r sriov -m ltcfleet2 --rsubtype logport -o r --id 19 -a "adapter_id=6,logical_port_id=27018012"

Add back the same logi

[2020-05-06 04:29] PraveenPenguin commented on #1681
now we have lib avilable we need to adopt in our test

[2020-05-06 11:52] harish-24 commented on #1692
@naveen538 This is an issue with kernel config, as suggested in error env requires `CONFIG_DEBUG_INFO_BTF` to be disabled. AFAIK this issue does not belong here.

[2020-05-07 05:23] abdhaleegit opened #1698 "io/driver/driver_parameter.py.data: add driver parameter yaml file for all the adapter drivers"
Please add the yaml file with parameters for all remaining IO cards

1. ibmveth driver
2. bnx2x
3. ibmvnic
4. spark ibmnvme
5. ipr
6. ibmvscsi
7. ibmvfc
8. lpfc
9. qla2xxx
10. be2net

[2020-05-07 06:05] abdhaleegit opened #1699 "network_test : lro test fails with error on shinner bnx2x adapter"
[code]

[2020-05-07 06:13] smruti77 commented on #1681
@abdhaleegit this one done.

[2020-05-07 07:48] abdhaleegit commented on #1691
Looks like it is because the interface state is not changing to UP state even though the links are up

[2020-05-07 08:19] abdhaleegit commented on #1682
after deleting br0,,  ifup is bringing up the bridge interface

[2020-05-07 08:20] abdhaleegit commented on #1682
please delete br0 script in  /etc/sysconfig/network-scripts/ifcfg-br0
in teardown

[2020-05-07 11:49] abdhaleegit opened #1704 "Network_config.py : tests mtu_check, seed_check, duplex_check failed"
[code]

[code]

[2020-05-07 11:52] abdhaleegit opened #1705 "htx test fails on veth nic devices"
[code]

[2020-05-07 18:39] abdhaleegit opened #1706 "dlpar.py: lshwres still lists the drc after dlpar remove of lpfc adapter"
[code]

[2020-05-07 18:58] abdhaleegit opened #1707 "lpm.py : vnic ping_check fails with error"
[code]
[code]

[2020-05-07 19:06] abdhaleegit opened #1708 "ethtool_test.py:Ethtool.test_ethtool;Get-phy-tunable fails (shinner/bnx2x)"
[root@ltc-zz1b-lp1 ~]# ethtool --get-phy-tunable enP16p1s0f0 downshift
Cannot Get PHY downshift count: Operation not supported
[root@ltc-zz1b-lp1 ~]# echo $?
87

[2020-05-07 19:08] abdhaleegit commented on #1699
2.  (70/99) avocado-misc-tests/io/net/network_test.py:NetworkTest.test_scp;7000-ef33:  FAIL: unable to copy from peer machine (698.60 s)

[2020-05-08 04:34] harish-24 commented on #1584
This can be closed as both the fixes are in.

[2020-05-08 05:47] PraveenPenguin commented on #1584
@harish-24 thanks

[2020-05-08 05:47] #1584 closed

[2020-05-08 06:00] smruti77 commented on #1699
#1709 fixed is in this PR

[2020-05-08 11:34] abdhaleegit opened #1710 "iopingtest : test suite compilation fails"
[code]

[2020-05-08 11:35] abdhaleegit commented on #1710
@PraveenPenguin please have a look

[2020-05-08 11:43] abdhaleegit opened #1711 "smartctl : few tests are failing"
[code]

[2020-05-08 11:43] abdhaleegit commented on #1711
FAIL: Smartctl option --test=long FAILS (5.01 s)
FAIL: Smartctl option -s on FAILS
FAIL: Smartctl option -S off FAILS
FAIL: Smartctl option --smart=off -T verypermissive FAILS
FAIL: Smartctl option --smart=on -T permissive FAILS
FAIL: Smartctl option --smart=on -T normal FAILS
FAIL: Smartctl option --smart=on -T conservative FAILS
FAIL: Smartctl option --attributes --log=selftest --quietmode=error

[2020-05-08 11:43] abdhaleegit commented on #1711
@manvanthar Could you please have a look

[2020-05-08 11:48] abdhaleegit opened #1712 "htx is failing for vscsi disks"
[code]

[2020-05-08 11:53] abdhaleegit opened #1713 "ethtool: tests FAIL for austin tg3 device"
ethtool;SelfTest-175f:  FAIL: failed
test_ethtool;Get-dump-4634:  FAIL: failed
test_ethtool;Get-phy-tunable-0250:  FAIL: failed
test_ethtool;Autonegotiation-a091:  FAIL: failed
ethtool;Get-phy-tunable-0250:  FAIL

[code]

[2020-05-08 12:01] manvanthar commented on #1711
@abdhaleegit can you please attach complete logs please.     Depending on the drive we are using some of the behavior can be expected.  But i can check that.

[2020-05-08 12:03] abdhaleegit opened #1714 "bridge : bridge test fails on tg3 interface"
[code]

[2020-05-08 12:05] abdhaleegit commented on #1706
it fails for tg3 adapter too

[2020-05-08 12:08] abdhaleegit opened #1715 "distro_tools: rework on tools test"
(02/26) avocado-misc-tests/io/pci/distro_tools.py:DisrtoTool.test;lsslot_pci_-a-85d0:  FAIL: Failed to display hot plug slots (1.95 s)
 (25/26) avocado-misc-tests/io/pci/distro_tools.py:DisrtoTool.test;ofpathname_l-ec8d:  FAIL: ofpathname failed (1.97 s)
 (26/26) avocado-misc-tests/io/pci/distro_tools.py:DisrtoTool.test;ofpathname_a-0ab3:  FAIL: ofpathname failed (2.12 s)

[2020-05-08 12:08] abdhaleegit commented on #1715
[code]

[2020-05-08 12:08] abdhaleegit commented on #1715
[code]

[2020-05-09 14:53] PraveenPenguin commented on #1710
@abdhaleegit above commit will fix the issue, if it works please close this issue

[2020-05-10 14:14] PraveenPenguin commented on #1629
seems me a bug @nasastry can you please confirm

[2020-05-10 14:20] PraveenPenguin commented on #1405
please try latest code base as I am not able to recreate this issue any more

[2020-05-10 14:20] #1405 closed

[2020-05-10 14:21] PraveenPenguin commented on #725
closing this as no response from user

[2020-05-10 14:21] #725 closed

[2020-05-10 14:22] #734 closed

[2020-05-10 14:23] PraveenPenguin commented on #742
am not able to recreate this issue any more please try on the recent code base, if still facing issue feel free to reopen

[2020-05-10 14:23] #742 closed

[2020-05-10 14:23] PraveenPenguin commented on #730
we can use Tag mechanism most for the test we have this so closing this

[2020-05-10 14:23] #730 closed

[2020-05-11 06:42] abdhaleegit opened #1716 "driver_parameter.py: Handle different driver parameter in a common yaml"
Each driver/adapter has unique parameters and creating separate yaml for each driver will result in complexity in handling multiple cfgs

so find a common way to handle all the adapter parameter in single yaml

as these params are static and unique include them in yaml for respective driver

[2020-05-11 07:00] abdhaleegit commented on #1676
@PraveenPenguin do you have any hint here ? smruti is unable to sove this

[2020-05-11 07:08] PraveenPenguin commented on #1676
ah @abdhaleegit i did not check this, will check and try to fix

[2020-05-11 07:19] abdhaleegit opened #1717 "all network related test are failing at avocado.utils.network.exceptions.NWException: Failed connecting 101.10.10.193:22"
[code]

[2020-05-11 07:52] nasastry commented on #1629
@PraveenPenguin I have gone through the code and 8.1/8.2 machine ... seems need to load `libc.so` also ... asked interns to do the code changes.
Thanks!!

[2020-05-11 07:58] abdhaleegit commented on #1716
@vaishnavibhat this is dependent on https://github.com/avocado-framework-tests/avocado-misc-tests/issues/1698

[2020-05-11 07:59] abdhaleegit commented on #1716
@vaishnavibhat  Are you working on this ?

[2020-05-11 09:36] vaishnavibhat commented on #1716
Hi Abdul.
I have executions on 32tb brazos machine this week. I havent started working on the list you provided yet.
ibmveth driver
bnx2x
ibmvnic
spark ibmnvme
ipr
ibmvscsi
ibmvfc
lpfc
qla2xxx
be2net

[2020-05-11 09:37] manvanthar commented on #1716
This needs some design approach before implementation,  If we merge all of this together.
1.   We will have multiple run skips ,  basically with the current framework it just attempts everthing on the yaml.
2.   How do we differential what driver we are covering,  System may have different config/drivers.

Atleast different yaml helps to customise cfg based on the system/config we have.

Not in th

[2020-05-11 09:37] vaishnavibhat commented on #1698
I have added the yaml files for below NIC adapters till date.
Slate
Shiner
Austin

[2020-05-11 09:54] narasimhan-v commented on #1716
I am also not in favour of merging all yamls. Unnecessary `cancel`s, too bulky test log.

If any of avocado's features solves this issue for us, we can go with it. Else, it is not going to look good, IMO.

I am thinking of solving this problem at a different layer, since this problem originates from there.
avocado-wrapper cfg files is the place where it originates.

[2020-05-11 10:25] abdhaleegit commented on #1716
One approach would be

1. Remove driver specific test from all the buckets

2. Create driver specific bucket ex :` lpfc.cfg, qla2xx.cfg, austin_tg3.cfg` and add all driver specific test to this bucket

3. Alll driver generic tests should go to a common bucket ex: io_network will have all nic common tests

4. when running test choose  common` io_network`  and driver specific `io_tg3`

[2020-05-11 10:34] abdhaleegit commented on #1716
@smruti77 will you be taking up this and create yaml for all listed drivers ?

[2020-05-11 10:39] abdhaleegit opened #1719 "EEH error injection test for SRIOV VF [CI/newtest]"

[2020-05-11 10:42] PraveenPenguin commented on #1716
@abdhaleegit, first of all, I did not really understand the requirement as why we need this as per I know the different system has a different configuration  and  yaml  definition a choice of user as what we have in upstream just a snapshot how a user can leverage test so I don't feel this requirement suitable for upstream @narasimhan-v your thought, please

[2020-05-11 10:57] smruti77 commented on #1716
ok

[2020-05-11 11:08] narasimhan-v commented on #1716
@PraveenPenguin The requirement comes from test cfg files.
Each IO component can have multiple drivers (which means, driver based tests withhmultiple yamls). To tackle this in test cfgs, we simply can not have multiple runs of same test with different yamls. That would have a huge number of CANCELs, or even run for adapters we don't want to run (DANGEROUS).

So, the solution is to have different c

[2020-05-11 12:14] PraveenPenguin commented on #1692
@naveen538 above patch will fix the issue, please try and close this issue

[2020-05-12 05:37] smruti77 commented on #1682
#1701

[2020-05-12 05:37] smruti77 commented on #1681
#1694

[2020-05-12 05:38] smruti77 commented on #1665
#1689

[2020-05-12 05:39] smruti77 commented on #1699
#1709

[2020-05-12 09:40] smruti77 commented on #1714
@abdhaleegit  this one is working fine. saw this error in old script,new one is working fine.

[2020-05-12 09:40] smruti77 commented on #1714
JOB ID     : 441bd2357510f6b541469531c184ff95f738d0fe
JOB LOG    : /home/ioci/avocado-fvt-wrapper/results/job-2020-05-12T02.37-441bd23/job.log
 (1/3) bridge.py:Bridging.test_bridge_create;run-45ed: PASS (0.62 s)
 (2/3) bridge.py:Bridging.test_bridge_run;run-45ed: PASS (4.81 s)
 (3/3) bridge.py:Bridging.test_bridge_delete;run-45ed: PASS (0.92 s)
RESULTS    : PASS 3 | ERROR 0 | FAIL 0 | SKIP 0 | WAR

[2020-05-12 11:18] smruti77 commented on #1713
this is not script issue, options are not supported so this is failing.

[2020-05-13 05:52] abdhaleegit commented on #1715
@smruti77

tools which require pci bus id will go in to
/io/pci/pci_tools.py
tools which do not require pci_bus id will go to
/io/common/distro_tools.py

[2020-05-13 06:14] abdhaleegit commented on #1715
lsprop, lparstat , lssrc , lsdevinfo. etc   these wiil
virtual device tools :
lsslot
ls-veth
lsvio
ls-vscsi
ls-vdev

all virtual will go in /io/common/virtual_tools.py
all common to /io/common/distro_tools.py
all pci tools to /io/pci/pci_tools.py

[2020-05-13 06:31] abdhaleegit commented on #1714
@smruti77 which PR fixes this ... please paste here

[2020-05-13 06:34] smruti77 commented on #1715
lsprop, lparstat , lssrc , lsdevinfo this will be commion ..?

[2020-05-13 07:20] abdhaleegit commented on #1713
@smruti77 I will debug this agian.. and update

[2020-05-13 10:30] abdhaleegit commented on #1706
@smruti77 this will be taken by @Naresh-ibm

[2020-05-13 18:30] abdhaleegit opened #1726 "[virtual] pci_hotplug.py : Errno 2 No such file or directory: '/sys/bus/pci/devices//devspec'"
pci_hotplug test fails for virtual devices
[code]

[2020-05-13 19:08] abdhaleegit opened #1728 "[nvme] software raid test Failed to create a MD device"
[code]

[2020-05-13 19:12] abdhaleegit opened #1729 "[nvme] lvsetup.py : fdisk: cannot open /dev/nvme1n2: Input/output error"
[code]

[2020-05-13 19:16] abdhaleegit opened #1730 "[nvme] iozone test fails TypeError: write() argument must be str, not bytes"
[code]

[2020-05-13 19:18] abdhaleegit opened #1731 "[nvme] blkdiscard test fails on nvme disk :Operation not supported"
[code]

[2020-05-13 19:21] abdhaleegit opened #1732 "[nvme] firmware upgrade test: make fail for upstream cli"
[code]

[2020-05-13 20:17] abdhaleegit opened #1733 "[eeh/fc] eeh test failed with error Unable to get 'Class' property of given pci address"
[code]

[2020-05-14 04:21] vaishnavibhat opened #1734 "LRO test fails for non vnic devices"
In test_lro(self) , path = '/sys/class/net/%s/device/name' % self.iface is not available for nic devices.

(19/99) network_test.py:NetworkTest.test_lro;1500-7aab:  ERROR: [Errno 2] No such file or directory: '/sys/class/net/enP16385p1s0f0/device/name' (69.25 s)
 (20/99) network_test.py:NetworkTest.test_lro;2000-20e2:  ERROR: [Errno 2] No such file or directory: '/sys/class/net/enP16385p1s0f0/devic

[2020-05-14 05:18] abdhaleegit commented on #1691
this is a real bug with the code, closing this

[2020-05-14 05:18] #1691 closed

[2020-05-14 05:26] abdhaleegit commented on #1681
closing this as fixed

[2020-05-14 05:26] #1681 closed

[2020-05-14 05:30] abdhaleegit commented on #1665
Test is developed, closing this

[2020-05-14 05:30] #1665 closed

[2020-05-14 05:49] abdhaleegit commented on #1682
closing this

[2020-05-14 05:49] #1682 closed

[2020-05-14 06:40] abdhaleegit commented on #1734
already fixed https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1709

[2020-05-14 07:19] abdhaleegit commented on #1698
closing it as it is already https://github.com/avocado-framework-tests/avocado-misc-tests/issues/1716

[2020-05-14 07:19] #1698 closed

[2020-05-15 01:24] naveen538 commented on #1692
Thanks @PraveenPenguin

After Patch
---------------
avocado run kernbench.py
JOB ID     : 2d9a04222ad2a457a04cd039537b0eb05dfe401f
JOB LOG    : /home/OpTest/avocado-fvt-wrapper/results/job-2020-05-15T05.06-2d9a042/job.log
/usr/local/lib/python3.6/site-packages/avocado_framework-78.0-py3.6.egg/avocado/plugins/run.py:287: FutureWarning: The following arguments will be changed to boolean soon: sysinf

[2020-05-15 01:24] #1692 closed

[2020-05-15 05:03] smruti77 commented on #1705
@abdhaleegit not getting this error.but htx is configuring ip in different format, hots - 146.1.193.204 peer -   146.1.194.193 because of this interface is not pinging that's why its failing.

[2020-05-15 05:55] Naresh-ibm commented on #1706
@abdhaleegit this looks to me either setup(HMC rmc connection issue) or the actual issue itself.
I have tried this manually on fleet2 with NVMe adapter and it failed.

hscroot@ltchmcv4:~> chhwres -r io -m ltcfleet2 -o r --id 4 -l 21010018
HSCL2929 The dynamic removal of I/O resources failed: The I/O slot dynamic partitioning operation failed.  Here are the I/O slot IDs that failed and the reasons

[2020-05-15 09:52] abdhaleegit opened #1738 "FIO run failed on fc multipath device"
[code]

[2020-05-15 10:23] abdhaleegit opened #1739 "htx: save and restore old ip address configuration after htx run"
as htx changes IP configuraiton, add a code to restore the original ip setup

[2020-05-15 10:26] abdhaleegit commented on #1739
@smruti77 take a look

[2020-05-15 10:26] abdhaleegit commented on #1738
@Naresh-ibm take a look

[2020-05-15 10:26] abdhaleegit commented on #1734
close this @vaishnavibhat

[2020-05-15 10:36] Naresh-ibm commented on #1738
sure

[2020-05-15 11:13] smruti77 commented on #1708
#1740

[2020-05-15 11:59] narasimhan-v commented on #1706
@Naresh-ibm Looks like an HMC issue, please raise
[code]

[code]

[2020-05-15 12:00] narasimhan-v commented on #1706
System is left in this above mentioned state

[2020-05-20 08:06] narasimhan-v commented on #1738
This is a generic issue with all devices, when run on raw disk, randrw tests fail

[2020-05-20 08:08] narasimhan-v commented on #1732
fixed by removing this from cfg for now. sent a patch for the same

[2020-05-20 08:11] narasimhan-v commented on #1731
@abdhaleegit can you please point me to the system or get me the output of `nvme id-ctrl /dev/nvme0 -H | grep oncs -A7`

[2020-05-20 08:13] smruti77 commented on #1714
@abdhaleegit for latest module change for nic, that one is working fine for me.

[2020-05-20 08:15] narasimhan-v commented on #1730
@abdhaleegit please check if this the repo we have is older.

I see that the below patch might have fixed the issue
[code]

[2020-05-20 08:16] narasimhan-v commented on #1729
system access details please. have not seen this issue elsewhere.

[2020-05-20 08:16] narasimhan-v commented on #1728
Investigating. Recently, metadata 0.90 is causing some issues.

[2020-05-20 08:18] narasimhan-v commented on #1733
@abdhaleegit some newer pci classes needs to be added into the avocado utils.
Can you get me the system access or `lspci -nnvmm -s <pci address>` output so that I can send a patch.

[2020-05-20 08:21] narasimhan-v commented on #1705
Waiting for @abdhaleegit to confirm on the latest status.

[2020-05-20 08:22] narasimhan-v commented on #1704
@smruti77 can you please check on this ?

[2020-05-20 08:23] #1699 closed

[2020-05-20 08:25] smruti77 commented on #1704
ok

[2020-05-20 08:25] narasimhan-v commented on #1714
@smruti77 please paste the avocado PR link here

[2020-05-20 08:26] narasimhan-v commented on #1715
@smruti77 please work on getting the PR merged

[2020-05-20 08:27] narasimhan-v commented on #1717
@smruti77 can you please check and updated if this failure is still seen ?

[2020-05-20 08:28] smruti77 commented on #1714
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1588

[2020-05-20 08:28] #1708 closed

[2020-05-20 08:29] #1734 closed

[2020-05-20 08:31] narasimhan-v commented on #1612
@Naresh-ibm please look into the issue and suggest ways to solve this.

[2020-05-20 08:31] narasimhan-v commented on #1643
Have sent a patch to remove the test for now, will look into the actual failure.

[2020-05-20 08:31] smruti77 commented on #1739
#1741

[2020-05-20 08:33] smruti77 commented on #1717
@narasimhan-v you can close this issue here, issue was open in utills for this.not releated to test script this one.

[2020-05-20 08:35] #1714 closed

[2020-05-20 08:37] smruti77 commented on #1715
@narasimhan-v its done already.

[2020-05-20 08:39] #1715 closed

[2020-05-20 09:31] smruti77 commented on #1704
#1742

[2020-05-20 11:02] Naresh-ibm commented on #1612
@abdhaleegit @narasimhan-v
if we are using single path name of a multipath disk then it complains this saying disk is in use and cannot run mount it.

That is the reason we have moved all our test from /dev/sdx input to /dev/mapper/mpathX
if any script is using the /dev/sdX, for and if your formatting the disk then "yes" we have flush the multipath and run the test.

please point out if we have an

[2020-05-20 11:59] narasimhan-v commented on #1612
Perfectly summarised @Naresh-ibm

[2020-05-20 14:30] #1704 closed

[2020-05-20 14:33] narasimhan-v commented on #1717
@smruti77 please paste that issue link, so that it serves as a reference.

[2020-05-20 14:35] narasimhan-v commented on #1655
@Naresh-ibm can you please send a patch to this test to use the latest function name ?

[2020-05-20 14:38] narasimhan-v commented on #1592
@smruti77 is this done ?

[2020-05-20 14:38] narasimhan-v commented on #1589
@smruti77 can you please check on this ?

[2020-05-20 14:40] narasimhan-v commented on #1590
which was quoted as taken care by -  https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1588

Since 1588 is merged, closing issue

[2020-05-20 14:40] #1590 closed

[2020-05-20 14:43] narasimhan-v commented on #1712
Assigning to @abdhaleegit back till we have more details, and also till we get an owner for vscsi.

[2020-05-20 14:44] narasimhan-v commented on #1676
@smruti77 do you have any system setup or job.log that might help here ?

[2020-05-20 14:45] narasimhan-v commented on #1729
@abdhaleegit pinging for notification

[2020-05-20 16:33] Naresh-ibm commented on #1655
issue is resolve with below PR,
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1720.
Hence closing it.

[2020-05-20 16:36] #1655 closed

[2020-05-21 04:45] smruti77 commented on #1592
@narasimhan-v this one already merged.

[2020-05-21 04:47] smruti77 commented on #1717
#3810

[2020-05-21 04:50] #1717 closed

[2020-05-21 04:51] narasimhan-v commented on #1592
@smruti77 please paste PR link also

[2020-05-21 04:57] smruti77 commented on #1592
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1639

[2020-05-21 04:58] smruti77 commented on #1589
ok

[2020-05-21 05:03] #1592 closed

[2020-05-21 06:20] smruti77 commented on #1676
@narasimhan-v have the system

[2020-05-21 06:34] narasimhan-v commented on #1676
Please ping me the credentials via slack

[2020-05-21 07:10] narasimhan-v commented on #1643
Ignore the above.

Raised an issue https://github.com/linux-nvme/nvme-cli/issues/716
Worked around that in the test and sent a fix
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1743

[2020-05-21 07:58] smruti77 commented on #1676
ok

[2020-05-21 15:53] narasimhan-v commented on #1643
Fixed via https://github.com/linux-nvme/nvme-cli/issues/716

[2020-05-21 15:53] narasimhan-v commented on #1732
Fixed via https://github.com/linux-nvme/nvme-cli/issues/716

[2020-05-21 15:53] #1732 closed

[2020-05-21 15:53] #1643 closed

[2020-05-22 06:56] smruti77 commented on #1589
@narasimhan-v not getting any timing issue, its working fine.

[2020-05-22 07:01] smruti77 commented on #1589
JOB ID     : e036f6c73d3891ae8e1fbfdbebc8206b278861bc
JOB LOG    : /root/avocado/job-results/job-2020-05-22T02.13-e036f6c/job.log
 (01/21) tcpdump.py:TcpdumpTest.test;1500-generic-45dd: PASS (128.25 s)
 (02/21) tcpdump.py:TcpdumpTest.test;2000-generic-11af: PASS (113.51 s)
 (03/21) tcpdump.py:TcpdumpTest.test;3000-generic-98c8: PASS (111.50 s)
 (04/21) tcpdump.py:TcpdumpTest.test;1500-generic_host

[2020-05-22 07:15] #1589 closed

[2020-05-25 13:49] #1676 closed

[2020-05-25 14:33] manvanthar opened #1745 "Infiniband: Netconfig config tests gets the data from mdev:mlx5_core instead of pci:mlx5_core"
[code]
[code]

tests 2 to 5 are looking at incorrect directory for infiniband,

[2020-05-26 03:24] Gene-Lo commented on #1653
Dear @PraveenPenguin
Excuse me that could you give me the link of "distro bug"?
Many thanks!!

[2020-05-26 08:32] #1739 closed

[2020-05-26 10:57] Naresh-ibm opened #1748 "lvsetup failing to find the disk"
15:25:40 INFO    : Running: /usr/local/bin/avocado run avocado-misc-tests/io/disk/lvsetup.py -m /tmp/mux/io_fc_lvsetup_lvsetup.yaml --force-job-id 4c1fb61bdab8aa547d67243516d6f85802fde01e  --job-results-dir /home/ioci/logs/io_fc/results
/usr/local/lib/python3.6/site-packages/avocado_framework-78.0-py3.6.egg/avocado/plugins/run.py:286: FutureWarning: The following arguments will be changed to boole

[2020-05-26 11:08] Naresh-ibm opened #1749 "EEH test warns and did not get hit on adapter"
20:03:42 INFO    : Running Host Tests Suite io_fc_PowerVMEEH_PowerVMEEH
20:03:42 INFO    : Running: /usr/local/bin/avocado run avocado-misc-tests/io/pci/PowerVMEEH.py -m /tmp/mux/io_fc_PowerVMEEH_PowerVMEEH.yaml --force-job-id e22e9b88b02dd3b25bc83e7cb91403ad5d0b54cc  --job-results-dir /home/ioci/logs/io_fc/results
[17379.138844] sd 1:0:3:0: alua: port group 00 state A non-preferred supports tolus

[2020-05-26 11:09] Naresh-ibm commented on #1749
it says test pas but the eeh hit is not observe on adapter.
I have seen this in past, we have to checnge the function value and it will work.

[2020-05-27 02:13] Gene-Lo opened #1750 "After run livepatch.py in Rhel8.1 with Avocado(version:79.0), it shows " ERROR: Command 'make' failed.""
【Test Result】
After run livepatch.py in Rhel8.1 with Avocado(version:79.0), it shows " ERROR: Command 'make' failed.".

《SOL log》
(1/1) livepatch.py:Livepatch.test: ERROR: Command 'make' failed.\nstdout: b'make -C /lib/modules/4.18.0-147.8.1.el8_1.ppc64le/build SUBDI                           RS=/var/tmp/tmps_b58vlc modules\n'\nstderr: b'make[1]: *** /lib/modules/4.18.0-147.8.1.el8_1.ppc64le/build

[2020-05-27 02:31] Gene-Lo opened #1751 "After run dma_memtest.py in Rhel8.1 with Avocado(version:79.0), it shows " FAIL: DMA memory test failed ”"
【Test Result】
After run dma_memtest.py in Rhel8.1 with Avocado(version:79.0), it shows " FAIL: DMA memory test failed ".

《SOL-log》
(1/1) dma_memtest.py:DmaMemtest.test;default-default-de9f:  FAIL: DMA memory test failed. (1866.33 s)
RESULTS    : PASS 0 | ERROR 0 | FAIL 1 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 0

【Expect Result】
After run dma_memtest.py, it should show PASS.

【Test Steps】
1. Mou

[2020-05-27 04:48] harish-24 commented on #1751
#1752 should fix this issue, It was a hidden python2 -> python3 issue.

[2020-05-27 04:56] Gene-Lo opened #1753 "After run kprobe.py in Rhel8.1 with Avocado(version:79.0), it shows " FAIL: kprobe probing issues, check dmesg for more information ""
【Test Result】
After run kprobe.py in Rhel8.1 with Avocado(version:79.0), it shows " FAIL: kprobe probing issues, check dmesg for more information ".

《SOL-log》
(1/1) kprobe.py:Kprobe.test:  [  694.297479] kprobe_example: loading out-of-tree module taints kernel.
[  694.299511] kprobe_example: module verification failed: signature and/or required key missing - tainting kernel
[  694.302102] Planted

[2020-05-27 06:04] narasimhan-v commented on #1596
https://github.com/avocado-framework/avocado/pull/3792

[2020-05-28 09:26] harish-24 commented on #1751
This can be closed.

[2020-05-28 09:44] narasimhan-v commented on #1751
Thanks. Closing

[2020-05-28 09:44] #1751 closed

[2020-05-29 06:26] Gene-Lo commented on #1632
Dear @PraveenPenguin
Today I installed the latest Avocado and re-tested it again, but it still showed FAIL like below:

↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
 (1/2) flail.py:Flail.test;xfs-5cf2: ERROR: Command 'sed -i 's/.*-lm.*/& -lm' Makefile' failed.\nstdout: b''\nstderr: b"sed: -e expression #1, char 15: unterminated `s' command\n"\nadditional_info: Non

[2020-06-01 08:52] #1690 closed

[2020-06-02 07:46] Gene-Lo commented on #1630
Dear @PraveenPenguin
Excuse me that after we run perftool.py in Rhel8.1 with Avocado(version:79.0), it still shows FAIL.
Please kindly support us. Many thanks!!

《SOL log》
 (1/1) perftool.py:Perftool.test: FAIL: 270 Test failed (1712.12 s)
RESULTS    : PASS 0 | ERROR 0 | FAIL 1 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 0

《job log》- Take some logs for example:
L0439 DEBUG| [stdout] -- [ FAIL ] -- p

[2020-06-02 07:49] Gene-Lo commented on #1631
Dear @harish-24
Excuse me that after we run kselftest.py in Rhel8.1 with Avocado(version:79.0), it still shows FAIL.
Please kindly support us. Many thanks!!

《SOL log》
(1/6) kselftest.py:kselftest.test;vm-distro-b755: FAIL: Testcase failed during selftests (26647.54 s)
(2/6) kselftest.py:kselftest.test;vm-upstream-fa5d: FAIL: Testcase failed during selftests (809.12 s)
(3/6) kselftest.py:kselftest

[2020-06-03 04:51] harish-24 commented on #1631
@Gene-Lo Those are test failures and needs to be debugged at the OS level. Not related to any test case issue. As for the warning you have pasted, it is harmless and is not related to the test failures.

[2020-06-04 04:54] manvanthar opened #1762 "DLPAR tests fail"
[code]

[2020-06-04 07:00] narasimhan-v commented on #1762
@smruti77 can you look into this please

[2020-06-04 07:01] narasimhan-v commented on #1748
@Naresh-ibm job.log will help here to debug

[2020-06-04 07:15] narasimhan-v commented on #1745
Looks like needs utils fix. Please ping me sys access details in slack.

[2020-06-05 02:17] Gene-Lo commented on #1629
@PraveenPenguin @nasastry
After re-test it in Rhel8.1 with Avocado (Version: 79), the result is PASS.
[20200605-perf_sdt_probe-JOB_LOG.zip](https://github.com/avocado-framework-tests/avocado-misc-tests/files/4733566/20200605-perf_sdt_probe-JOB_LOG.zip)
Many thanks for your help!!

[2020-06-05 02:17] #1629 closed

[2020-06-05 02:22] Gene-Lo commented on #1631
@harish-24 Thanks for you feedback!!
@nasastry Could you kindly double check the issue?

[2020-06-05 04:01] smruti77 commented on #1762
@manvanthar this is which card ..? if it is sriov "lshwres -r io" this command will fail.we will get this error.

[2020-06-05 06:07] manvanthar commented on #1762
yes it is in SRIOV mode.   So different tests needed for virtual cards
DLPAR?

[2020-06-05 06:09] smruti77 commented on #1762
its already merge for sriov, need to chnage in yaml for sriov.

[2020-06-08 07:00] abdhaleegit commented on #1716
@vaishnavibhat is working on this

[2020-06-08 09:17] abdhaleegit commented on #1713
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1740

[2020-06-08 09:17] #1713 closed

[2020-06-08 09:58] abdhaleegit commented on #1596
@narasimhan-v this is still open to support multiple disks ?

[2020-06-08 15:29] narasimhan-v commented on #1596
@abdhaleegit Yes, but that will take sometime to close. For now, it supports only single disk. Please change your input files accordingly temporarily

[2020-06-09 04:51] smruti77 commented on #1733
@abdhaleegit this test is working fine, we will get this error when pci address will not pass as string.
[code]

[2020-06-09 04:52] smruti77 commented on #1730
this test is working fine,
[code]

[2020-06-09 05:05] smruti77 commented on #1731
this is also running fine.
[code]

[2020-06-09 06:22] PraveenPenguin commented on #1750
@Gene-Lo here seems me the issue with kernel-devel and running kernel mismatch that's why it not able to get build directory please check that, as I am not able to reproduce this issue in my setup

[2020-06-09 07:08] abdhaleegit commented on #1596
@narasimhan-v thanks

[2020-06-09 07:19] narasimhan-v commented on #1733
@smruti77 there are still some pci devices for which we need to add class names in avocado utils. So, let us confirm if that is the case with the system on which this error is seen.

[2020-06-09 07:21] narasimhan-v commented on #1730
@smruti77 are you trying these on the system where the error eas seen ?

@abdhaleegit if we are not able to reproduce the error outside of CI system, please check the input files, and also the corresponding devices for any issues in them.

[2020-06-09 08:54] smruti77 commented on #1719
@abdhaleegit @narasimhan-v @vaishnavibhat this will be new test or need to include in existing EEH test.

[2020-06-09 10:28] smruti77 commented on #1719
@abdhaleegit @narasimhan-v @vaishnavibhat @manvanthar  where need to automate this test whether in misc-tests or op-test..?

[2020-06-09 11:43] smruti77 commented on #1733
@narasimhan-v i tried on different system.

[2020-06-09 14:54] vaishnavibhat commented on #1719
Hi @smruti77 , EEH for sriov VF is not supported. We used to do it initially with a hmc macro but after that went deprecated, there has been no new way for EEH for sriov vf

[2020-06-09 16:24] narasimhan-v commented on #1719
Thanks for the update @vaishnavibhat. I am closing the issue.

[2020-06-09 16:24] #1719 closed

[2020-06-10 05:55] harish-24 opened #1767 "Removing main imports from all tests"
After the clarification from https://github.com/avocado-framework/avocado/issues/3897, it is advised that main import and its usage should be removed from all test cases.

Post that none of the tests can be used as standalone. Assuming we are already using avocado command line for all the tests, can we go ahead and remove the main usages from all scripts?

@narasimhan-v @PraveenPenguin Your though

[2020-06-10 06:26] narasimhan-v commented on #1767
@harish-24 yes please. Would you mind sending a patch ?

[2020-06-10 07:32] abdhaleegit commented on #1706
Closing this as this is a Code issue

[2020-06-10 07:32] #1706 closed

[2020-06-10 08:58] PraveenPenguin commented on #1767
@harish-24 yes please

[2020-06-10 10:52] smruti77 opened #1768 "[nvme] lvsetup.py: getting avocado crashed after test"
[code]
[code]

[2020-06-11 05:00] smruti77 commented on #1728
software raid test is working fine.
[code]

[2020-06-11 06:38] harish-24 commented on #1767
Closing in favor of #1769

[2020-06-11 06:38] #1767 closed

[2020-06-11 08:07] smruti77 commented on #1768
@narasimhan-v  @Naresh-ibm

[2020-06-11 08:32] narasimhan-v commented on #1768
@smruti77 can you please share :
1. yaml
2. job.log fully
3. lsblk output

[2020-06-11 08:39] smruti77 commented on #1768
[lvsetup.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/4763587/lvsetup.log)
[code]
[code]

[2020-06-11 08:45] narasimhan-v commented on #1768
@smruti77 That is the issue there. You are running tests which creates 100G LV on 28G disk. remove lv_size param from yaml and run please

[2020-06-11 08:49] smruti77 commented on #1768
@narasimhan-v ohh, sorry. yesterday i forget to run after i saw this. and created issue.

[2020-06-11 08:52] smruti77 commented on #1768
@narasimhan-v test is working fine but getting avocado crash.

[2020-06-11 08:52] smruti77 commented on #1768
[code]

[2020-06-11 09:04] narasimhan-v commented on #1768
@smruti77 you need to run it with `--execution-order tests-per-variant`

[2020-06-11 09:05] smruti77 commented on #1768
i run like that only.

[2020-06-11 09:06] narasimhan-v commented on #1768
And test_create_lv will give this issue, and this is expected. Crashes because lv is created, and avocado is not able to delete that.

It is expected.

[2020-06-11 09:07] smruti77 commented on #1768
ok than.

[2020-06-11 09:07] #1768 closed

[2020-06-11 09:08] smruti77 commented on #1729
not getting this issue, test is working fine.
[code]

[2020-06-12 09:46] Gene-Lo commented on #1750
@PraveenPenguin
Excuse me that what kernel-level (EX. 4.18.0-147.8.1.el8_1.ppc64le) did you adopt and run PASS?

[2020-06-15 07:22] Gene-Lo commented on #1632
Dear @PraveenPenguin ,
After we re-test it in Rhel8.1 with Avocado(version:80.0), it still shows "ERROR: Command 'sed -i 's/.*-lm.*/& -lm' Makefile' failed."
[20200615_flail_JOB-LOG.zip](https://github.com/avocado-framework-tests/avocado-misc-tests/files/4778516/20200615_flail_JOB-LOG.zip)

1. We view flail.py, and find that the script lacks below section:
https://github.com/PraveenPenguin/avocado

[2020-06-17 09:28] Gene-Lo opened #1776 "After run avago9361.py in Rhel8.1 with Avocado(version:79.0), it shows " FAIL: Failed to set to off for usefdeonlyencrypt ”"
【Test Result】
After run avago9361.py in Rhel8.1 with Avocado(version:79.0), it shows " FAIL: Failed to set to off for usefdeonlyencrypt ".

《SOL-log》
 (1/3) avago9361.py:Avago9361.test_display;cenario-ae06: PASS (2.43 s)
 (2/3) avago9361.py:Avago9361.test_adjustablerates;cenario-ae06: PASS (1.51 s)
 (3/3) avago9361.py:Avago9361.test_set_on_off;cenario-ae06: FAIL: Failed to set to off for usefdeonl

[2020-06-17 09:40] Gene-Lo opened #1777 "After run avago9361_vd.py in Rhel8.1 with Avocado(version:79.0), it shows " ERROR: a bytes-like object is required, not 'str' ""
【Test Result】
After run avago9361_vd.py in Rhel8.1 with Avocado(version:79.0), it shows " ERROR: a bytes-like object is required, not 'str' ". SOL-log is like below:

 (01/18) avago9361_vd.py:Avago9361.test_createall;Scenario-r0-76fd: PASS (62.25 s)
 (02/18) avago9361_vd.py:Avago9361.test_createall;Scenario-r1-7dbf: PASS (59.94 s)
 (03/18) avago9361_vd.py:Avago9361.test_maxvd;Scenario-r0-76fd: PAS

[2020-06-17 11:02] narasimhan-v commented on #1776
@Gene-Lo

We developed this test code with a certain version of storcli64 binary, and maybe there is a difference with that or certain commands may be outdated or to be run with new options. Can you confirm with Broadcom that this commands are in fact not supported ?
If confirmed, it would help improve the test code with appropriate changes.

I am not sure, since it is failing manually too.
May be

[2020-06-18 08:20] Gene-Lo commented on #1776
@narasimhan-v
After search information in Broadcom's website, below commands are incomplete:
![image](https://user-images.githubusercontent.com/63998174/84995281-65cab300-b17e-11ea-8646-e17e5cba1147.png)

Here is the information we found in website:

【For "set copyback"】
※Complete commands:
./storcli64 /c0 show copyback
./storcli64 /c0 copyback=off type=all
./storcli64 /c0 set copyback=on type=all

[2020-06-18 12:03] narasimhan-v commented on #1776
@Gene-Lo Thanks for the report. Please let us know if #1778 works for you.
We currently do not have the avago 9361 adapter.

Please do let us know what happens with `usefdeonlyencrypt`.

Also, adding a bio would help us know you better, and adding mail ID will help get you report and test credit :-)

[2020-06-18 14:23] narasimhan-v commented on #1777
@Gene-Lo Please check if https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1779 works fine for you.

[2020-06-19 19:17] tfauck opened #1782 "test return code shouldn't be cancel when feature doesn't exist"
When a feature is not present test should return skip instead of cancel/fail so we can easily track outputs.

[2020-06-20 18:30] narasimhan-v commented on #1674
Software raid utils: https://github.com/avocado-framework/avocado/pull/3951
Software raid test: https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1783

[2020-06-20 21:24] narasimhan-v commented on #1782
@tfauck is there a specific test you have this issue with ?

Also, skip and cancel should mean the same.

[2020-06-21 10:38] narasimhan-v commented on #1596
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1784

[2020-06-22 09:34] #1777 closed

[2020-06-22 09:43] narasimhan-v commented on #1745
@manvanthar ^^

[2020-06-22 17:50] narasimhan-v commented on #1745
Was a tricky fix.
The method used to find virtual device type caused this to break.

@manvanthar @abdhaleegit
Have applied a fix to the system, please try it out and let me know if it works.

Have also provided a patch here for reference.

[code]

[2020-06-23 07:49] tfauck commented on #1782
let's take a simple example: memory/migrate_pages.py
Code says
        nodes = memory.numa_nodes_with_memory()
        if len(nodes) < 2:
            self.cancel('Test requires two numa nodes to run.'
                        'Node list with memory: %s' % nodes)
I would prefer to have a return code like skip instead of cancel because the condition to run is not there - The need is to more easily an

[2020-06-23 07:53] abdhaleegit opened #1785 "bonding.py: bonding test fails with error Control socket connect(/root/.ssh/avocado-master-root@111.1.1.224:22):"
[code]

[2020-06-23 07:54] abdhaleegit commented on #1785
@smruti77 to track this for bonding

[2020-06-23 08:01] abdhaleegit commented on #1785
other test logs which uses same utility (ex network_test.py)

[code]

[2020-06-23 08:03] abdhaleegit commented on #1785
I see tcpdump and any other test is creating control files fine
 it is failing exactly at this step
`self.remotehost = RemoteHost(self.peer_first_ipinterface, self.user,
                                     password=self.password)`

if it is a network issue.. it should pass at least one time for bonding ... or fail once for other test... both are not happening

as this is only failing for bonding.

[2020-06-23 09:09] abdhaleegit commented on #1785
this https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1786  fixes the issue

[2020-06-23 09:09] #1785 closed

[2020-06-23 09:30] narasimhan-v commented on #1782
@tfauck self.skip() is deprecated.

[code]

Is there anything specific you want to do in this or list of tests to indicate the states better ?
Please feel free to send a patch for the same.

@PraveenPenguin @harish-24 Your thoughts please.

[2020-06-23 10:22] PraveenPenguin commented on #1782
i think `skip` and `cancel` denote  same meaning for me on the test run prospective again it is a personal  opinion, user perception how he/she perceive this but I can guaranty one thing as this repository we have adopted same way as `skip` got deprecated long back so maybe string message can be altered but we can continue to use `cancel`

[2020-06-23 10:33] harish-24 commented on #1782
As others already mentioned, skip and cancel are considered same. It ideally means environment is not ready to run the test. It could be because a feature is not supported, a package not able to be installed or even not enough nodes present etc..

So all of them are under same category of "environment not ready". If there is any specific use case which is not related to environment, let know here.

[2020-06-23 11:17] manvanthar commented on #1745
Thanks @narasimhan-v  the patch looks fine.    with one minor change i.e the below line need to be removed which was used for debug.

+        self.cancel(self.iface_type)

linux-z4gt:~/tests/tests/avocado-misc-tests/io/net # avocado run Network_config.py -m Network_config.py.data/Network_config.yaml
/usr/lib/python3.6/site-packages/avocado_framework-80.0-py3.6.egg/avocado/plugins/run.py:292: Futu

[2020-06-23 11:18] narasimhan-v commented on #1748
@Naresh-ibm With this latest patch
https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1784

will close this.
Let me know if this still does not work for you

[2020-06-24 04:16] narasimhan-v commented on #1749
@narasimhan-v What do you suggest here ? do we change default function value ? or do we enhance the test result ?

[2020-06-24 04:20] narasimhan-v commented on #1705
@abdhaleegit @smruti77 Is this still an issue ?
If not, please close the issue

[2020-06-24 04:22] narasimhan-v commented on #1726
@abdhaleegit pci_hotplug test yaml parameter changed to `pci_devices`. Please try and update

[2020-06-24 04:24] narasimhan-v commented on #1729
@abdhaleegit Please close this if we are not seeing this issue anymore

[2020-06-24 04:24] narasimhan-v commented on #1730
@smruti77 @abdhaleegit updates please

[2020-06-24 04:25] narasimhan-v commented on #1731
@smruti77 is this on the system it failed ?

[2020-06-24 04:26] narasimhan-v commented on #1733
Waiting for ssytem and adapter details to add to avocado utils @abdhaleegit

[2020-06-24 06:44] smruti77 commented on #1616
#1661

[2020-06-24 06:44] smruti77 commented on #1605
#1620

[2020-06-24 07:57] #1605 closed

[2020-06-24 09:19] abdhaleegit commented on #1616
Done

[2020-06-24 09:19] #1616 closed

[2020-06-24 09:51] #1596 closed

[2020-06-28 16:21] #1782 closed

[2020-07-01 06:33] #1745 closed

[2020-07-01 10:02] abdhaleegit opened #1798 "netperf : test failing after network utils changes (netserver not starting at peer)"
04:42:37 DEBUG| [stdout] make[2]: Nothing to be done for 'all-am'.
04:42:37 DEBUG| [stdout] make[2]: Leaving directory '/var/tmp/avocado_4_bwyzg9/netperf/netperf-netperf-2.7.0'
04:42:37 DEBUG| [stdout] make[1]: Leaving directory '/var/tmp/avocado_4_bwyzg9/netperf/netperf-netperf-2.7.0'
04:42:37 INFO | Command 'make' finished with 0 after 7.294034719467163s
04:42:37 DEBUG| PARAMS (key=EXPECTED_THRO

[2020-07-01 10:06] abdhaleegit commented on #1798
[code]

[2020-07-01 16:29] narasimhan-v commented on #1634
depends on v2 of https://github.com/avocado-framework/avocado/pull/2642
Deferring it until then.

[2020-07-02 10:35] narasimhan-v opened #1800 "Handle ssh and scp using utils for nvmftest"

[2020-07-02 11:26] smruti77 opened #1802 "fix for passwordless ssh hmc and vios to avoid ssh-keygen"

[2020-07-02 11:27] smruti77 commented on #1802
#1801

[2020-07-03 10:00] abdhaleegit opened #1803 "bootlist test failing for vfc multipath devices"
[root@1b-lp1 avocado-fvt-wrapper]# python avocado-setup.py --run-suite host_io_vfc --output-dir /home/ioci/logs/io_vfc --no-deps-check --input-file /root/korg-zz1b-lp1-input.txt
06:06:03 INFO    : Check for environment
06:06:03 INFO    : Creating temporary mux dir
06:06:44 INFO    :
06:06:44 INFO    : Running Host Tests Suite io_vfc_bootlist_test_bootlist_test_disk
06:06:44 INFO    : Running: /usr

[2020-07-03 10:05] abdhaleegit opened #1804 "vfc: disk_info.py : ERROR: list index out of range"
[code]

06:20:48 INFO    : Running Host Tests Suite io_vfc_disk_info_disk_info
06:20:48 INFO    : Running: /usr/local/bin/avocado run avocado-misc-tests/io/disk/disk_info.py -m /tmp/mux/io_vfc_disk_info_disk_info.yaml --force-job-id 94bd167ba41f4c71ab082c71ef50c00c8421afdb  --job-results-dir /home/ioci/logs/io_vfc/results
/usr/local/lib/python3.6/site-packages/avocado_framework-80.0-py3.6.egg/avoc

[2020-07-03 10:20] abdhaleegit opened #1805 "vfc : fio fails for no_fs no_lv"
[code]

[2020-07-03 10:29] abdhaleegit opened #1806 "vfc: multipath.py IndexError: list index out of range"
[code]

[2020-07-06 17:37] abdhaleegit opened #1810 "vfc: smartctl tests fails"
[code]
[code]

[2020-07-06 17:40] abdhaleegit opened #1811 "softwareraid: level 6 fails with less devices"
[code]

[2020-07-06 17:53] abdhaleegit opened #1812 "htx_block_device: https://github.com/open-power/HTX/archive/master.zip compile fails"
[code]

[2020-07-06 17:56] abdhaleegit opened #1813 "io/disk/scsi_add_remove.py : TestSetupFail: list index out of range"
[code]

[2020-07-06 18:36] abdhaleegit opened #1814 "virtual_fc.py : test_create_delete_vfchost fails"
[code]

[2020-07-07 10:05] narasimhan-v commented on #1776
@Gene-Lo did you get a chance to verify #1778 ?

[2020-07-07 11:46] narasimhan-v commented on #1811
@abdhaleegit what is the issue here ? The test works as expected.

[2020-07-07 14:11] narasimhan-v commented on #1805
@abdhaleegit This is a generic issue, though I have not seen this consistently.

There is already an issue open #1738 . Please check if see if they can be tracked via one issue.

[2020-07-07 16:45] narasimhan-v commented on #1812
@abdhaleegit can you please raise this in HTX project.

[2020-07-07 17:36] #1802 closed

[2020-07-08 08:38] abdhaleegit commented on #1705
this is the error due to veth in UNKNOWN state

[2020-07-08 08:38] #1705 closed

[2020-07-08 09:24] Gene-Lo commented on #1777
Dear @narasimhan-v

After we run avago9361_vd.py in Rhel8.1 with Avocado(version:80.0), the previous bug " ERROR: a bytes-like object is required, not 'str' " is successfully fixed:
![SOL-log](https://user-images.githubusercontent.com/63998174/86901153-cbd3a600-c13e-11ea-87db-c5ed51ef37d8.png)
※Note: The **CANCEL items** "Test not applicable for Raid0" are expected because our HW doesn’t support t

[2020-07-08 11:05] abdhaleegit opened #1815 "virtual_bind_unbind.py : fails for network test with error failed to detect the test disk"
03:14:38 DEBUG| PARAMS (key=virtual_slot, path=*, default=None) => ''
03:14:38 INFO | Running 'lsslot'
03:14:38 DEBUG| [stdout] # Slot                     Description       Linux Name    Device(s)
03:14:38 INFO | Command 'lsslot' finished with 0 after 0.03484749794006348s
03:14:38 DEBUG| [stdout] U9009.42A.13C6F1W-V3-C0    Virtual I/O Slot  30000000      vty
03:14:38 DEBUG| [stdout] U9009.42A.13C6

[2020-07-08 11:06] narasimhan-v commented on #1777
@Gene-Lo If a test works manually, and fails via automation, then we can check it.
If it fails manually too, then it can be a bug. Please check with the vendor of the adapter.

[2020-07-08 13:16] abdhaleegit commented on #1815
it did not had proper input param

[2020-07-08 13:16] #1815 closed

[2020-07-09 03:41] Gene-Lo commented on #1777
@narasimhan-v
Today we manually tested it again, and found something strange:

(1) When it just finished "migrate", we input "/root/storcli64 /c0/v0 start migrate type=raid5                    option=add drives=252:5", and the result showed fail:
![image](https://user-images.githubusercontent.com/63998174/86994059-13f2d700-c1d8-11ea-90ab-949d3d4666e0.png)

(2) However, after 2~3 minutes, we input

[2020-07-09 07:05] narasimhan-v commented on #1777
@Gene-Lo This needs more discussion. Can you open a separate issue for this please.

[2020-07-09 07:27] Gene-Lo opened #1817 "After run avago9361_vd.py in Rhel8.1 with Avocado(version:80.0), it shows "FAIL: Failed to migrate""
After run avago9361_vd.py in Rhel8.1 with Avocado(version:80.0), it shows "FAIL: Failed to migrate"

![1](https://user-images.githubusercontent.com/63998174/87009636-05b4b300-c1f8-11ea-96fe-ac26ad9b1213.png)
※Note: The CANCEL items "Test not applicable for Raid0" are expected because our HW doesn’t support the function.

《job.log》
[20200708-avago9361_vd-JOB_LOG.zip](https://github.com/avocado-fram

[2020-07-09 07:29] Gene-Lo commented on #1777
@narasimhan-v
The new issue is open: #1817

[2020-07-09 08:23] manvanthar commented on #1817
No this is not an test script issue.  script is doing it right by checking the progress before reporting it as an failed /Pass.     We do not add random sleep.   Even if we did it wont serve the purpose.

This should be an storcli or firmware issue, please check with LSI on expectation of using the drive for migration.

If consistency check is in progress, the right status should be in-progress fo

[2020-07-10 03:13] Gene-Lo commented on #1817
@manvanthar
Today we alternatively used "**Micron 5100 PRO; SSD; 960GB; 2.5"; SATA; 6Gb/s; 2.5 DWPD; NonSED**" to test avago9361_vd.py again, and the result of **Item 17** still had the same issue, which means that after it finished "migrate", it is necessary to wait for 2~3 minutes, so that the command "**/root/storcli64 /c0/v0 start migrate type=raid5 option=add drives=252:5**" would become Succ

[2020-07-14 09:51] smruti77 commented on #1798
@abdhaleegit netperf is running fine for me, not a test script issue.
[code]

[2020-07-15 08:17] abdhaleegit commented on #1733
closing as this is fixed

[2020-07-15 08:17] #1733 closed

[2020-07-15 10:28] narasimhan-v commented on #1674
Software raid enablement for fio: https://github.com/avocado-framework-tests/avocado-misc-tests/pull/1821

[2020-07-15 11:37] harish-24 opened #1822 "Using software_manager.build_dep method for package dependencies"
Idea is to make use of the `software_manager.build_dep` method to install build dependencies of packages which need building. We usually keep appending package list (for build dependencies) to each test that requires package building. Using this would reduce the overhead of maintaining the packages.

Eg:
[code]
gets replaced by
[code]

This would help us easily maintain dependencies, only add-on i

[2020-07-16 04:18] narasimhan-v opened #1823 "create scenario for bond and mtu change"

[2020-07-16 04:26] narasimhan-v commented on #1811
@abdhaleegit Please check readme, where it states 5 disks are needed to run all levels. This is because one of the disk is used as spare.

[2020-07-17 10:53] harish-24 opened #1825 "Create a helper library for utilities specific to tests"
More often than not we use a lot of code which is repetitive across tests. The obvious solution is to use avocado framework, and yes we should continue to do so. But there are still quite a few use cases which still cannot go into avocado but still repeats per test.

A basic example would be steps to install packages for each test. There should be a few more which can still be moved as helpers.
@n

[2020-07-17 11:38] narasimhan-v commented on #1825
My thoughts:

Push as much common code to avocado utils as possible, as is the current model.

When some code is common but can not go into avocado, it is better to have a discussion in avocado and come up with a semi-util / helper model for it in avocado itself. There are more pros to doing that than this approach of helpers. Once we have a good number of helpers which can not go into avocado, th

[2020-07-17 11:44] narasimhan-v commented on #1822
@harish-24  `smm.install()` uses native distro package install method, which should take care of dependencies, right ?

[2020-07-20 04:48] harish-24 commented on #1822
@narasimhan-v Those are dependencies of the package, What I meant is dependencies for building the package.

[2020-07-20 05:07] narasimhan-v commented on #1822
@harish-24 Can you elaborate please. I am not able to understand the problem exactly.

[2020-07-20 06:00] harish-24 commented on #1822
As indicated in the snippet of description, let us say we have to build a ndctl binary from upstream source and hence we need those set of packages to be installed beforehand for building the binary. Using the `smm.build_dep` we will be able to leverage the SPEC file from the source of the package to find the list of build dependencies of the same (with source repository configured).

Thus avoidin

[2020-07-20 06:03] narasimhan-v commented on #1822
@harish-24 Yes, very clear in that. So this is just in a small number of tests, right ?

[2020-07-20 06:17] harish-24 commented on #1822
@narasimhan-v yes, but most of those tests have a lot of dependencies.

[2020-07-20 06:34] narasimhan-v commented on #1822
@harish-24
If is is easier for test maintenance, we can do this to those specific tests. But we need to make sure this is:

1. Documented in Readme clearly
2. When this is run in an environment like CI, we need some control over the repositories that should be set up. @PraveenPenguin Your take here ?

[2020-07-20 06:38] PraveenPenguin commented on #1825
I think this we discuss i think some time back as well as @narasimhan-v said please try to push everything in avocado itself and this repo only for test case

[2020-07-20 06:43] harish-24 commented on #1822
@narasimhan-v Sound good to me.

[2020-07-21 09:37] smruti77 commented on #1674
lv and software raid for tiobench,bonnie,ltp_fs : #1830

[2020-07-23 07:12] Naresh-ibm commented on #1674
if we are including the software raid here then in software raid test script we have to keep only SRaid options only. and not any other features. And I feel no need of more yaml files there.

@narasimhan-v  we can also leverage these option for even disktest, rawread, fsstress. I could see htx and ltp_fs is already in list.

[2020-07-23 07:19] narasimhan-v commented on #1674
Sure @Naresh-ibm we can get this into fsstress and disk test. Rawread should be run only on raw disk, so we can ignore that.

[2020-07-23 07:21] narasimhan-v commented on #1674
@smruti77 Please work on getting this integrated into disktest and fsstress also, once the other tests are done.

[2020-07-23 16:01] #1776 closed

[2020-07-24 05:45] smruti77 commented on #1674
@narasimhan-v ok

[2020-07-24 06:13] smruti77 commented on #1674
FS,LV and Software raid for dbench,fs_mark, iozone,ltp_fsstress : #1834

[2020-07-24 06:36] narasimhan-v opened #1835 "Software raid enhancements"
Add parity, layout, verify re-assemble

https://www.man7.org/linux/man-pages/man8/mdadm.8.html
http://fibrevillage.com/storage/676-how-to-fix-linux-mdadm-inactive-array

[2020-07-28 09:09] vaishnavibhat opened #1840 "enable driver_parameter.py test to use latest netowrk utility"
driver_parameter.py is using configure-network.py , the older network utility under avocado/avocado/utils .
This needs to be modified to use newer files under avocado/avocado/utils/network

[2020-07-30 05:14] smruti77 commented on #1840
#1843

[2020-07-30 10:45] smruti77 commented on #1674
LV, Software Raid for disktest : #1844

[2020-07-30 10:46] smruti77 commented on #1674
LV,Software Raid for htx_block_devices: #1849

[2020-07-30 11:04] smruti77 commented on #1731
on different system

[2020-07-30 11:26] #1632 closed

[2020-07-31 04:11] smruti77 commented on #1762
[dlpar.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/5005019/dlpar.log)

[2020-08-06 06:35] vaishnavibhat opened #1852 "dlpar for veth interface"
I have two veth interface on my OS. Based on the dlpar script, I ran the commands manually and see this on my Error.

SVEA   Physloc
------ --------------------------------------------
ent5   U9040.MR9.133CF0X-V200-C3-T1

SEA                 NO SHARED ETHERNET ADAPTER FOUND

SVEA   Physloc
------ --------------------------------------------
ent9   U9040.MR9.133CF0X-V200-C4-T1

SEA

[2020-08-06 08:19] Gene-Lo commented on #1632
@narasimhan-v @PraveenPenguin
Today we re-install the latest Avocado (Version: 80.0), and run flail.py again. However, the results are still FAIL.
We run flail.py for 4 times, and weirdly we get 4 different results:

1. Hangup
After run flail.py, it shows "Hangup", while no "Avocado-Result (PASS ? | ERROR ? | FAIL ? | ...)" shows up.
![Hangup](https://user-images.githubusercontent.com/63998174/895

[2020-08-06 08:35] Gene-Lo commented on #1632
Here are sosreport of "3.【Auto-Reboot】" and "4.【Manual-Stop】":
[3.Auto-Reboot_sosreport.zip](https://github.com/avocado-framework-tests/avocado-misc-tests/files/5033592/3.Auto-Reboot_sosreport.zip)
[4.Manual-Stop_sosreport.zip](https://github.com/avocado-framework-tests/avocado-misc-tests/files/5033593/4.Manual-Stop_sosreport.zip)

[2020-08-06 09:25] narasimhan-v commented on #1632
@Gene-Lo This is new issue, can you please open a new issue and assign to @PraveenPenguin

Reason being: the original issue here was Makefile editing, which is fixed and thus this issue is closed.

[2020-08-07 01:35] Gene-Lo opened #1853 "After run flail.py in Rhel8.1 with Avocado(version: 80.0), it can't complete test and shows different results"
After we install the latest Avocado (Version: 80.0) to run flail.py, it can't complete test. We run flail.py for 4 times, and weirdly we get 4 different results:

1.【Hangup】
　After run flail.py, it shows "Hangup", while no "Avocado-Result (PASS ? | ERROR ? | FAIL ? | ...)" shows up.
![1](https://user-images.githubusercontent.com/63998174/89598967-c5952e80-d890-11ea-96c4-6b333cb655e6.jpg)
[1.Hangup

[2020-08-07 01:45] Gene-Lo commented on #1632
@narasimhan-v @PraveenPenguin
We have opened a new issue at #1853
Many thanks for all your kindly support!!

[2020-08-10 07:40] abdhaleegit commented on #1852
@vaishnavi it is a phype issue, please open a cq

[code]
as the same commands work fine for my similar CI setup

[code]

[2020-08-10 07:41] abdhaleegit commented on #1852
please close this issue

[2020-08-17 02:15] Gene-Lo commented on #1753
After we re-test kprobe.py in Rhel8.2 with Avocado (Version: 80), it shows the same fail:

(1/1) kprobe.py:Kprobe.test:  FAIL: kprobe probing issues, check dmesg for more information (198.77 s)
RESULTS    : PASS 0 | ERROR 0 | FAIL 1 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 0

【Test log】
[20200812-RAS-kprobe-job.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/5081819/202008

[2020-08-17 02:28] Gene-Lo commented on #1630
After we re-test perftool.py in Rhel8.2 with Avocado (Version: 80), it shows similar fail:

 (1/1) perftool.py:Perftool.test:  FAIL: 262 Test failed (3080.83 s)
RESULTS    : PASS 0 | ERROR 0 | FAIL 1 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 0

【Test log】
[20200812-Distro-perftool-job.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/5081859/20200812-Distro-perftool-job.log)

[2020-08-17 07:20] nasastry commented on #1630
@Gene-Lo the above failure is not from the test script. The test script uses test cases from 'https://github.com/rfmvh/perftool-testsuite/', the failures you are seeing in the above are from this test suite. I am working with the maintainer to resolve the failures on ppc64le architecture. Since these tests are for other architecture also that's the reason why it's taking time to resolve. Thanks!!

[2020-08-19 08:38] Gene-Lo opened #1863 "After run tcpdump.py in Rhel8.2 with Avocado(version: 80.0), it suspends."
After run tcpdump.py in Rhel8.2 with Avocado(version: 80.0), it suspends. Take below results for example:

【Example 1】
※Network Card: Marvell_QUAD E'NET (2X1 + 2X10 10Gb), PCIe Gen 2 X8/SHORT LP CAPABLE (SHINER SFP+ SR COPPER)
※SOL log:
![image](https://user-images.githubusercontent.com/63998174/90611257-14e84100-e239-11ea-8d34-73f26b4778b6.png)
※job-log:
[20200816-Network9-tcpdump-job.log](https:

[2020-08-21 09:51] abdhaleegit opened #1866 "htx_nic_devices fails"
[code]

[2020-08-25 06:36] PraveenPenguin commented on #1853
Flail test is expected a lot of systems resources some if resources are not available in system it will starve and the system will be unresponsive, flail is kind of stress test of the system as flail  test suite has multiple config that can be run as default what test has is disk test, Here I think we can do two this
1- we can add ReadME for Test listing how many configs we have
2- in YAML also li

[2020-08-26 05:06] smruti77 commented on #1866
@abdhaleegit system access.

[2020-08-26 10:45] vaishnavibhat commented on #1863
Hi,
From the logs attached, I see that nping_count value is not set . We need to provide around 15-20 count more than than the count value. count is set to 100 by default. Can you please set the nping_value to 115 and try out the test?

[code]

From the different screenshots attached, this is my explanation. I would recommend you to retry the tests with nping_count and see if its recreated.
Exampl

[2020-08-27 08:39] abdhaleegit commented on #1863
I also seeing similar issues, this has happen after recent enhancement with tcpdump .. the test never completed after around 80 scenarios of 333 scenarios.. it is hung here

[36611.768878] bnx2x 0010:01:00.0 enP16p1s0f0: NIC Link is Up, 1000 Mbps full duplex, Flow control: none
 (079/333) avocado-misc-tests/io/net/tcpdump.py:TcpdumpTest.test;run-mtu-7000-options-IPv4_numeric-0292:  PASS (81.79 s)

[2020-08-31 05:04] #1728 closed

[2020-08-31 09:35] bych-github opened #1871 "Can I add a new test script?"
Can I add a new test script? About the test of some basic commands,such as rmdir cp mv ...

[2020-08-31 15:05] harish-24 commented on #1871
These tests are already covered in LTP here - https://github.com/linux-test-project/ltp/tree/master/testcases/commands. As it can be run through https://github.com/avocado-framework-tests/avocado-misc-tests/blob/master/generic/ltp.py it is better not to replicate. But if you think the scenario to test is different you can certainly send it. As long as the test is unique and provides some newer val

[2020-09-01 01:10] bych-github commented on #1871
ok thanks!

[2020-09-01 01:10] #1871 closed

[2020-09-01 11:26] sacsant commented on #1750
I was execute the test correctly on a RHEL 8.x.

 # avocado run kernel/livepatch.py
JOB ID     : 20f60e5b1a9e541e0bb34ee47af905d65b434b8b
JOB LOG    : /home/results/job-2020-09-01T16.46-20f60e5/job.log
 (1/1) kernel/livepatch.py:Livepatch.test: PASS (183.15 s)
RESULTS    : PASS 1 | ERROR 0 | FAIL 0 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 0
JOB HTML   : /home/results/job-2020-09-01T16.46-20f60e5/r

[2020-09-10 18:26] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:26] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-10 18:27] manvanthar commented on #1762
Thanks Smruthi

[2020-09-14 05:49] Gene-Lo opened #1882 "After run numa_test.py in Rhel8.2 with Avocado(version: 81.0), it shows FAIL and ask to check logs for failure"
After run numa_test.py in Rhel8.2 with Avocado(version: 81.0), it shows FAIL and ask to check logs for failure.

《SOL log》
![image](https://user-images.githubusercontent.com/63998174/93047979-59c49380-f690-11ea-9f0a-c0a6fe42c977.png)

《job log》
![image](https://user-images.githubusercontent.com/63998174/93047903-297cf500-f690-11ea-83f8-5eecb39f2860.png)

《Test log》: JOB-log & Manual-Test-log
[Test

[2020-09-14 06:32] Gene-Lo opened #1883 "After run systemtap.py in Rhel8.2 with Avocado(version: 81.0), it shows "kernel-debuginfo is needed for the test to be run""
After run systemtap.py in Rhel8.2 with Avocado(version: 81.0), it shows "kernel-debuginfo is needed for the test to be run".
However, we cannot install kernel-debuginfo in Rhel8.2.
Please kindly check if Rhel8.2 supports to install kernel-debuginfo and run systemtap.py successfully.

《SOL log》
![systemtap](https://user-images.githubusercontent.com/63998174/93051250-c0e54680-f696-11ea-8c07-c4b644aa

[2020-09-14 07:33] Gene-Lo opened #1884 "After run kselftest.py in Rhel8.2 with Avocado(version: 81.0), it shows "FAIL: Testcase failed during selftests""
After run kselftest.py in Rhel8.2 with Avocado(version: 81.0), it shows "FAIL: Testcase failed during selftests".

《SOL log》
![image](https://user-images.githubusercontent.com/63998174/93055799-1113d700-f69e-11ea-8928-26a34cc921ab.png)

《job log》
【INIT 1】
L0416 DEBUG| [stderr] perl: warning: Falling back to a fallback locale ("en_US.UTF-8").
L0416 DEBUG| [stdout] not ok 1 selftests: vm: run_vmtest

[2020-09-14 08:03] Gene-Lo opened #1885 "After run pjdfstest.py in Rhel8.2 with Avocado(version: 81.0), it shows "failed: Command 'prove -rv tests' failed""
After run pjdfstest.py in Rhel8.2 with Avocado(version: 81.0), it shows "failed: Command 'prove -rv tests' failed"

《SOL log》
![image](https://user-images.githubusercontent.com/63998174/93059025-bd57bc80-f6a2-11ea-89f8-60dd6f38a23d.png)

《job log》
![image](https://user-images.githubusercontent.com/63998174/93059754-c4cb9580-f6a3-11ea-9f56-573815f495d4.png)

《Test log》: job-log & Manual-Test-log
[T

[2020-09-14 08:49] Gene-Lo opened #1886 "After run glibc.py in Rhel8.2 with Avocado(version: 81.0), it shows " ERROR: Command 'make' failed.\nstdout: b'make -r PARALLELMFLAGS="" ""
After run glibc.py in Rhel8.2 with Avocado(version: 81.0), it shows " ERROR: Command 'make' failed.\nstdout: b'make -r PARALLELMFLAGS="" ".

《SOL log》
![image](https://user-images.githubusercontent.com/63998174/93063975-92bd3200-f6a9-11ea-9274-17876ea442a7.png)

《joblog》
【INIT 1】
L0416 DEBUG| [stdout] make[2]: Leaving directory '/var/tmp/avocado_tsro15c8/avocado_job_ro6o5zqi/1-glibc.py_Glibc.test_

[2020-09-14 10:02] PraveenPenguin commented on #1885
@Gene-Lo I think this is Distro  defect please raise against Distro,  as a misc test just run this test suite if test suite failed it use to report test fail

[2020-09-14 10:06] Gene-Lo commented on #1885
@PraveenPenguin
Could you give me the link of "Distro"? Thanks!!

[2020-09-15 01:04] Gene-Lo opened #1887 "After run perf_c2c.py in Rhel8.2 with Avocado(version: 81.0), it shows " Command perf c2c report -c pid,tid,iaddr,dso failed ""
After run perf_c2c.py in Rhel8.2 with Avocado(version: 81.0), it shows " Command perf c2c report -c pid,tid,iaddr,dso failed: Command 'perf c2c report -c pid,tid,iaddr,dso' failed. "

《SOL log》
![1](https://user-images.githubusercontent.com/63998174/93151925-dfe3e700-f72f-11ea-8afa-e471109c4150.jpg)
![2](https://user-images.githubusercontent.com/63998174/93151930-e4100480-f72f-11ea-8e1c-c86c85fee4

[2020-09-15 07:22] harish-24 commented on #1884
@Gene-Lo All the tests failures indicates either test bug or distro bug. Please raise the defect at respective places after investigating.

[2020-09-15 07:26] harish-24 commented on #1882
@Gene-Lo This looks to a bug, please raise against the distribution.

[2020-09-18 08:23] Gene-Lo opened #1890 "After run lvsetup.py in Rhel8.2 with Avocado(version: 81.0), it shows "ERROR: Command 'vgcreate avocado_vg /dev/sda' failed""
After run lvsetup.py in Rhel8.2 with Avocado(version: 81.0), it shows "ERROR: Command 'vgcreate avocado_vg /dev/sda' failed"

《SOL log》
※Test results:
![image](https://user-images.githubusercontent.com/63998174/93573675-015fff80-f9ca-11ea-920c-00e758e4480c.png)

※yaml file:
![image](https://user-images.githubusercontent.com/63998174/93574028-75020c80-f9ca-11ea-9ce6-d24aec3286ca.png)

※Check sda vi

[2020-09-20 04:40] Gene-Lo opened #1892 "After run rdma_tests.py in Rhel8.2 with Avocado(version: 82.0), it shows " FAIL: Client cmd: ib_atomic_bw -F ""
After run rdma_tests.py in Rhel8.2 with Avocado(version: 82.0), it shows " FAIL: Client cmd: ib_atomic_bw -F ".

【Test Step】
Step 1. Prepare 2 terminals while each one is equipped with 1 Network-Card. Then connect the 2 Network-Cards with each other.
※Network-Card: Mellanox_2-PORT 10Gb NIC&ROCE ConnectX-4Lx SR/Cu PCIe 3.0 LP CAPABLE ADAPTER

Step 2. Edit yaml file: /root/tests/tests/avocado-misc-t

[2020-09-20 05:00] Gene-Lo opened #1893 "After run rping.py in Rhel8.2 with Avocado(version: 82.0), it shows " FAIL: Client command failed ""
After run rping.py in Rhel8.2 with Avocado(version: 82.0), it shows " FAIL: Client command failed "

【Test Step】
Step 1. Prepare 2 terminals while each one is equipped with 1 Network-Card. Then connect the 2 Network-Cards with each other.
※Network-Card: Mellanox_2-PORT 10Gb NIC&ROCE ConnectX-4Lx SR/Cu PCIe 3.0 LP CAPABLE ADAPTER

Step 2. Edit yaml file: /root/tests/tests/avocado-misc-tests/io/net/

[2020-09-21 01:28] Gene-Lo opened #1894 "After run linsche.py in Rhel8.2 with Avocado(version: 82.0), terminal crashes and hangs on"
After run linsche.py in Rhel8.2 with Avocado(version: 82.0), terminal crashes and hangs on:
![image](https://user-images.githubusercontent.com/63998174/93727087-10be9300-fbec-11ea-9e5f-5f197d4b80c2.png)

Since it's been hanging on for a long time, we decide to stop it by manual:
![image](https://user-images.githubusercontent.com/63998174/93727159-6abf5880-fbec-11ea-8fea-3049ee7d504e.png)

Then, we

[2020-09-21 02:17] Gene-Lo commented on #1863
Dear @vaishnavibhat

After we edit the yaml file, and then run tcpdump.py again in Rhel8.2 with Avocado(version: 82.0), it doesn't suspend. However, some items show "ERROR: Could not get operational link state".

【Test Step】
Step 1. Prepare 2 terminals while each one is equipped with 1 Network-Card. Then connect the 2 Network-Cards with each other.
※Network-Card: Broadcom 5719 QP 1G (1G/100M/10M)

[2020-09-21 06:10] Gene-Lo commented on #1890
After we install Avocado(Version: 82.0) and run lvsetup.py again, the results can become PASS.
![image](https://user-images.githubusercontent.com/63998174/93736834-25af1c80-fc14-11ea-9811-e9e5ea30e413.png)

Many thanks for you help!!

[2020-09-21 06:10] #1890 closed

[2020-09-23 05:51] Gene-Lo opened #1897 "After run bonding.py in Rhel8.2 with Avocado(version: 82.0), it shows "FAIL: bond name already exists on local machine""
After run bonding.py in Rhel8.2 with Avocado(version: 82.0), it shows "FAIL: bond name already exists on local machine".

【Test Step】
Step 1. Prepare 2 terminals while each one is equipped with 1 Network-Card. Then connect the 2 Network-Cards with each other.
※Network-Card: Broadcom 5719 QP 1G (1G/100M/10M) Network Interface Card PCIe x4 LP
→The Network-Card has 4 ports. We connect 2 of them with

[2020-09-27 18:21] #1762 closed

[2020-09-29 06:11] vaishnavibhat commented on #1863
Hi,

This mostly looks like a timing issue during MTU change . When a MTU change occurs, there is a link down - link up happening subsequently. Currently there is a timeout of 30s for this process. Here it looks like its taking a longer time for the same.  I have posted this patch to increase the timeout. Addressing the review comments and waiting to get accepted.
https://github.com/avocado-framew

[2020-09-30 16:14] cforno12 commented on #1897
Hi @Gene-Lo , I see that the interface is already created before running this test.

[code]

[2020-10-05 02:41] Gene-Lo opened #1918 "After run ltrace.py in Rhel8.2 with Avocado(version: 82.0), it shows "ERROR: Command '/bin/git fetch -q -f -u -t git://git.debian.org/git/collab-maint""
After run ltrace.py in Rhel8.2 with Avocado(version: 82.0), it shows "ERROR: Command '/bin/git fetch -q -f -u -t git://git.debian.org/git/collab-maint"
![image](https://user-images.githubusercontent.com/63998174/95035264-2311f400-06f7-11eb-94fb-ef908cd89e09.png)

【Test log】
1. job.log
[job.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/5324928/job.log)
《INIT 1-ltrace.py》

[2020-10-07 02:33] Gene-Lo commented on #1897
Ｉ. After we run bonding.py again with Network-Card, **Broadcom_5719**, the result is still FAIL:
![Result](https://user-images.githubusercontent.com/63998174/95279477-64d0a500-0885-11eb-9b45-d99ca1f94391.JPG)

【Test Step】
1. Prepare 2 terminals while each one is equipped with 1 Network-Card. Then connect the 2 Network-Cards with each other.
2. Change Network-Cards's setting via below SOP:
[SOP of

[2020-10-12 05:57] Gene-Lo commented on #1863
@vaishnavibhat
If it is script's issue, then could you kindly check if the results of Manual-Test-log is expected and can be defined PASS ?
(The commands of Manual-Test-log are gained from job.log)
Or could you give us the correct commands for manual-test ?
![image](https://user-images.githubusercontent.com/63998174/95708078-f1b49d80-0c8d-11eb-8e58-718f3e2e7faf.png)
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓

[2020-10-13 05:08] Gene-Lo commented on #1753
After we re-test kprobe.py in Rhel8.2 with Avocado (Version: 82), it shows the same fail:

 (1/1) kprobe.py:Kprobe.test:  FAIL: kprobe probing issues, check dmesg for more information (144.77 s)
RESULTS    : PASS 0 | ERROR 0 | FAIL 1 | SKIP 0 | WARN 0 | INTERRUPT 0 | CANCEL 0

【job.log】
[job.log](https://github.com/avocado-framework-tests/avocado-misc-tests/files/5369025/job.log)
L0086 INFO | ====